---
layout: layouts/scenario.njk
production_date: 2026-02-11
section: archive
category: scenario
viewpoint: null
persons:
  - 篠原堅
  - 戸次信長
sensitive: false
rating: All-Age
content_warnings:
title: タチ不足
timeline:
  sort_key: 2017050601
  fictional_year: 2017
  fictional_month: 
  fictional_day: 
  phase: FANG
  routes:
   - fang
  status: fixed
  summary: 篠原堅と戸次信長が背中合わせで雑談する。
---

戸次と篠原が例によって背中合わせで座っている。
戸次は好物のコーラのボトルを手に持っている。篠原はココアだ。
これは本田の好みであって篠原は好きじゃない。
本当はブラックコーヒーがいいが、自律神経をいわしているので仕方なくココアを選んでいる。精神安定剤だ。

戸次「もうマジ限界。ムラムラする。」

戸次「タチ不足ッ！」

戸次「カノジョもいないしッ！！」
篠原「……誰か探さないんですか」
戸次「うーん？まあねえ…」
篠原「……戸次さんなら相手は見つかるはずです……」

篠原「いや」
篠原「探せ。」

戸次「篠原さぁん」
戸次が心配そうな声を上げた。
戸次「人格2つない？？？」
篠原は深いため息をつきながら顔を覆った。
肘をつき、手のひらに顔を強く押し付ける。
篠原「………かもな」
篠原「人格は父に弄られるし身体はお前に調教されるしでめちゃくちゃだ……」
戸次「ごめ〜〜〜ん！！ほんとゴメン！！！」