---
layout: layouts/episode.njk
production_date: 2019-04-27
category: episode
phase: PROJECTION
viewpoint: 戸次信長
title: Don't enter the TERITORRY(1/3)
summary: ペットショップの過酷な現実を知る戸次は、いい加減な飼い方をする人間を許せなかった。しかし、不運にもバイト先でそんな飼い主と出会ってしまい...!?
thumbnail: thumb.webp
page_count: 19
timeline:
  sort_key: 2016051001
  fictional_year: 2016
  fictional_month: 5
  fictional_day: 10
---