---
layout: layouts/scenario.njk
production_date: 2026-08-10
section: archive
category: scenario
viewpoint: null
persons:
  - 篠原堅
  - 戸次信長
sensitive: true
rating: R18-G
content_warnings:
  - 性行為
  - 支配関係
title: 終着点
timeline:
  sort_key: 2016120101
  fictional_year: 2016
  fictional_month: 12
  fictional_day: 
  phase: PROJECTION
  route_type: common
  routes: 
   - all
  status: fixed
  summary: 篠原堅が、完全に戸次信長に支配される。
dev_comment: |
  2026年FANG世界線
  堅「...どうしてあんなふうになったんだ...？」
  堅「全く思い出せない」
  堅「......」
  堅「恥ずかしくなってきたッ///」
  戸次の胸の鼓動を聞いて安らいでいた感触を思い出して大変赤面している！

  2017年SKIN世界線
  堅「本音を口にしたら嘲笑されるんだから、初めから何も感じないようにするに決まってるだろ」
  堅「俺にとっては世界に対して所感を抱くこと自体が恐怖だったなのに」
  堅「クソ親父に全て読み取られて何かに利用されてはたまらないからな」
  堅「この報復は必ず完遂する」
  堅「父親にも、恋人にもだ」
---

いつも通り、戸次信長は篠原堅を遊びに誘い、二人は戸次が選んだ街に繰り出した。

いつも通り、戸次は自分が行きたかった場所を選び、篠原を連れていった。

いつも通り、戸次は期待していた遊びではしゃぎ、篠原に無邪気な感想をしゃべりたおした。

いつも通り、篠原はその戸次の言葉に必要最小限の応答だけ返した。

いつも通り、その後遊び疲れた戸次は篠原をホテルに誘った。

いつも通り、篠原はその誘いを了承した。

いつも通り、篠原のその声は機械的だった。

いつも通り、二人はホテルでその時空いている一番安い部屋を選んだ。

いつも通り、二人は一緒にシャワーに入り、身体を洗った。

いつも通り、戸次はその流れで全裸のままベッドに篠原を連れ込んだ。

いつも通り、戸次は篠原を愛撫し、身体を繋げた。

いつも通り、戸次は篠原を自分の身体の上に乗せて休んだ。

いつも通り、戸次は篠原を自分の胸に載せたまま、スマホをいじりだした。

篠原は...



篠原堅の耳は　ただ　戸次信長の鼓動を　聴き続けていた



篠原堅の目は　ただ　真正面に　向けられていた





世界からの　いかなる入力も　評価しない