---
layout: layouts/scenario.njk
production_date: 2026-05-02
section: archive
category: scenario
phase: BLOOD
viewpoint: 葛城正親編
persons:
  - 葛城正親
  - 指宿楓
  - 風間竜也
sensitive: false
rating: All-Age
content_warnings:
title: インタラクション
timeline:
  sort_key: 2011021101
  fictional_year: 2011
  fictional_month: 2
  fictional_day:
  phase: NULL
  routes: 
   - fang
   - skin
   - presence
  status: fixed
  summary: 風間竜也と指宿楓が葛城正親の奇行を目撃する。
---

風間がライターをつけようとしたが、ガスが切れた。
それを葛城は欲しがった。
風間は疑問に思いながらも差し出す。
そのライターはコンビニで買った安物だった。

葛城はライターのスイッチを押したり、角度を変えて観察した。

風間はひどく奇妙な光景を目にする羽目になった。敬愛する上司が…

……高級スーツを着こなし、髪を後ろできつく縛った、いつも感情が読み取れない壮年の上司が…
…プラスチック製のチープなライターを手に取って、弄んでいる……。

しかも葛城は、これを貰いたいと申し出た。
風間は「ゴミですよ？」と確認した。
妻がこういうものを分解するのが大好きだったので興味が湧いた、と即興で嘘をついた。

本当の時子は分解などしない。
元に戻せなくなるのが嫌だと言っていた。

風間が修羅場をくぐった記憶が染み込んでいたので、興味が湧いて詳しく読んでみたくなったのだ。
風間自体から記憶を読み出すと身体感覚まで再生されてしまうが、モノならそこまで細かく情報が染み込まない。安全な記録媒体となる。

部下は意外と細かい所まで見るので、高級ライターを買ったらどうか、と提案した。
風間があえてそうしている理由を知りながら、だ。
風間「盗まれるのが嫌で買う勇気が出ないんすよ」
風間「女共から一方的に何個ももらってますから」
葛城「その中から選ぶと修羅場を誘発するというわけか」
風間「全く面倒な奴らですよ」
そうやって葛城はわざと相手に語らせることで心を開かせるのだ。

風間「いっそ葛城さんがかっこいいやつ教えてくれませんかね」
風間「葛城さんから勧められたっていえば全員黙りますよ」

そういう束縛をする相手は延金だけにしたほうがよいと思い、
「興味がなかったので詳しくない。適当に自分好みのブランドを探して私の名前を出しても構わない」
と嘘をついた。風間は納得した。

延金が目覚めたので煙草を吸わなくなっただけだ。
と、葛城は「自分の嗜好を相手に刷り込むことは束縛である」と反射的に判断した自分に気づいた。
常人ならば気にもとめない判断軸だ。


別の日。
指宿の店を訪れた葛城は、仕事道具を観察した。
刺青を掘るための針だ。
転写の特殊能力をもつ指宿には、不要なはずであった。
"彼女"に、なぜこれらを常備しているのかあえて問うた。

自分の能力は刺青の除去には使うが、付与には使わない、と指宿は答えた。

能力で瞬時に、痛みなく刺青を刷り込んでは同業者に対して圧倒的なアドバンテージとなる。
かつてはそれを売りにしたが、同業者の怒りを買って自分の性的指向と絡めた悪評を流された。
その噂から逃げるように拠点を変える中で、FANGに拾われたのだ。
"彼女"はその思い出を語った。

葛城は傾聴しながら"彼女"の記憶を覗き込み、本当はもっと様々なことを考えたことを読み取った。

刺青を刻む行為は責任を伴うので能力を使いたくないのかもしれない。
痛みに耐えて自分になにかを刻み込んだという体験を客が欲しているようにもみえる。
人体の曲面は複雑だ、単純に平面から図案を転写すると、遠方もしくは近接してその人の姿を観たときにバランスがとれない。
自分が目視で調整しながら図案を彫り込む方が仕上がりが良い。
"彼女"は仕事をする中でそう感じていたのだが、感覚派なので言語化が出来ないようだ。

葛城は指宿に許可をとり、針を手に取って観察した。
その様子を見た指宿は（歳の割にこどもっぽいひとだなあ）と感心した。
物珍しいものを素直にまじまじとみる素朴さを「こどもらしさ」と感じたようだ。

葛城が生きてきた時間の流れが歪んでいることを、若者たちは直感で捉えている…。