---
layout: layouts/scenario.njk
production_date: 2026-03-14
section: archive
category: scenario
viewpoint: null
persons:
  - 篠原堅
  - 本田千和
sensitive: true
rating: R18
content_warnings:
  - 性行為
title: 性具の痛覚
timeline:
  sort_key: 2017050502
  fictional_year: 2017
  fictional_month: 
  fictional_day: 
  phase: FANG
  route_type: branch
  routes:
   - fang
  status: fixed
  summary: 篠原堅が本田千和にケアしてもらうが、苦しむ。
---

堅が千和に性癖を吐露した。
肛門に異物を挿入して前立腺を刺激する感覚に飢えてしまうのだという。
戸次に長い時間をかけて教え込まれた種類の快感だ。

この「入力」によって何度 堅が振る舞いというプログラムを「異常停止」してもらい、かろうじてヒトとしての呼吸を取り戻してきたか。

堅は一人で処理するから構わなくていいという。
気持ち悪い性癖を抱えていることを詫びすらした。

千和は堅の元恋人から全てを奪い取りたくてしょうがない。

奴は兄貴の味方をするふりをしながら、何度も何度も兄貴の傷口をズタズタに広げた。
全部アイツが雑なせいだ！

兄貴が一人で抱え込む姿なんて見たくない。
千和は表向きなんてことはない態度をとりながら、腹では怒りに燃えながら堅へこんな提案をした。

千和「一緒にいちゃ……ダメかな」

堅「一緒にって…？」
千和「兄貴が一人でする時、頭抱きしめてたい…」
堅「一人になってないだろ……」
千和「ごめん」
千和「嫌ならいい」
千和「マジで今の”なかったこと”にしろ」
千和「兄貴なら逆に遠慮して”応じる”だろ、我慢して…」
完璧に堅の心理を読み切っていた。

精神の先読み。

父親に何度も仕掛けられて、魂を破損させられてきた攻撃。

でも千和に読まれると……


……精神の安全な委託になる……


……千和なら俺を傷つけない……


堅「……いいかもしれない……」

堅「……引かないで、くれるなら………」

堅の目つきが危うい感じになってきた。


モノになりかけてる。


千和は堅の頭に頬をすり寄せた。
千和「無理すんなよ」
堅は我に返った。俺が良くても千和が駄目だ。
堅「すまん…」
堅「……もう少し、考える……」
堅「お前に背負わせたくない……」


結局、千和が堅にバイブを差し込む形で刺激を与えることになった。
千和はどう道具を動かせばいいのかまるでわからない。
素人が外科手術をやろうとしたらこんな感じか？

片手を恋人繋ぎしながらもう片手でバイブを出し入れした。
堅が見たこともない表情で呻き、喘ぎ、うずきを抑えようとしていた。

これは、性行為ではない……
「立ち会い」だった……。


おれがフェラした時よりも、おれを抱いている時よりも
兄貴が喘いでる…

正直エロい、エロいけど…
……こんなこと考えちゃダメだ……

千和が自分も使ってみたいと言ってきた。
堅の様子を見て、純粋にどんな刺激か興味が湧いたらしい。
堅とカラダの感覚を共有したいとも言った。
ということで、今度は堅が千和に道具を差し込む構図になった。

千和は、初めはモノ特有の冷たい感触に文句を言っていたが、
堅が恐る恐る電源を入れると、骨盤ごと震えさせる刺激にあっという間に溺れていった。
千和は堅の体にしがみつきながら、道具が与える刺激に意識を明け渡していく。

しかし、堅が制止した。

堅「駄目だ」
堅「見ていられない」
堅「やめていいか、千和…」

堅の声が重く沈んでいる。千和はすぐ応じた。

道具を除去すると、堅は自分が”入って”いいか聞いてきた。
額を千和の鎖骨あたりに押し付けて、懇願しているようだった。
半端な状態で体が疼いている千和は快諾した。
あとはお互いの想いを味わい尽くして、多幸感のまま眠りに至る…

…はずだった。

堅の様子がおかしい。

堅「……すまん……」
堅「嫌なんだ、モノに奪われるのが……」

堅「…怖いんだ……」
堅「”モノ”ですら俺には………自分の場所を脅かす何かなんだ……」

堅「…俺は今まで……」
堅「…………”モノ”だったから………」

堅が苦しみの涙を流していた。
千和が堅の頭を抱き抱えた。
千和「わかった」
千和「もうあれは使わない」
千和「でもさ、」
千和「バイブ突っ込むのとお前に”入って”もらうんじゃ、全然違うよ」
兄貴に抱かれるの、ほんとに幸せなんだ…
ここまで告げるのは恥ずかしくて、千和にはできなかった。
代わりに堅を強く抱きしめた。
千和「絶対”代わり”になんて、なんねえよ」
千和「………こんなこと言うの、すげー嫌だけど…」

千和「こんな棒きれと戸次じゃ、全然違っただろ？」

堅「……」
堅の苦悶の表情がひどくなった。
堅「……わからない……」
堅「違う、はずだった……」
堅「でもカラダの感覚を、直腸以外は、切ってた気もする……」
苦悶の表情が千和に伝染していく。
堅「戸次に抱いてもらってた時の感覚が、わからない……」
堅「抱きしめてもらっていたはずなのに……」
堅「あんなに何度も良くしてもらったはずなのに……」
堅「……俺があいつをモノ扱いしてたのか……？」
千和は即座に否定した。
千和「それはないだろ…！」
堅「わからないだろ…」
千和「わかるよ」
千和「兄貴が人をモノ扱いするわけないじゃん」
千和「自分をモノにして壊れてくくらいなのに」
千和「そうだ…モノ扱いしすぎたのは自分だろ……」
千和「ケツ以外の感覚切るなんてそんなの、」
千和「そんなのさ、、、」
複数の性娯楽の道具が頭に浮かんでは消えた。
千和「……」
堅が選んだ状態はどんなモノにも比喩してはならない、惨たらしい状態に思えた。

当たり前だ。
モノには感覚も精神もないのだから。