---
layout: layouts/scenario.njk
production_date: 2026-04-28
section: archive
category: scenario
viewpoint: 葛城正親編
persons:
  - 葛城正親
sensitive: false
rating: All-Age
content_warnings:
title: この身に焼き付けられた快楽
timeline:
  sort_key: 1985031101
  fictional_year: 1985
  fictional_month:
  fictional_day:
  phase: "NULL"
  route_type: common
  routes:
   - all
  status: fixed
  summary: 葛城正親が煙草を嗜む。
---

延金英一 時間凍結後。

11歳の正親は、訳もなくイライラすることがあった。
感情の回路を自らに育めなかった正親だが、これが｢苛立ち｣という反応であることは、延金英一に教えられたので知っていた。
やり過ごし方が分からずにいた。

延金ならどうするかも知っていた。

しかし年齢ゆえ実行できないことであった。
人目を盗んで、頭を壁に叩きつけて発散させることが多かった。

10代後半になった。
望んでいたやり方が可能になった。


喫煙だ。


煙草屋に赴き、煙草を購入した。
正親は年齢の割に精神の磨耗が顔に刻み込まれていたので、成人と偽るのは至極容易だった。


その銘柄は延金が好んでいたものだった。


長年共に過ごし、正親の脳には延金が煙草を吸った時の身体感覚が刻み込まれている。
同じ味でないとこの渇きを癒せない。

忘れずにライターも購入しておいた。
屋外の適当な場所、誰も寄り付かない暗闇で煙草に火をつけた。煙を吸い込む。

思いっきりむせた。

味を想像できるほど｢吸い慣れていた｣が、正親の肺はニコチンとタールを含む気体を吸い込むのが初めてだったためだ。

期待はずれの結果に、正親は珍しく腹を立て、落胆した。
それでも少しずつ吸った。


数十年経った。


延金の封印は解けない。


延金が好んでいた銘柄は廃盤になった。
既にほかの銘柄は試し、似た味のものは見繕ってある。

肺がんのリスクが社会で糾弾され、煙草の味は年々薄くなっている。
｢目覚めた｣延金が口にしたら不満に思うだろう。
1975年と比べて、2010年代の味はあまりにも貧しい。


それでも、ガラス製の重厚な灰皿をデスクに用意してある。