---
layout: layouts/episode.njk
production_date: 2018-12-31
category: episodes
phase: PROJECTION
viewpoint: 戸次信長
title: OPEN da DOOR
summary: 戸次 信長は遠隔地のドア同士を接続できるテレポーターだ。特殊能力者専門の人材派遣会社のもとバイトを始めるが、そこで寡黙な男 篠原に一目惚れ！はたして彼の恋は成就するのか?!
thumbnail: thumb.webp
page_count: 34
timeline:
  sort_key: 2016050501
  fictional_year: 2016
  fictional_month: 5
  fictional_day: 5
---