---
layout: layouts/photo.njk
production_date: 2026-09-17
category: photos
phase: PROJECTION
viewpoint: null
persons:
  - 篠原堅
title: 誰かみつけてほしかった
fictional_year: 2016
fictional_month: 4
fictional_date: 18
image: main.webp
thumbnail: thumb.webp
---
