---
layout: layouts/episode.njk
production_date: 2019-11-18
category: episode
phase: BLOOD
viewpoint: 本田千和
title: これが好き
summary: 兄貴と書画展に行った。
thumbnail:
page_count: 8
timeline:
  sort_key: 2013110101
  fictional_year: 2013
  fictional_month: 11
  fictional_day: 
---