---
layout: layouts/scenario.njk
production_date: 2026-04-21
section: archive
category: scenario
viewpoint: 
persons:
  - 篠原堅
  - 戸次信長
sensitive: false
rating: All-Age
content_warnings:
title: 交渉条件
timeline:
  sort_key: 2017040103
  fictional_year: 2017
  fictional_month: 
  fictional_day: 
  phase: SKIN
  route_type: branch
  routes:
   - skin
   - presence
  status: fixed
  summary: 篠原堅が戸次信長と夜一緒に遊ぶ中で過去を振り返る。
---

篠原が戸次をまた適当に遊びに誘った。
夜のよこはまコスモワールドを遠目に眺めながらぶらついていたときのことだ。

篠原「戸次」

篠原「なんでお前と付き合ったのかわかったぞ」
戸次は適当なあいづちをうった。
また篠原の講釈が始まる予感がした。

篠原「利害関係が一致したんだ。」
戸次「りがいかんけい？」

篠原「お前はFANGに捕まってしまったから、味方が欲しい立場だろ？」
篠原「それに俺ならこの界隈について多少は知ってる」
篠原「ボスである父親のこともな」
篠原「余計なことに首を突っ込むお前に”逃げろ”と凄むくらいに常識もある」
篠原「だからたとえお前の”俺と交際したい”って話が本音だろうと建前だろうと、俺は信用できたんだよな」
篠原「俺に《《利用価値がある》》から」

篠原「俺はどうも人と付き合う時、利害関係の構造を無意識に読むらしい」

篠原「千和もそうだ」
篠原「あいつは外人だから周りから浮いてた。友達が居なくてな」
篠原「でも俺が助けたからか、”兄になって欲しい”といってきたんだ」
篠原「何の利害関係の因果もなかったら、俺は断っていただろう」
篠原「俺が必要な理由がわからないからな」

戸次は静かに戸惑っていた。
精神崩壊に至る前…精神支配能力者と出会う前の篠原は、訥々と妹への想いを口にしていた。

自分を介抱しに来てくれるのが申し訳なかったです。
良い人と出会ったそうで…
その人と付き合うようになりました。
もう今は連絡は取っていません。


千和が幸せなら それでいいです。


浮かんだ疑問があるが、戸次は珍しく躊躇した。
篠原の瞳がギラギラと赤く輝いている…

目を覚ましてからの篠原は、人が変わったかのように元気になりすぎて別人に見えていた。
しかしホテルで乱暴に抱かれた時の、勝手におかしくなっていく様を思い出してしまった。


篠原さんはもう“死んだ”、というか…….



……もう全部嫌になったっぽい



戸次「篠原さん」
戸次「このあと、どうする？」
もう21時前だ。

篠原「どうしようかなぁ……」
立ち止まって思案しているようだ。
これも以前はみられなかった振る舞いだ。

以前なら「戸次さんにお任せします」と即答していた。
関係が進むと
「すぐに出る案がないです。」
と正確な一次応答を返していた。
戸次は気づかなかったが、篠原は積極的な姿勢を見せることで戸次の決断コストを下げる振る舞いを学習していた。
自分の振る舞いを戸次に言われる前に省みていたようだ。


篠原「ホテルで休むか？」


戸次は緊張感を覚えながら篠原を見た。
まるで前回のホテルでの気まずい別れ方なんて存在しなかったのように扱っている。
篠原は真っ赤な閃光を放つ両目を戸次に当たり前のようにむけている。

篠原「もう帰ってもいいが」

篠原はそう口にしながら、何か気づいた顔をした。
篠原「あぁ、そうか、明日月曜か」
篠原「店があるよな？」
戸次のペットショップを指している。
篠原「それじゃ泊まってる場合じゃないか」
篠原「明日、早いだろ？」
迅速な勢いでお開きの流れが作られていく。
戸次「ああ、まあね…」
篠原「じゃあ、いくか…」
篠原「すまん、家まで繋げてくれ　電車で帰るのが正直面倒だ」
軽はずみにテレポーテーション利用を頼んできた…

戸次「うん……」



戸次「……」


戸次「……篠原さん」
篠原「？」



戸次「オレの部屋来ない？」