---
layout: layouts/scenario.njk
production_date: 2026-02-14
section: archive
category: scenario
viewpoint: null
persons:
  - 篠原堅
  - 鳥本春樹
sensitive: false
rating: All-Age
content_warnings:
title: 鳥本春樹というふるまい
timeline:
  sort_key: 2017100101
  fictional_year: 2017
  fictional_month: 
  fictional_day: 
  phase: ABSENCE
  routes:
   - fang
  status: fixed
  summary: 篠原堅が鳥本春樹に本音を尋ねる。
---

篠原は、鳥本に「言葉を自分の感覚で言い換えてみてくれないか」と促した。
鳥本「なんですか、それ」笑顔。
鳥本「”自分の感覚で”も何も、これが僕の言葉ですよ？」笑顔。
鳥本「言い換えるなんて、よくわからないです」笑顔。
篠原「……」

篠原「普通の人なら多分唖然とするんだ」

篠原「”言い換える”と言う発想すらないから」

篠原「お前はこの話題に対応できた」
篠原「……実力を隠さなくていい」

鳥本は不思議そうな、試すような眼差しを篠原に向けた。
鳥本「実力？」
篠原「俺にレベルを合わせなくていい」
篠原「本当は”俺がどういう感情を抱くか”まで計算して言葉を選んでいるんじゃないか？」
篠原「本当に考えていることを表に出したら、警戒されるだろうから」

鳥本の笑顔が溶けかけた。

が、すぐ取り戻された。
鳥本「篠原さん……」心配そうな表情。
鳥本「…一体どうしたんですか？」不安を和らげるような笑顔。
篠原は自分が鳥本に興味を抱いているという事実を自覚させられて、どう取り繕おうか困った。
篠原「いや、それが…」
どうすれば鳥本の真の姿を見られるのか？
篠原「……なんというか……」
篠原は言葉に窮してしまった。

見抜こうとすれば演技される。
真正面から問えばかわされる。
要求を伝えたら「篠原が求めそうな回答」を出す。
「人に共感するふりをする共感不能者」に迫るのは野次馬根性が過ぎるのではないか？
だが鳥本への興味が止まらない。
同じ「他者から自分を極度に隠す者」だから………

篠原（…だめだ、俺は完全に共感でものを考えているな）
篠原（鳥本に接してみるのは失敗だったかも）

鳥本「何か悩み事でもあるんですか？」穏やかな笑顔。
完全に場を支配している。

…わかった。こいつに乗る方がいい。

篠原は鳥本に興味を持った理由を洗いざらい話した。
鳥本は興味深そうに聞いていた。

＞篠原堅は僕に「同類だ」という共感を抱いたらしい。
＞ここで安直に「はい同類です」と伝えて仲間を得て満足するタイプではない。
＞「自分を隠す」という苦労に共感して欲しいというタイプでもない。
＞手の内を明かすのは”情報を取れなかった”と判断するだろう。
＞僕が計算づくで欲しい回答を作り出したと推測するからだ。
＞欲しいのは”あの鳥本から本音を引き出せた”という体験じゃないか？
＞じゃあ…

鳥本「本音を言うのは苦手です」困ったような笑顔。
鳥本「僕に興味を抱いていただいて嬉しいですが、照れくさいので勘弁してください」恥ずかしそうな笑顔。


篠原「…」
篠原「…………。」
なにか、釣り針を垂らされている気がする。
“本音を言うのは苦手です”
戸次なら大喜びで食いつく。
俺は”もう触れないであげよう”と感じた。

篠原「…本当は”興味を持たれて嬉しい”とも”照れ臭い”ともなんとも感じていないんじゃないか…？」

鳥本が…

…笑顔のままじっと篠原を見た…


鳥本「はい。そうです。」笑顔。


鳥本「よく分かりましたね。」笑顔。

篠原「サイコパスについての本を読んだんだ」
篠原「…俺は”共感する心”に支配されているから、そういうしがらみのない人の世界を見てみたかった」
鳥本「面倒ですよ？」笑顔。
鳥本「言葉に気を遣いますから。」やや困った笑顔。
わずかに本音が現れた。”面倒”。
篠原「…お前は頭がいいからな…」

「いや、努力家だ…」

篠原「千和に聞いたんだ。お前は大量に小説を読んだって…」
篠原「俺は怖くて絶対に触れることができないタイプの本だ」
鳥本「それはなぜですか？」興味深そうな顔。
篠原「感情が動くから」「父に読まれたくなかった」
鳥本「あぁ、小説の醍醐味を封じられてしまうんですね」合点がいった顔。
篠原「共感できるからこその読み方だ」
篠原「…お前にとってはちがうんだろ？」

鳥本、沈黙して何か考えるように俯く。
篠原（……これすら……演技かな……）

鳥本が笑顔で眼差しを篠原に向けた。
篠原は長年の癖で目を逸らしたが、そろそろと鳥本に視線を戻した。

鳥本「…僕にとっては……」穏やかな表情。

鳥本「…他の人の考え方を知る良い教材です」困ったような笑顔。

＞共感回路を持つ人間にどのような言葉を入力すれば、所望の出力を引き出せるかが膨大に記された仕様書だ。

鳥本「僕は他の人の気持ちを考えるのが苦手ですから」困ったような笑顔。

＞考えなしに自由に発言したら、対象システムに恐れ・警戒・怒りといった余計な機能が起動し、自分に都合の良い挙動をしてくれない。


＞仕方がないから僕がシステムに合わせてやっているんだ。



＞僕が人間をやめるんだ。