---
layout: layouts/scenario.njk
production_date: 2026-06-14
category: scenario
phase: SHADOW
viewpoint: なんだこれは
persons:
  - 四方椿
  - 篠原堅
  - 戸次信長
  - 四方優也
  - 本田千和
sensitive: false
rating: Normal
content_warnings:
title: 映画チェンソーマンレぜ編を見たFANG1990年代生まれの反応（サイコパス除く）
fictional_year: 2017
fictional_month: 2
fictional_date: ND
---
四方姉弟に無理強いされて、本田夫妻とペットの戸次が映画チェンソーマンレぜ編を視聴させられた。
「まともな子供時代を送れず兵器になった若者同士」の一瞬の恋愛ごっこと殺し合い、そしてすれ違いらしい。

千和「わかんねー」
堅「うぅん...」👈わからないと言い出せない
戸次「かっこよかった」👈届いてない
健康家庭かつオタク姉 椿「うそでしょあんたたち！？」
健康家庭かつオタク弟 優也「レぜちゃんかわいいよね？！」
千和「はぁ〜？」
堅「うぅん...（レぜちゃんかわいいのか...？）」
戸次「わかんなーい」

千和「デンジしかいねえよこっちは」by施設育ち
堅「デンジは言い過ぎだがまあそうだな...」by施設育ち
オタク姉弟、兄妹の人生経験に気づいて情緒死亡
堅「......。（戸次をみる）（どんより...）」
戸次「ん？」
戸次「ん？？？」「なに？？？？」
戸次「篠原さんどした？？？」
篠原堅にとってデンジは戸次信長を彷彿とさせることに本人は気づかない…

千和「わかんねーよレぜ可愛いとか」
千和「嫌いなんだよこういう軽いオンナ」
優也「かるくないですっっっ」
優也「ずるいんですっっっ」
&emsp;千和/堅/戸次「「「？」」」
優也「こっちの言葉にめちゃくちゃ反応くれてっっ」
&emsp;千和/戸次「「？」」
&emsp;堅「...」
優也「”あなたみたいな人初めて会った”って特別扱いしてくれてっっ」
&emsp;千和/戸次「「？」」
&emsp;堅「...」
優也「”あなたが得られなかった体験、私が教えてあげる”って一緒に歩いてくれてっっ」
&emsp;千和/戸次「「？」」
&emsp;堅「...」
優也「おまけに”実はおんなじキツイ世界で生きてました”なんですっっっ」
&emsp;千和/戸次「「？」」
&emsp;堅「...」

堅、突っ伏す
千和「理解しちゃったよ」
戸次「どしたどしたどした？？？」
戸次「え？めちゃくちゃ赤くない？？？ぶっ刺さってんだけど」
堅はめちゃくちゃ首を振っている...
篠原堅にとってはレぜも戸次信長を彷彿とさせることに本人は気づかない…

千和「やっぱりわかんねーよ」
椿「あんたたちそれは想像怠けてるわ」
二次創作大好きオタク椿、思わず異議を唱えた。
椿「いや、”誰かの地雷は誰かの主食”は理解してる」
椿「でも私の優也の要約は完璧だったわよ」
&emsp;戸次（わたしのゆうや）
&emsp;優也（”わたしのゆうや”）←大赤面
&emsp;千和「ブラコンでてっぞ」
&emsp;堅（かんぺきでした）
椿「でも”このカレー、味しないね”はおかしいでしょ」
椿「逆にどういう子ならメロいのよあんたたち」
椿「教えなさいよ」
ℹ️ 流れが”修学旅行の夜の恋バナ”になってきました。
千和「そんなの......」
千和「わかんねえよ...」
戸次「え？篠原さん」
千和「おい💢💢💢💢💢💢」めちゃくちゃ顔が赤い！
千和「なんなんだよお前💢💢💢💢💢💢」めちゃくちゃ顔が赤い！
戸次「だってだってそうじゃん！！」めちゃくちゃ顔が赤い！
「こっちの言葉に全然反応くれなくてー」
&emsp;椿/優也「ええ？」
&emsp;千和「そうだっけ？」
「”あなたみたいな人知りません”って扱いでー」
&emsp;椿/優也「ええ？」
&emsp;千和「そうだっけ？」
「”あなたがやってることは甘いです”って論破してきてー」
&emsp;椿/優也「ええ？」
&emsp;千和「そうだっけ？」
「なのに実は”ずっとオレよりキツイ人生なのにオレの心配死ぬほどしてました”」
&emsp;椿/優也[[悲鳴をあげる]]
&emsp;千和「あー」ため息。

千和「バカだよなあ」
戸次「”バカだよなぁ”！？！？」

千和「いつもそうなんだよな兄貴は」
千和「全然やめてくんねえんだよ」
&emsp;堅（ｺﾞﾒﾝﾅｻｲ...）
&emsp;姉弟（（これ惚気だ））
戸次「それが篠原さんのメロさでしょぉ！？！？」
千和「やかましいなぁ誰でもかんでもやるなっつーんだよ！！」
千和「<b>”じゃあお前誰が一番”なんだよって裁判かますぞ！！</b>」
&emsp;堅（ｺﾞﾒﾝﾅｻｲ...）
&emsp;姉弟（（これ惚気だ///））
戸次「<b>それはぁ千和ちゃんなんじゃあないですかぁ！？！？</b>」
&emsp;姉弟（（うわ言った））
千和「うるせぇボケ<b>おれなんかがそんなんなるわけねぇだろ強え女には背中預けんだよ強え男は！！！</b>」
姉弟、space catになった。
戸次、絶句。

堅「...千和...」
一同、静まり返る。

一番メロい男は突っ伏すのをやめて妹をみていた...
堅「...」
堅「...あとで色々話そう」

千和「......わかった」
しょんぼりしている...

姉弟、目くばせしあう。
椿（これ、キツイわ）（直に浴びるのキツイわ）（同人誌書けそう）
優也（わ　か　る）



戸次「.......。」



戸次「いちゃつかないでー」
千和/堅「「うるせえ」」
