---
layout: layouts/scenario.njk
production_date: 2026-06-19
category: scenario
phase: PRESENCE
viewpoint: ND
persons:
  - 篠原堅
  - 戸次信長
sensitive: true
rating: R18-G
content_warnings:
  - 自殺企図
title: 怪物になる
fictional_year: 2017
fictional_month: ND
fictional_date: ND
---
いつしか、篠原はこう宣言した。
篠原「俺は父を超えたい」
戸次「......」

戸次「なんて？」

篠原「父を超えたいといった」

戸次「...どういう意味？」

篠原「たしかに、そうだな...」


篠原「俺も怪物になるよ」


戸次がやめてほしい、という必死の眼差しを篠原に向けた。


「無理があったんだ、はじめから」

「こどものとき割腹自殺を試みた時点でそうだった」


「俺は”普通”になれない」


「千和は俺を癒やそうとして自分を殺した。」

「限界がきて俺から離れないと無理だった。」

「お前は俺をまともに愛したのに、異常だった俺に巻き込まれた。」

「俺にまとわりつかれてまともな立場になれなかった。」

「俺が倒れたら二人とも俺をどうにかしようとした。」


「変じゃないか？」


「二人ともおかしくなってないか？俺の存在のせいで」


戸次「...自分が何言ってんのかわかってんの？」

戸次がこれまでで一番硬い声色で返した。

戸次「オレたちがお前のこと愛してんのバカにしてんの？」

篠原の表情がすうっと消えた...

……瞳の赤色まで......


「_____俺が目覚めてから　笑ってるお前を見たことがない」

「千和もだ」


「......どうしてこうなるんだ」

「元気になる方法を見つけたのに」

「俺はもうこの力に頼るしかないのに」


「......お前達の愛は俺を削る」


戸次は頭を殴打されたような感覚でいたが耐え抜いたまま篠原をみつめていた。

この強度で視線を送り続けなければ篠原が壊れる。


か弱い子犬や子猫を世話し続けて先鋭化した野生の勘が告げていた。

戸次の刺すような生命力の眼差しを受け取ったからか、

…受け取ってしまったからか...


…篠原の瞳に　赤色が戻ってきてしまった......


篠原「......戸次......」

篠原「...イズモのバイトでの俺の様子、どうだった......」


篠原「......無理があった よな......」


篠原「......ずっとこんな調子だったんだ......」

篠原「...どこにいっても...」
篠原「むりがあった」



篠原「”バカ真面目”だった」

篠原「ただ善人になろうと努力しただけなのに」

篠原「......”周りから見た愚かしさ”が増すばかりだった......」


戸次（それが篠原さんなのに）
戸次は強烈にそう思ったが口に出せなかった。
いつもならなんでも口に出すのにできなかった。

```マジメかッ```

当時自分が篠原に叫んだ言葉だ。
FANGに命ぜられた定期報告を送ることができず、篠原がその後も取り繕わなかったことを非難した。


それは篠原が父親に記憶を読まれるが故にそうせざるをえなかっただけなのに...


……篠原自身が父親をカウントしていない......


篠原「もっとどうしようもない事実がある」

「今の俺は出会う人間全てが”甘い世界観”に生きているようにみえている」

「お前達も対象なのかはわからない」


「でももう俺はこの世界で生きていたくない」


「見下げ果ててしまいたくなる人間が多すぎる」


篠原は気づいていなかった。

戸次の視線の強度が緩んでいた。


戸次は安堵していた。


……篠原さん......


……オレのこと　バカにしてよ......



聖人でいられるほうがキツイって......



篠原「......戸次.......」


篠原「......お前達がそういう人間と一緒に生きるよう強いられるのは見ていてキツすぎる......」


「だが俺に構おうとするのを見るのはさらにキツイ......」


「......お前らがどんどんおかしくなっていくのがわかってたぞ...」


「俺を目覚めさせようとしてお前ら一緒のベッドで寝ただろ」


「患者の”妹”と”彼氏”なのに......」


戸次は頭がくらくらした。

篠原さん...


……そのとき　起きてたの………？


篠原「世間の甘い連中に構って使い潰されるならまだいい」

「お前らは被害者になれる」

「味方もきっとできる」

「でも俺に構っても意味がない」

「だれも俺を必要としていないからだ」


「......誰がお前らを止めて守るんだ」


「...無理だ」


「.....俺を除去しなければ.......」


瞳の赤色が揺らいで、抜けていく。

戸次は篠原の生存を確認するかのように、絶対に目をそらさない。

赤色が瞳孔から消え失せて......


初めて出会った時に目撃した、世界を拒絶する真っ黒な瞳


その黒い瞳を戸次にまっすぐに向けていた。


篠原は視線ではなく認知を、心を切断してしまったかのようだった。



戸次「……それで……」


戸次「どこにいく気なの」



篠原がふらっと戸次をみた。赤い残光が引いたが瞳はなお黒い。




戸次「どこか行けば、なんとかなるの？」



篠原「……そうだな……」



黒い瞳のまま篠原が答えた。



篠原「前だったら、お前に連れて行ってほしかった」


篠原「今はもう駄目だ」


篠原「俺自身で見つけないと意味がない」



篠原「死にもできない」

戸次が不可解な表情を抱えながら篠原をみた。

篠原「本当はもう腹から刃が突き破っていてよかったはずなんだ」

篠原「俺の本来の能力は知っているだろう？」


血液の硬化。


篠原が自分の胸から腹を撫でた。


篠原「何も起きない」



篠原「……なんでだろうな」
疲れ果てた声での問いかけだった。






戸次「…わかんない」


戸次「そんなレベルなの？」


戸次「篠原さんが見てるセカイって」


戸次「あのときと…同じってコト？」


戸次「5歳のときと」


戸次は慎重に”キツいってこと？”と言うのを回避した。

認識させたら麻酔がOFFになった篠原さんが”死ぬ”。…と、直感した。


篠原「……あぁ……」

篠原「そうだ」



篠原「そうなんだよな……」


篠原「…おかしい…」


篠原「閾値が変わったのかな…..」



戸次には“シキイチ”という単語の意味がわからなかったが、黙ったままにした。
その意味を知らないことはむしろ幸運にも戸次の精神を守っていたことに本人は気づかない。



篠原「……確かに　いろいろと見知ったからな……」


篠原が地面を見つめている。


その顔は見た目上、戸次が付き合っていた頃の篠原と同じだった。



篠原「……何からも逃れられなかった」

篠原「……内側からも　外側からも」



篠原「”痛めつけられる奴はずっと逃げられずにそうさせられる”と見せつけられた……」



篠原「そういう運命になってしまうひとを　大量に……」



篠原の瞳にほんのりと環境光が差して灰色になっていた。




他者。




篠原が眺めていると慰められる存在だった。




「自分を生きる」ことと引き換えに、篠原は他者を見つめることで生きている。




自分の割れて壊れた魂も、深く裂けた身体も、こうして矮小化しなければ、床に落ちて何もできなくなったから……。



戸次「……運命？」

戸次が弱々しい声でつぶやいた。

戸次「オレは信じてない……。」

戸次「…信じたくないヤツ」

篠原「……そうか」

篠原は濃い灰色の瞳を戸次に向けた。


篠原「……”信じたくない”、か……」


篠原が視線を地面にまた落とした。

篠原「……そうだよな」

篠原「お前が闘ってきたのは”それ”だった……」


戸次「”それ”？」


篠原「”パピーミル”と”保健所”だ」

再び篠原は瞳を戸次に向けていた。


上げた顔の角度が、篠原の虹彩で反射する環境光の量を増やした。



篠原「…FANGでお前の情報を聞いた時、心を乱されたのはその闘いをみたからだ」


篠原「……俺や　俺たちが欲しかったものだ……」


戸次（...俺”たち”？）


戸次（！）



……<ruby>児童養護施設<rt>しのはらさんがいたばしょ</rt></ruby>？



篠原「…でもな　戸次……」


篠原「逃すのはペットだけにしておけ」


篠原「人間はずっと大きいし、重たい」



篠原「お前も斃れる」




灰色の虹彩だった篠原が、ふっとその色を赤色に戻しながら、その場を離れた。
...うつむきながら...。