---
layout: layouts/photo.njk
production_date: 2021-04-01
category: photos
phase: FANG
viewpoint: 
persons:
  - 篠原堅
  - 戸次信長
title: 傷が痛む
fictional_year: 
fictional_month: 
fictional_date: 
image: main.webp
thumbnail: thumb.webp
---
