---
layout: layouts/scenario.njk
production_date: 2026-06-13
category: scenario
phase: 
viewpoint: 葛城正親編
persons:
  - 葛城正親
  - 指宿楓
sensitive: false
rating: Normal
content_warnings:
title: 怪物の鱗
fictional_year: 2011
fictional_month: 5
fictional_date: ND
---

葛城正親が、指宿楓のもとを訪れた。


「私の体から刺青を除去してほしい。」


葛城が刺青を入れていたという事実に指宿は衝撃を受けたが、それを表には出さなかった。

葛城はその受容の姿勢を観測し、それを沈黙したまま受け取った。

指宿楓は、葛城正親の特殊能力を知らない。



指宿「刺青はどうされますか」

指宿「紙に移してお持ち帰りいただくことも可能です」

目の前の…裏社会の人間と思われる40代の男に、”彼女”は毅然とした態度で接客した。

これほどの年齢で刺青を背負って生きている事実が、”彼女”に凶器を突きつけていた。


動じたら、圧殺される______。


葛城「廃棄願いたい。」

事前に決めていたのかのように葛城が回答した。

指宿「承知いたしました____」

指宿ははっと息を詰めた。


葛城正親がスーツの上着を脱ぎ、左腕のシャツを捲っていた。

刺青が露出していた。

その図案は_______。


____頭が真っ白になるようなものだった。


葛城「これが全身に施されている。」


指宿「…そうですか」

指宿は必死に正答を探した。

指宿「…彫り師の方は凄腕ですね」

指宿の脳裏に、彼女自身が意識する前に浮かんでは棄却された返答を、葛城はすべて読んでいる。

葛城「貴方ほどではない。」

口を突いて出た”反射光”だった。

指宿はついに怯えたような視線を隠せず葛城を見た。

しかし葛城正親は”反射”はしても”虚像”は映さない。

本心だった。

葛城「真の技巧は、同レベルの者でないと汲み取ることは叶わない。」

指宿「…目が肥えているだけです」

指宿もまた本心を答えた。

実際にそうであった。

指宿は刺青の技術を評価する目はあっても、それを自ら同じ水準で遂行する腕はまだ道半ばであった。


指宿楓は怯えのあまり、取り繕う余裕すら失っていた。

言葉で平伏し、真実のみを口にしなければこの試験を乗り越えられないと直感した。

目に焼きついた図案が”彼女”に警告する_____。


葛城「…そうか」

葛城は相手を理解しすぎているため、精神負荷を下げる意図で会話を打ち切った。

“その向上心があるならいずれは辿り着く”

定型の精神を相手にしているならこう続けた。

しかしこの”女性”に語りかけるには有害な言葉だと経験則で検知した。

___どのような応答を述べようと、彼女の脳で”私の本心”を創造する意味づけが走るだろう____。

実際にその読み通りに指宿の思考が傾きかけたが、遮るように葛城が次の言葉を続けた。

葛城「処置はすぐ始められるか。」

指宿は接客する必要に迫られて思考の体勢を立て直した。

接客間の奥に別の部屋がみえた。そちらに案内するという。

部屋には施術用のベッドが配置されていた。

ここで葛城はスーツとシャツを脱ぎ、指宿に裸体を晒すことになる。

葛城は上着を脱ごうとした。


しかしその動作は重苦しかった。


動作を緩慢にすることで”彼女”に猶予を与えていた。

指宿「……あの」

葛城がすでに”読んでいた”葛藤を、指宿が自白した。

指宿「刺青を移す紙は私が選んでもよろしいですか」

葛城は沈黙した。

指宿を威圧するためではない。

すでに用意していた答えを即答しては、かえって彼女の感情が混乱に陥るという配慮からであった。

葛城「…理由は。」

常人ならここで問いを立てない。

このような聞き方をするのは不服な感情を抱いた客だろう。

指宿「……申し訳ありません、私には……」

指宿「…その………」

指宿「……私には、……」


指宿「……この**光景**を移す紙は選ばないと、耐えられません……」


葛城は長い沈黙に至った。

葛城「……申し訳ない。」

指宿は凍りついた。

葛城「酷な頼みをした。」

葛城は重々しく言葉を紡いだ。

葛城はいつでも本心しか話さない。

葛城「この図案は惨たらしい。」

指宿「いえ……」

両者は沈黙した。


葛城は指宿の防御的な応答を”至極当然なもの”と受け止めている。


指宿は青ざめて目を伏せ、利き手で口を覆っている。

吐き気を堪えていた。


全て葛城が選び、自らの身体に刻んだ図案が招いている事態であった。


葛城「…**これ**を掌に載せては運ぶ行為自体のむごさを理解している。」

葛城「自分で処理すべきものだった。」

葛城「特殊能力者である貴方に頼む必然性もない。」

指宿「！」

指宿「しかし、<b>これが全身に</b>では……」

指宿「消すにはあまりにも苦痛を伴います…！！」

葛城「構わない。」

葛城「むしろ負うべき痛みだ。」

葛城「…それが”刺青を己に刻む”という行為だろう。」

指宿は絶句した。

…そして、目を背けた。


正論だ。


いつもは指宿が客に伝えることなのだ。


"私のチカラはごく簡単に刺青をなかったことにできてしまいます"

“でも、こんなことは出来ないつもりで**選んで**くれませんか”

“…本来、刺青って取り返しがつかないものだから”


葛城「……”なぜこのようなものを刺青にしたのか”と尋ねたいだろう」

指宿が恐怖に染まった瞳で葛城をみた。

葛城は続けた。


葛城「己を戒めるためだ。」


葛城「己の力の罪深さを忘れないためだ。」


葛城「”心を読む”。」


葛城「これが私の特殊能力だ。」


指宿「...心を読む...？！」

指宿「どうやって......」

葛城は指宿の思考をさらい、無尽蔵に膨れ上がっている恐怖のイメージに輪郭を与えた。

葛城「説明は難しい。」

葛城「...おそらく説明しても感覚が追いつかないだろう。」

指宿のまなざしは畏怖と警戒に移行していく...

葛城「”読心”には記憶の読み取りも含む。」

葛城「立ち入った建物にいた全ての人間の履歴も読める。」

指宿がおびえながらも、わずかに首を傾けた。

葛城「サイコメトリーということだ。」

指宿は合点がいったようだ。

ふらっと目線を葛城の左腕...

…先ほど刺青を露出させた箇所に移した。


>*なぜこれを？*
>*この想いすら読まれてしまうの？*

指宿のおびえは独白として言語化されていないが、葛城は正確に読み取る。


読み取ってしまう。


葛城「これだけは理解してほしい。」

すでに限界が来ている指宿が身構えた。

葛城「私が牙を剥く相手は決めている。」

FANGの長たる葛城正親が静かに宣告した。

葛城「それは３種類いる。」

葛城「相手の痛みを想像せぬ者。」

葛城「己の役割を全うせぬ者。」

葛城「そして己の弱さから逃げる者だ。」

葛城「貴方はいずれにもあてはまらない。」

葛城「なので私に恐怖することに意味がない。」


葛城「無益だ。」


葛城「やめろ。」



指宿の耳には、葛城正親の言葉の”意味”は空虚に響いていた。

しかし葛城正親の”声”は届いていた。



……なんて　**機械**のような人なんだろう……


……こんなひと、みたことがない………



人間。



指宿楓にとってもっとも恐ろしいもの。


“彼女”を”性別”という理由ではじいた。

“彼女”を”容姿”という要素でねじまげた。

“彼女”を”能力”という優位性でねたんだ。

“彼女”を”性格”という弱みで追い込んだ。


すべて”当たり前ってこうだから”という”空気”で実行されたことだ。


そこに要件の定義はなかった。



自身の職業人生上最も恐ろしい図案を纏ったこの客は、指宿がもっとも安堵する形のふるまいをした。



指宿楓の”世界”が壊れていく_________。



葛城「そしてこれも告げておく。」


葛城「私は、技能を発揮してほしい者に投げかける言葉を慎重に選ぶ。」

葛城「精神の揺らぎが仕事の品質を損なうと知っているからだ。」

葛城「私の言葉の解釈を試みるほど、私が望む結果から遠ざかる。」


指宿の動揺は深まった。では、どうしろと_______。


葛城「貴方の仕事を見せてほしい。」



葛城「……いつも遂行している仕事を。」



葛城「そしてこれを、」


葛城「ここに刻まれた人間を、」

葛城は自身の左腕に手をかけた。


葛城「……私の体から逃がせ。」


指宿の認識が、その一言で塗りつぶされた。


逃す….



……救う



この人たちを



この皮膚から



指宿「……わかりました」



指宿楓は穏やかながら覚悟を決めたまなざしを葛城正親に向けた。


その表情をみて、正親はかすかだが重々しくうなづいた。


正親が衣服を脱ぎ、施術台にうつ伏せに横たわった。


指宿は手に大判の紙を携えて戻ってきた。


純白の和紙だった。


いつもは愛する者や、大好きなペット、優しい図案を入れていた客が好んで選びがちな紙質だった。



指宿は正親の体に刻まれたものの埋葬先にそれを選んだ。



その図案は、戦火で焼き焦がされて苦しみ喘いで死んだ老若男女の裸体が無造作に転がり、積み上がった姿であった。


正親の体を埋め尽くほどの人数の、遺体が晒されていた。


疫病に冒された者ではない。


天災に潰された者でもない。



人間。



人間が殺した人間達の姿であった。



これが、正親が特殊能力に目覚めて最初に脳に焼き付けた光景であった。



…施術は1時間ほどで終了した。


指宿の仕事としては異例の遅さであった。


本来は30分かかるかどうかだ。


人体という三次元に施された図案を、歪ませずに二次元の紙に移す技能に指宿は熟達している。

どのような配置で紙に移せば、その紙の上で図案の美しさが成立するか。

それを直感的に選択しながら白手袋で肌を、紙を撫でる作業であった。


作業時間の遅延は、正親の体の上に斃れていた人々の横たえ方に苦悩した結果であった。

作業が進めば進むほど、和紙のうえに転がる遺体が増えていく。

戦場が、むごたらしさが、人体で目撃したときよりも強烈に突きつけられていく。


だが、途中から指宿はこだわることをやめた。


「図案の配置に悩む」ことは、「描かれた人を図案として扱う」ことに転がり落ちていくと気づいたからであった。

その結果、作業の速度は格段に早まった。


…いつもの仕事の速さになった。


遺体が除去された正親の体は、空になった。

……脱色されたようであった。


白く生気のない肌に、伸ばし続けた黒髪が…光を反射しない黒い水の流れが落ちていた。


正親は指宿に多めの報酬を支払った。

指宿が、図案を移した和紙をどうするのか理解してのことであった。


正親「……寺にもっていくのだろう」

指宿「はい」

指宿「…いつもそうしています」

正親が何か思案した。

正親「弔うなら池上本門寺にしてくれ」

正親「妻とよくそこに行った」


正親が再び沈黙した。


正親「……やはりその和紙は引き取る。」

正親「私が処理すべきだ。」

指宿「…よろしいんですか？」

おずおずと指宿が尋ねた。

正親がうなづく。

指宿が曇った表情をした。

正親「容れ物にこだわりはない。」

正親が指宿の隠れた悩みに応えた。

正親「他の客と同じ容れ物にしろ。」

指宿はまた痛みを抱えた表情を正親に向けた。

葛城「…これはただの図案だ。」

葛城「架空の人間だ。」

葛城「呪物にしてはならん。」


指宿はどこか安堵したかのようにうなづいた。


白く空になった体を、黒く高級なスーツで包んだ葛城正親が、
FANGのトップが退店した。

指宿は見送った後そのまま放心していた。


今日はもう店を締めることにした。


とても接客を続けられる気分ではなかった。



（…今日のことを忘れることはできない……。）


（たまにあったの、お客さんに大事なことを教わることは）


（...でも今日の人は、完全に…）


（......”指導”だった）


指宿は凄まじいものを見た後であるかのように、ぼんやりと部屋の一角を眺めた。

「落ち着くから」と設置していた、観葉植物であった。

日頃お水をあげて、日光に当ててあげて大切に手入れしている、オリーブの木だった。


この数ヶ月後、指宿楓はFANGの一員になることを…
…当時はその名前が決まっていなかったが、葛城正親が組織する”特殊能力者の共同体”に加わることを受け入れた。


指宿が葛城を信じることにしたのは、単に明快な「排除条件」を示されたからだけではなかった。



店に訪れて要件を告げていた時の冷たく硬く、こちらを裁くかのように響いていた葛城正親の声に…

己の自戒の仕組みを述べるにつれ、

己の異能力を告げるにつれ、

己の矜持を示すにつれ、


……体温と柔らかさが現れたからであった。