---
layout: layouts/scenario.njk
production_date: 2026-07-02
section: archive
category: scenario
phase: SKIN
viewpoint: null
persons:
  - 篠原堅
  - 鳥本春樹
sensitive: false
rating: All-Age
content_warnings:
title: 鏡
timeline:
  sort_key: 2017070201
  fictional_year: 2017
  fictional_month: 7
  fictional_day: 2
  phase: SKIN
  routes: 
   - skin
  status: fixed
  summary: 篠原堅が自分の瞳の色を鳥本に尋ねて談笑する。
---

篠原「鳥本ー」
鳥本「はい？」
篠原は鏡を見つめていた。
篠原「俺の目って今どうなってる？」
鳥本に顔を向けた。
鳥本「…？」
鳥本「特になにも……」
篠原「真っ赤っかか？」
鳥本「ああ、そういうことですか」
鳥本「真っ赤ですよ。目に刺さるくらいです。」
鳥本はにこやかに答えた。
篠原「へぇ〜」
篠原「そうなんだ？」
篠原は鏡を見返した。
じっと自分を覗き込んでいる。
鳥本「どうしたんですか？」
篠原「あぁ、」
篠原「いや、不思議だなあって…」
篠原「………。」

篠原「……千和や鳥本がいなかったら、自分が特殊能力者だと気づけたかどうか………。」

鳥本「そんなに分からないものなんですか？」
篠原「そうだぞ？」
篠原「そうか、お前はモノが消えるから自分でわかるもんな」
鳥本「はい。最初は目を疑いました。」
篠原「目だけにか」
篠原は朗らかに笑った。鳥本もつられて笑顔になった。
篠原「便利だろう？ゴミを捨てられるんだろ？」
爆速で返された生活感のある発想に鳥本は笑った。
鳥本「そういう使い方もアリです」
鳥本は、千和が丸めたティッシュを彼に投げつけて消させて遊ぼうとしたことを思い出した。
なんと無邪気な兄妹だろう。鳥本がこの能力をどんな残忍なことに使っていたのか疑いもしない…。