---
layout: layouts/scenario.njk
production_date: 2026-03-19
section: archive
category: scenario
viewpoint: null
persons:
  - 篠原堅
  - 本田千和
sensitive: false
rating: All-Age
content_warnings:
title: 壊れた器
timeline:
  sort_key: 2017061002
  fictional_year: 2017
  fictional_month: 
  fictional_day: 
  phase: ABSENCE
  routes:
   - fang
  status: fixed
  summary: 恋人として関係を深めた篠原堅と本田千和の短い会話。
---

堅「実は………」
堅「お前を抱いてる時、腹の傷が激痛なんだ……」
千和「おれはしあわせなのに？」