---
layout: layouts/scenario.njk
production_date: 2026-05-02
section: archive
category: scenario
phase: BLOOD
viewpoint: null
persons:
  - 延金英一
  - 葛城正親
sensitive: false
rating: All-Age
content_warnings:
title: 時の中で
timeline:
  sort_key: 2011041101
  fictional_year: 2011
  fictional_month: 4
  fictional_day: 11
  phase: NULL
  routes: 
   - fang
   - skin
   - presence
  status: fixed
  summary: 葛城正親が延金英一を再び手にいれる。
---

時間凍結から解放された延金は、「葛城正親だ」と名乗る目撃した壮年の男に連れられて、あるオフィスビルの執務室を訪れた。

正親であるはずの男の背中を眺めた。

革張りの椅子に座っている。

延金は目の前の男が正親だという事実に衝撃と混乱に叩き込まれていた。

このポニーテールの男が、正親？

しかしじっと観るほどたしかにこの佇まいは……正親だ……

と、後ろから大きくなった背中をみつめていたら…

……正親がゆっくりと髪を解いた……

髪を解く左手に結婚指輪が鈍く光っていた。そうか、もうそんなことまで……
かつて正親の表情を覆い隠すように揺れていた黒髪が、横顔や背中に垂れ下がる。
その髪質も日本人形のようだった幼少期から変わらない。
……まるで、亡霊のようだ………

延金は混乱しながらも経過した年数を計算していた。
今1980年…じゃない、2011年…となると、正親、は、1970年生まれだから…

……41歳………

10歳、だったのに……

延金は気づいた。
正親が俯いたまま動かない。
そっと近づいて覗き込んだ。


居眠りしていた。


髪を解く。
正親はこの動作を「他人の身体感覚に自分の認識を全て委ねる」トリガーにしていた。
かつて延金の身体をトレースしたあの感覚を自由に制御可能にするための儀式だった。
そのトリガーを正親は、自分を育てた信頼できる相手の目線で自分を眺めることに使った。
かつて正親は延金におぶられてうたた寝したが、拷問の記憶がフラッシュバックして過覚醒したことがあった。
30年もの時を重ねて、そのトラウマは掠れた。

あのとき出来なかった「安心して眠る」という状態遷移に至りたくて正親は引き金を引き、そして成功した。


正親が初めて時に勝利した瞬間だった。