---
layout: layouts/scenario.njk
production_date: 2026-02-11
section: archive
category: scenario
viewpoint: 葛城正親編
persons:
  - 延金英一
  - 葛城正親
sensitive: false
rating: All-Age
content_warnings:
title: 読心能力者 葛城正親に適した遊具
timeline:
  sort_key: 010101
  fictional_year: 2010
  fictional_month: 
  fictional_day: 
  phase: BLOOD
  routes:
   - fang
   - skin
   - presence
  status: fixed
  summary: 葛城正親が、恐れる特殊能力者について独白する。
---

正親の家庭教師となった延金。
正親の息抜きのためにボードゲームを買い与えようとした。
しかし二人で遊べるものを探そうとすると、「正親が精神を読む」という前提で成立するゲームを探さねばならない。
トランプ、囲碁、将棋その他戦略が絡むゲームは却下した。

…すごろく。

これならよいだろう。
 延金が住居に戻ってきた時、正親は、延金が自分のために知恵を絞って遊具を選んでくれた記憶を読みとった。
 葛城正親は、息子の篠原堅以上に「誠実さ」に敏感だ…。


そして、延金英一が時間凍結された数年後。
二人が対等かつ刺激的に遊べるはずであったデバイスが発売された。


ファミリーコンピュータ。


正親は「こどもでいられる時間」を運命に奪い去られていた。
完膚なきまでに。