---
layout: layouts/episode.njk
production_date: 2020-09-21
category: episode
phase: BLOOD
viewpoint: 本田千和
title: 溶解
summary: 兄貴、キツそうだな〜...
thumbnail:
page_count: 8
timeline:
  sort_key: 2014100101
  fictional_year: 2014
  fictional_month: 10
  fictional_day: 
---