---
layout: layouts/scenario.njk
production_date: 2026-04-28
section: archive
category: scenario
phase: "SKIN"
viewpoint: 
persons:
  - 篠原堅
sensitive: false
rating: All-Age
content_warnings:
title: 遊休
timeline:
  sort_key: 2017010501
  fictional_year: 2017
  fictional_month:
  fictional_day:
  phase: NULL
  routes:
   - skin
   - presence
  status: fixed
  summary: 篠原堅が眠り続ける。
---

篠原は目を開くのを拒絶して、横たわり続けていた。
不思議と退屈しなかった。

窓が開け放たれて風が入ってくるのを感じる。
新鮮な空気だ。
かつて自宅を訪れた千和は、部屋の窓なんか気にかけず、淀んだ空気の中で俺を抱きしめてくれた。
窓を開けたのは誰だろう。


---

部屋に誰か入ってきた。


…何もしてこない。


観察されているのか？
喋り声すら聞こえない。


薄気味悪いな……
でもこんな程度で動かないぞ……
……生き地獄に戻りたくないからな……

---

篠原の頭を誰かが撫でた。

なんとなくこれは………千和かな………

篠原の横に誰かが横たわって体を抱きしめた。
この感触とサイズは間違いなく千和だ。

懐かしいな……高校の頃は苦しくてしょうがなかったからまともに抱擁を受け入れられなかった…

こんなに穏やかな気持ちは初めてだ………
………ずっとこのままでいたい………