---
layout: layouts/photo.njk
production_date: 2021-02-21
category: photos
phase: BLOOD
viewpoint: 本田千和編
persons:
  - 本田千和
title: ダークモード
fictional_year: 2014
fictional_month: 2
fictional_date: 21
image: main.webp
thumbnail: thumb.webp
---
