---
layout: layouts/scenario.njk
production_date: 2026-06-08
category: scenario
phase: 対照実験
viewpoint: ND
persons:
  - 篠原堅
  - 戸次信長
  - 鳥本春樹
  - 本田千和
sensitive: false
rating: Normal
content_warnings:
title: 身体シャッフル-パターンA
fictional_year: ND
fictional_month: ND
fictional_date: ND
---

戸次in鳥本:本能的に「入ったらブチ切れられる相手の体になっちゃった」と察して緊迫
篠原in本田:本能的に「侵してはならない相手の体を侵した」と察して絶望
鳥本in篠原:本能的に「入ったら損する相手の体になってしまった」と察して憂鬱（胸と腹の傷がズキズキ…）
本田in戸次:翼を得る

兄貴が好きだっていう戸次になったんなら"使える"よな？

本田in戸次、いきなり他のふたりの前で篠原in本田を抱きしめる。
"本田"「戸次さん…？！」
篠原in本田、顔が真っ赤。
"本田"「いや、千和、」
"本田"「なにをするん…」
"戸次"「おれは戸次」
本田in戸次、篠原in本田にキス。絵面が"長髪美男が美女の唇を奪う"というすごいことに。
"戸次"「…散々**雑**に扱われたんだろ？」
"戸次"「今日くらいおれに甘えろよ」
本田、戸次を自分の理想通りに動かすという倫理をフル無視した行動に……！
篠原、頭の中で何かが割れた。

「千和、やめろ」
本田千和の体が自分の名前を呼び、制止している。
「やめろ」
いまや本人は物理的に見下ろす構図だ。篠原堅の低い声ならいうことを聞いたのに、本田千和という女の声はまるで響いていない顔だ。
と、篠原が本田の首に腕をだきしめた。本田…が入った戸次の頭を抱え込んでいる。
戸次、ではなく本田はおいおい…という顔をした。
"戸次"「...兄貴？」
"本田"「千和」
できるだけ小さく、低い声でよびかけた。
元の自分の声に近づけるためだった。
"本田"「自分を消すな」
"本田"「お前は千和だ」
"戸次"「......」
"戸次"「......」


"戸次"「わかんねえだろ？」
"本田"「わかる」


"本田"「いつでも強がるのがお前だ」
"戸次"「........」

"戸次"「そんなことねえのに」
"本田"「そうだ」

"本田"「...そうなんだ」
"戸次"「？」


"戸次"「何がわかるんだよ？」
"戸次"「見た目がちげえだろ」
"戸次"「おれはもうどこにもいないのに」
"本田"「俺が今抱きしめてるだろ」
"本田"「何言ってんだ」
"戸次"「......」

"戸次"「兄貴はもうおれを見られないだろ」
"本田"「いま見てるし抱きしめてる」
"戸次"「...意味が違う」


"戸次"「鏡がないとおれをみつけられない」


"本田"「......千和......」

"本田"「......まさか......」

“本田千和”の目から涙がこぼれた。

"本田"「...お前、」

"本田"「自分は見た目がすべてだ、と思ってるのか....」

"戸次"「......」

"戸次"「......うん」

篠原は黙って涙を流しながら”戸次信長”の頭を抱きしめ続けた。

"戸次"「...なんで泣くんだよ」

篠原は黙って泣き続けていて言葉を続けられない。
被りを振っている。

"戸次"「...意味わかんねえよ」

篠原が思い出していたのは、人生で初めてみた千和の姿だった。

児童養護施設で周りの子どもに虐められている千和だった。

それは、日本人の中でただひとり、白色人種のこどもが外見の違いから弾き出されている光景だった。

篠原堅は本田千和の「自分は見た目が全てだ」という言葉を否定したいのに、その資格がないと感じていた。

いつも、彼女の光を反射する肌、深い掘りの二重、色褪せたような彩度の低い青色の瞳に恋焦がれていたから...

"戸次"「......」

“戸次”「...どうしてこうなるんだよ...」

“戸次信長”が打ちひしがれる”本田千和”を抱きしめ返した。

兄を甘えさせたかっただけなのに、失敗してしまった。

「誰かのことを考えながら泣き続ける女に抱きしめられる」。

本田千和にとっては幼少期に強いれらた悪夢だ。

しかし千和は、今自分を抱きしめている相手が、自分にかかっている呪いを痛ましくおもって泣いていることを理解できないし同情もできずにいた。
その外見は、自分自身の姿であるがゆえに死ぬほどうっとおしかったからだ。

“鳥本春樹”「ねー」
“戸次信長”の目だけが声の主にじろッと向いた。
“鳥本”「あのー、」
“鳥本”「今なにが、どうなってんの？？」
“篠原”「戸次さん　**黙ってください**」/“鳥本”「ごめんなさい」
“本田千和の兄”が低音で凄んで、”鳥本春樹”が即座に謝罪した。
“鳥本”「...？」
戸次（※in鳥本）「いや鳥本クンじゃん」
"鳥本"「やめてくんない？それ」
"鳥本"「敬語」
"鳥本"「すげえ篠原さんに言われてるって勘違いするから」
"鳥本"「今だけやめて？なんかどうにかして？」
鳥本（※in篠原）「ならあなたも僕の声で軽薄な態度を取るのをやめてくださいイライラします」
“篠原堅”が普段では想像できないような不機嫌で語気の強い口調で警告した。
"鳥本"「いや知らねー　やめない」”鳥本”は動じない。相手が”自分の大好きな元彼ではない”と自分にわからせるためあえて態度を崩さない。
そういや戸次ってこうだった...という感じで”戸次信長”がため息をつきながら目を背けた。
"鳥本"「ねえ苦情言っていい？」
"鳥本"「ちゃんとしてるやつ」

"鳥本"「本田さんひどくね？？」
"鳥本"「何してんの？？？」

"鳥本"「オレ”本田さんにキスした”ってことになっちゃったんだけど？？？！！」
"鳥本"「普通にやめて？？普通に？？？？」
"鳥本"「変な事実作んないで？？？」
“戸次”「うるせぇな！」
“戸次”「おれがいいから”いい”んだよ！！」
と、”戸次信長”がもっと強く”本田千和”に抱きしめられた。
“本田千和”は俯き、元気がなくなっていく...
“篠原”「千和さん、僕も”やめた方がいい”と思います」
鳥本が真摯に思い人に訴えた。
“篠原”「千和さんが可哀想です」
“篠原”「自分を粗末に扱いすぎです」
一瞬千和は”うっ”と刺さったような顔をしたが、すぐに怪訝な顔に変わっていった。
"戸次"「......お前に言われてもな」
千和は自分が戸次の顔と身体を利用した罪を棚に上げて、兄の姿で自分にうったえかけるサイコパスの男に不信感をあらわにした。鳥本本人は”篠原堅の姿を利用してやろう”と考えていなかったにも関わらずだ。

篠原堅は”泣いている場合ではない”と分かっていたが、千和の頭を抱きしめ続けることをやめられない。
本当はこういいたい。


　千和......お前は酷なことをしてしまっている。

　お前は俺に「雑に扱われてきただろう？」といったが、
　本当に雑な扱いを受けてきたのは戸次なんだ...


でも言えない。千和の味方でいたい......

千和がこんな行動に出たのは、俺を癒すことをいつでも優先させてしまったからだ。

…高校生の時から、学校からの帰りしな施設に戻らず、汚しい俺を抱きしめに家まで通ってくれたように...


“本田千和”がゆっくりと”戸次信長”の拘束を解いた。

…と、思ったら、...

“戸次信長”にゆらっと顔を近づけて、

_____唇を重ねた。

“戸次信長”は驚きで目を見開いたが、ほどなく受け入れて瞳を閉じた。

“鳥本春樹”は呆然とその光景をみていた。

“篠原堅”の瞳は冷えていたが、二人を見届けた。


いつも篠原堅がするような...

千和の口腔に舌で侵入して緩慢に舌や牙の存在を感じとりながら、深く安息に至るような息遣いを漏らすキスをした。

“戸次信長”は、いや千和は、相手の顔面が間近に近づいたが、自分の口腔に触れる感触から「これは兄だ」と直感で理解できたので、受け入れた。

ほどなく”本田千和”が唇を解放して自分の額を”戸次信長”の額に押し付けた。

”戸次信長”は目を閉じたまましたがう。

やっぱり兄貴だ...

“本田”「...千和」

“本田”「もうこれで十分だ」

“本田”「戸次のためにこれ以上はやめてやってくれ」

“本田”「戸次も雑に扱われがちなんだ」

“戸次”「...知らねえよ」

“戸次”「雑だろあいつ」

“本田”「だからこそだ」

“本田”「それが免罪符にされるんだ」

“戸次”は動揺するような仕草を見せた。

“本田”「お前も”強いから”ってそのへんのやつに甘えられるのは嫌だろ」

“戸次”「...うん」

“戸次”「わかった」

“戸次”「ごめん」

“本田”「おれはいい」

“本田”「他にいるだろ」

“戸次”「...」

“戸次”「ごめん戸次」

ぼんやりしたような沈んだような顔で”戸次信長”が”鳥本春樹”に謝った。

“鳥本”「いーよ」

“鳥本”「でもあの、いちゃつかないで？？」

“鳥本”「いちゃつかないで、夫婦で？？ふつーに？？？」

"戸次"「うるせえな」

語気は弱かった。

“篠原”「いいんじゃないですか」

千和がよければなんでもいい男、鳥本春樹が援護した。

“篠原”「こうでもしないと自分がわからなくなって怖いでしょう」

“篠原”「身長も声も変わってしまったんですから」

千和はふっと気づいた。自分の異常を無視していた。

千和が何かに気づいた顔をした。

"戸次"「...兄貴」

"戸次"「いや、戸次」

"鳥本"「なに」

"戸次"「もう一回兄貴に抱きついていい？」

自分の体を指差しながらいった。
顔は俯いていた。

"鳥本"「いーよ」

"鳥本"「レアだしやっちゃえば」

篠原/鳥本（（雑だなあ...））

"戸次"「わかった」「...ありがと...」

本田は再び篠原堅に..."本田千和の身体”に抱きしめられに行った。

胸元に顔をうずめている。

“本田”「どうした」

“戸次”「......うん......」

千和は堅にだけ聞こえる小ささの声で理由を告げた。

"本田"「...そうか」

堅は深く千和を抱きしめ直した。

鳥本は理由を尋ねず見守り、戸次も「なんかいま水差すのダメそう」と直感して黙っていた。


本田千和は篠原堅という男性に抱きしめられていても、女性に抱きしめられたことがなかった。

「女性の胸に安心して自分を委ねるということ」を一瞬体験したので、あらためてちゃんと味わいたくなったのだった。


「_____ママにこうしてほしかった」
