---
layout: layouts/scenario.njk
production_date: 2026-08-10
section: archive
category: scenario
viewpoint: 葛城正親編
persons:
  - 延金英一
  - 葛城正親
sensitive: false
rating: All-Age
content_warnings:
title: 水冷
timeline:
  sort_key: 1976070101
  fictional_year: 1976
  fictional_month: 7
  fictional_day: 
  phase: "NULL"
  route_type: common
  routes: 
   - all
  status: fixed
  summary: 延金英一が、葛城正親の介抱をする。
dev_comment: |
  夜に就寝しても眠りが浅く、数時間で覚醒する症状に悩まされていました。
  氷枕を敷いて寝ると睡眠状態が大変改善されて、安堵しました。
---

延金は最近、正親の奇妙な癖に気づいた。

布団で寝ていたと思ったら、頭だけ敷き布団の外に突き出しているのだ。

そのまま寝入っていたので、延金は正親の頭を枕に戻してやる毎日であった。

しかしその数十分後には、正親は目を覚ましてしまうのだった。



ある日の午後、延金も眠気を感じて、正親の横に布団もなしで寝転んだ。

正親の発作を防ぐため急築させたプレハブ小屋は、やや暑苦しい。

ふと、延金はその床の冷たさに気づいた。

確かにこれは気持ちが良い。

隣を見やると、いつのまにか正親はまた敷布団から頭を飛び出させていた。

木の床に、額を押し付けて目を閉じている。

延金は思いついて、一度プレハブ小屋をあとにした。


戻ってきた延金の手には、2つの氷枕が携えられていた。

本宅で正親の家の者に頼んで、調達したのだ。

それを、寝ている正親の頭の上にそっと載せた。

こどもの頭の下ではなく上に重たい氷枕を載せている珍妙な図だが、本人が床の冷たさを味わいたいならしょうがない。

延金は残りの氷枕を...自分用にも確保しておいた氷枕を床に敷いて、頭を載せた。

心地よさに眠気が深まり、やがて延金は入眠した。



目が覚めると、正親は礼儀正しく氷枕を頭の下に敷き、仰向けになっていた。

気持ちよさそうに寝ている。

いつもは壊れた人形のように転がっている正親だったが、今だけは穏やかな表情に変わっていた。

延金は、氷枕が溶けたらまた調達してやろうと思った。


ここまでは夏の和やかなひとときになるはずであった。


秋になった。

それでも正親は氷枕を使い続ける。

延金は、涼しくないのか？と問うたが、正親はむしろ必要そうにしていた。


冬になった。

まだ正親は氷枕を欲した。

延金は、風邪を引くぞ？とたしなめたが、正親はこれがないとよく眠れないといった。

重厚な掛け布団を被った状態でそういうので、延金は訝しがった。

しかし、正親は本当に風邪を引くこともなく過ごすし、なにぶん半年前まで重い病気であったこどもなのだ。

好きにさせてやることにするのだった。