---
layout: layouts/scenario.njk
production_date: 2026-04-04
section: archive
category: scenario
phase: ABSENCE
viewpoint: 
persons:
  - 篠原堅
sensitive: true
rating: R18
content_warnings:
  - 自慰行為
title: 失恋
timeline:
  sort_key: 2017100101
  fictional_year: 2017
  fictional_month: 
  fictional_day: 
  phase: ABSENCE
  routes:
   - fang
  status: fixed
  summary: 篠原堅が戸次信長の不在を痛感する。
---

堅は千和に行き先を告げずに一人で出かけることが増えた。

ラブホテルを1人だけで使うためだ。

戸次信長に刻み込まれてしまった快感の回路の電源を自ら入れるためだった。

以前なら忌避していたことだ。
もう段階が変わったと感じた。

何も考えられなくなる感覚を覚えていた。
あまりにも長時間泣き続け、空腹を感じるほど思考が濁り切った状態だ。
これを脳に刻み込むためだった。


たった一人、部屋で喘いだ。
誰にも聞かれる恐れがなかった。
自分が発した声を自分自身が聞いているという事実をも意識外だった。


「自らを停止する」という処理文。
ループ処理を組み込んだプログラムには必ず入っているものだ。
これがないと、知識をもつ人間しかプログラムを終了できない。
その操作は「強制終了」と呼ぶ。

堅は自らに快感を与えてかつ溺れることに成功した。

だが、その後にどうしようも無い欠落にも気づいてしまった。


いつもなら隣に倒れ込み、荒い息をしながら「共に同じ状態に至った」と確認できる相手がいたはずだった。


戸次さんはもう居ない……


涙を流しながら額を枕に押し付けた。
結局別の傷を発見してしまった。


だが、それでいい。
篠原堅にはソフトウェアに対する知識がないので自分の状態に気付かずにいた。
そのこと自身が救済だった。


プログラムは、自分が失ったものに自ら気づくことが出来ない。