---
layout: layouts/photo.njk
production_date: 2021-08-22
category: photos
phase: PROJECTION
viewpoint: 戸次信長編
persons:
  - 戸次信長
title: 誘拐
fictional_year: 2016
fictional_month: 3
fictional_date: 14
image: main.webp
thumbnail: thumb.webp
---