---
layout: layouts/scenario.njk
production_date: 2026-06-23
category: scenario
phase: PRESENCE
viewpoint: ND
persons:
  - 篠原堅
  - 戸次信長
sensitive: true
rating: R-18G
content_warnings:
  - 自殺企図とケア
title: 安息へ
fictional_year: 2017
fictional_month: ND
fictional_date: ND
---
篠原はふらふらとトイレに入り、洗面所に両手をついた。

あたりは真っ暗だ。

冷たい鏡が篠原の眼前に広がる。

戸次は傷つけ尽くした。

千和のところへは帰れない。

愛する者ほど求めたかったのに傷つけていく。


俺は誰にも出会うべきではなかった………


鏡の中の篠原が見つめ返す。

その瞳は黒い色だ。

本当は赤く染っているはずだ。感覚でわかる。

気温が分からなかったからだ。


体の感覚がよく分からない。


俺は、俺以外求める資格がなかった………。


右手を鏡についた。

赤く光っているはずの瞳を見つめた。


戸次の監視役を担いイズモでバイトしていたときの、罪悪感に呻いてトイレに籠って鏡を見つめた時の自分を思い出した。


…………許されてはいけない………。


篠原はぐったり目を伏せながら項垂れた。


血の刃は胸から飛び出してこない。

直感で悟った。

今腹を破いても誰かに迷惑をかける。

俺が自分を処理し終えるその瞬間を待っているんだ。

全ての守りたい者から俺を切り離せた時を。


……生暖かい。


右手の甲が生暖かい。


鏡に押し当てた手をさらに支えるかのようだった。


力なく篠原は視線を自分の右手に向けた。


自分の右手のはずなのに、一回り大きい、やや細く整った手が上に重ねられていた。

いつも恋焦がれながら見つめていた手の甲だった。


それはトイレで項垂れる篠原をみつけ、静かにその苦悶を抱えた背中に歩み寄ったテレポーテーション能力者のものだった。


鏡に磔にした自分の手に、その手が重ねられているのを見た篠原は…


…鏡を真正面から見据えて背後を確認することもできないまま…


……涙をこぼしはじめた。


深く頭をうなだれてしまい、かぶりを振ることすらできなかった。


右手の甲を覆う暖かさが染み込むとともに、手のひらに硬い感触が広がる。


鏡の平面だった。


自分の体温で表面がぬるくなった鏡の表面だった。


自分の身体の輪郭すら失っていた。


涙が洗面台に落ち続ける……


……右腕の力を失い、滑り落としそうになったが、重ねられていた手につかまれて、支えられた。


胸に痛みが現れ、それが線に沿って腹に広がりながら深まっていく……


左頬にすり寄せられたものがあった。瞼を閉じてしまっていた篠原は確認できない。


……したくない……


……いま　鏡をみたくない……


涙が洗面台に落ち続ける……


いまや胴体が抱きしめられていた。


背中を熱が覆う。


この暖かさに身を委ねる資格はお前にない、と教えるように胸の痛みが激しくなっていく。


それでも、この熱を振り払うように逃げる気力がなかった。


いま身体を動かしたら壊れてしまう……


なみだが　とまらなかった……




胴体を包んでいた両腕が篠原をゆっくりと弱く引き寄せ、どこかに向かわせようとしていた。


”拒みたい”と思わなければ……


左頬に深くなにかが擦り寄る。ちくちくとしている。


“お前が知っている男の肌だ”とわかっている。


……無理だ……


……”拒みたい”と思わねばならなかったのに……


……“お前と居る”と感触が告げている……



壊れていく身体を崩さないようにしているような慎重さで、篠原は抱き支えられた…..


なみだは　とまらない……


熱の中で、時間は止まった。


“拒みたい”、と思っていたものだった。


本当は魂を超えて、足元から求めてやまない熱だった。


この中にいても　いいんだろうか



ここにいても　いいのか？




左頬に摺り寄せられていた肌が、背中を包んでいた熱が、篠原の肩を支えて振り向かせた。




くちづけされた。




激痛を伴ったままの身体が強く抱き支えられている。





篠原の舌が、牙が、確かめられた。






なみだを流し続けて　まぶたが痛い……






舌を差し込まれて、粘膜で触れられ続けた。




いつか言われたことがあった。




“キスしてるとき　牙がささるのが　篠原さんとしてるって感じがして　いい”




なみだを流すまぶたの痛みが　深まっていく……




されるがままに　篠原は　くちづけされた……




他に誰も来ないことを祈るほど、長く……




ふっと唇を解放されたが、額に相手の額が押し当てられた。



篠原はまぶたを開ける勇気がなかった。




額が　すりよせられる……





額の内側が、痛んでいたことに　気がついた




これもまた　いつも無視していた痛みだった




……戸次……




……俺は……





………お前 を　愛しても　　いいのかな…….






```来て```






左耳をふっと甘噛みされた。




```
最近篠原さんばっかり誘ってくれたし、今度はオレに誘わせてよ

いいとこ探すから。
```





かつて、一気に欲望を点火されたトリガーだった。



性への誘いだった。





いまや救済だった。





誘われていた。






行き先はわかった気がした。







戸次のドアだ。







手を引かれて、重く歩を進めた。






いつも通りの歩幅にはなれなかった。




胸の激痛は続いていたからだった。





戸次の身体がみえる。





見たことのある　服が目に入る。





いつも　着ている、パーカーだ。





パーカーと　大きい手、篠原の右手を包んで連れていく手が視界の中で揺れる。





激痛のなか、篠原は思い出していた。





戸次の身長は篠原より遥かに大きい





でも、一緒に歩いて置いて行かれたことは　ない。




いつも、合わせてくれていた。




壊れている篠原の歩幅に　今も戸次が合わせてくれているのを感じる。




涙を流して　耐え忍ぶかのように目を閉じながら、篠原は手を強く握り返した。




応えるかのように、握り返される。




歩みがとまった。




廊下にある、ビルの管理業者しか使わなそうなドアの手前だった。





静かにドアが開けられた。




視界の端に映る橙色が　やわらかい。




こんなに　やさしく　目にふれる色だったろうか。




導かれるまま篠原は戸次の後ろに続いてドアを通った。




散らかっている部屋だった。




知っていた。




戸次の部屋だった。





戸次の実家だ。






ベッドがある。




ベッドも乱雑にちらかっている。





そこに倒れ込んだ。





いつも戸次から感じていた匂いに包まれる。




そのまま抱きしめられ続けた。




篠原は激痛を抱いたまま、戸次に顔をうずめた。




今、何時なんだろうと思った。




ここにいても良い期限を考えていた。




しかし　ほどなくして考えるのを　やめた。




戸次といるとすべての義務が無くなる。




帰りたくなったらいつでも自分の家の廊下に倒れ込むことができた。



戸次には自宅のドアにもつなげるようにさせていたからだ。




篠原はそのときそう回想していた。実際は、承諾を戸次から求められてそうしたのだ。




まだ付き合って数ヶ月後の、篠原が戸次に壊されておらず、当然精神支配能力者の陰も形もない時期のことだった。




そうして篠原は、戸次がいつでも部屋に来るのを許していたのだ。





一人でいた真夜中に突然、布団に忍び込まれることをも許していた。




かつては喜ばせるためであった。




今は違う。





駆けつけてもらうためになった。





もし自宅に帰らねばならなくなっても、戸次はきっとついてくる。






熱の中、篠原はそう安堵しながら眠りについた。





胸から腹にかけての痛みは、和らいでいた。