---
layout: layouts/photo.njk
production_date: 2020-02-08
category: photos
phase: PROJECTION
viewpoint: 
persons:
  - 戸次信長
  - 篠原堅
title: 聞こえたよな
fictional_year: 2016
fictional_month: 5
fictional_date: 10
image: main.webp
thumbnail: thumb.webp
---