---
layout: layouts/scenario.njk
production_date: 2026-04-25
section: archive
category: scenario
phase: SHADOW
viewpoint: 
persons:
  - 指宿楓
  - 戸次信長
  - 篠原堅
sensitive: false
rating: All-Age
content_warnings:
title: 触れる
timeline:
  sort_key: 2026031501
  fictional_year: 2026
  fictional_month: 3
  fictional_day: 
  phase: FANG
  routes:
   - fang
  status: fixed
  summary: 篠原堅が戸次信長の恐怖症を治す術を探す。
---

【戸次は世界に痕跡を残すことに対する恐怖症を抱えている】

この仮説を立ててから、篠原は戸次が日常生活を自力で送れるようになる術を考えていた。
「痕跡」を残さないまま日常動作ができれば、あるいは…。

千和の言葉を思い出した。

「泥棒が証拠を残さないようにするみてえなことを永遠にやり続けるのかよ？！」

…指紋を残さないようにするのはどうだ？
例えば…


指宿「いいよ、いっぱい持ってるからあげる」
優しい笑みで指宿 楓は答えた。

堅は戸次を連れて、彼女の店を訪れたのだ。
戸次が帰ってきたが、長年の放浪で土地勘を失ったので同行して挨拶にいきたい、
と彼女に連絡した上でだ。

堅はかつて指宿に「刺青をいれてほしい」と頼んで以来、互いの連絡先を知っていた。
FANGの監視係という役割によるものだったが、10年経つ中でいつのまにかそういう建前は消失していた。

堅は指宿に、オブジェクトとして愛用している白手袋の仕入れ先を尋ねた。
戸次が放浪のストレスから、潔癖症になってしまったのでサポートしたいと説明した。
指宿は、「余っているから」と予備でストックしていた白手袋を持ってきてくれた。
「彼女」は今でも特殊能力を有している。

指宿「戸次くん………本当に大変だったね」
指宿「ゆっくり休めてる？」
戸次「はい、バッチリ」
堅(いや、全然だろ……)
指宿「よかった〜！」
指宿「じゃあ、これ、はい」
手袋を差し出した。
指宿「着けてみて？」

戸次は手袋を凝視している。

戸次「ああ、どうも」
手袋の上に手をかざした。
戸次「いいっすねこれ」
そのまま手のひらをスライドさせている。
指宿「……？」
指宿「？？？」

戸次が手袋を受け取ろうとしない。

堅「……戸次……」
堅「戸次」

戸次がビクッとして堅をみた。


堅「……受け取ったら……どうだ……？」


堅はつい不安げな表情を浮かべてしまった。
戸次「あ、ああ、そうすね」
指宿は状況を飲み込めないでいる。
手袋を手のひらに載せたまま、待ってくれている。

戸次「……」
戸次「……あ〜〜……」

戸次「指宿さん、ほんとごめん」
戸次「手袋、テーブルに置いてもらっていいすか？」
指宿「うん、いいよ？」
指宿は素直に同意して、戸次の前に置く形でテーブル上に手袋をそっと配置した。

堅「指宿さん」
堅「少し、いいですか」
指宿「なぁに？」
戸次「？　篠原さん、どうしたの？」
堅「あぁ……ちょっとな」
堅「すまん、適当にしててくれ」
堅は戸次を部屋に残して、こそこそと指宿を廊下に呼び出した。

そして、戸次の症状を伝えた。


指宿は驚愕の表情を浮かべた。
そして……


………青ざめたまま、目を背けた……。


触れる。


これが、指宿のチカラの発動条件。