---
layout: layouts/scenario.njk
production_date: 2026-08-11
section: archive
category: scenario
viewpoint: null
persons:
  - 篠原堅
  - 本田千和
sensitive: true
rating: R18
content_warnings:
  - 性行為
title: サキュバス
timeline:
  sort_key: 2017051501
  fictional_year: 2017
  fictional_month: 
  fictional_day: 
  phase: FANG
  route_type: branch
  routes: 
   - fang
  status: fixed
  summary: 篠原堅が、本田千和とのふれあいを経てを自己を誤定義する。
---

堅と千和の性交渉は、ぎこちなかった。
堅は千和を傷つけたり痛がらせたりしないかビクビクしていた。
もう４回目にも関わらずだ。
愛撫も、性器の結合も、やたら慎重だった。

ゆっくり入り口に圧力をかけた。
慣れない応力がかかって千和が呻いた。

またゆっくりとした結合を再開した。
まだ、自分の部品の10分の1も侵入していない。
慣らせるだろうかと思い、その場で軽く出し入れした。
深い結合の予告動作のような刺激に千和が喘いだ。

恐る恐る堅は腰を押し付ける動作をした。

「あぁ……！」

根元まで結合が完了した。

結合部が熱い。
千和の胎内は暖かいし、自分の部品にも血液が集まっている。
互いの熱で互いの身体を融かしてしまうだろう。

堅「千和……大丈夫か……」
堅「苦しいだろ……すぐ済ませる……」

千和「………」
千和「兄貴ってさ………」

千和「………戸次と、やったんだよな………」

堅「……」
堅「そうだ。」

千和「………どうやって」

堅「………お前は知らなくていい」
千和「いや、もう知ってるし」
千和は堅が身体の疼きに耐えている様をもう目撃している。
千和「その……あれだよ」
千和「女と男どっちやってたんだよ……」
堅「………」

堅「抱いてもらってた」

堅「だから今お前に負担をかけてるのもなんとなく想像できる」
堅は会話を打ち切って、千和の胴体に唇をつけた。
千和「負担だったか？」

千和「兄貴にとって戸次ってそういう奴だったか？」

堅が千和を見つめる。

千和「違うんだろ？」


千和「じゃなきゃあんな苦しみ方、しねえよ…」


千和「おれも一緒だ」
千和「こんなのなんともねえ」
千和「早いとこ楽しもうぜ」

堅「千和……」

堅「やめろ。」

千和がビクッと堅を見た。
怖い声だった。

堅「同じなわけない。」

堅「全然違う。」

2人とも黙りこくった。
到底続きをする雰囲気じゃない……と千和は思った。
体は繋いだままだ。

堅「……ずっと俺を守ってたお前が俺を受け入れるのと」
堅「ずっと閉じこもってた俺が無理やり叩き起されるのと」
堅「同じになる訳がない」
千和は俯きながら堅を伺いみた。

堅「千和」


堅「………」


堅「       」
堅はなにか囁いた。

千和にしか聞こえなかった。

千和の目に涙が溜まっていた。


上体を起こすと、千和の声に切迫さが増した。
こちらの方が刺激が強いらしい。
しかし視界に映る千和の姿が客観的すぎて、見てはいけないものを“見せている”感覚にとらわれて、堅は目をつむった。
(クソッ　やめろ……こんな時まで思考を読まれる前提になるな…)
(千和のことだけ考えろ…)

千和「オイ　兄貴」
千和が不服そうな声をあげた。
千和「何目ェ閉じてんだよ」
千和「話違うじゃねえか」
千和「見ろよおれを」
堅は千和に促されて目を開いた。

千和「…兄貴……」

千和「……おれをみててくれ…」

千和「戸次なんかじゃなくて、おれを……」

堅「わかった」

堅「一生見てる」


堅「たとえ子供が産まれても」

千和はハッとした顔で堅をみた。

堅「俺が見るのはいつもお前だ」


……これ……終了条件ってなんだ……？


…俺が達することか？


それは、ちょっと……

千和は刺激を受け止めている。
目を固く閉じながら荒い呼吸をしていた。
千和に突き刺した自分という異物を抜き差しするたびに声を漏らしている。


………まるで支配しているかのようだ………


視界が開けているはずなのに、視界が暗く閉じていくような感覚がある……
勃起を維持し……だめだ、もう血液操作能力は喪ったのだった……
局部に感覚を向けてなるべく刺激を受け取ってやり過ごす。


千和は苦しんでいないようだ。


もしこのまま性交を続けて終了させるには、「疲れた」と俺が言うか、千和が言うか、もしくは……


………

……千和は壊れた俺をずっと守り続けてきた……
誰かに自分を委ねようとしない……

篠原は、もしこれが終わったらどうするかも計算完了した。

俺は千和を癒すモノになる。
終わったら抱きしめて有耶無耶にしよう。

30分近くの性交、ずっと堅が中断せず腰を振り続けた結果、
千和が果てた。

異物をすぐに抜き取って、千和に覆いかぶさった。
千和の呼吸が落ち着くのを待つ。

話題転換でもするかのようなノリで唇を重ねた。

…………あれ？

千和が堅に冷ややかな視線を向けている。

千和「ケ〜〜ン……」
堅「…なんだよ」
平静を取り繕った。

千和「お前イってないよな？」

堅「いや、出した…」
千和「ぜってえ嘘だろ」
千和「そんなに息が落ち着いてる奴あるかよ」
あ…
堅「こんなもんだろ…」
千和が堅の顔を疑わしげな表情で凝視する。

うう……しまった………
千和の方がうわてなの忘れてた………

千和は（ふうん）という顔をしたのち、堅にまた唇を重ねた。

千和の手が堅の大胸筋に重ねられた。
そのまま下に滑り落ちて腹に刻み込まれた切り傷をなぞり、
堅「うっおい、」
堅「ふぅぅ、」
堅「やめろ、」
堅「やめてくれ」
千和「なんだよ」
千和「おれにもイカせろよ」
堅「もういい、もういいんだ」
堅「もう俺は満足してる、ぅうぅッ」
堅の口が開かれて並んだ牙が露出した。
熱い息が吐き出される。
堅「ほんとにいい…」
千和「いやだ」
千和「どうせ戸次だってお前のチンポしごいたんだろ」
千和「絶対それで済んでねえだろ！」
堅「やめろ、ほんとにやめろ…」
堅は情けない呻き声をあげている。
千和が堅の乳首を舐めようとしたので必死に防御した。
千和「なんであいつしかお前のこと見られねえんだよ」
千和「おれのほうが一緒にいたのに！」
千和「！」
「クソッ！！」

千和「なんでまたあいつの話になってんだっ」

堅は申し訳なくなった。
堅「千和、千和、」
堅「ほんとに頼む、やめてくれ」
堅「トラウマなんだ…」
咄嗟に方便を言って千和を制止した。
千和は不満と心配が混じった顔で、俯きながら堅を見つめた。
ようやく「攻撃」をやめてもらえて堅はため息をついた。

堅「………」

堅「………すまん……。」

そして落ち込んだまま、堅はベッドにうつ伏せに倒れ込んでしまった。
だめだ…………

失敗した……………。



部屋に重苦しい空気が流れ、堅は狸寝入りをした。
千和も諦めたのか横になった。
お互い服を着ないままだった。

堅は千和が寝息を立て始めるまで耳をそばだてていた……

……そのまま寝てしまった。
疲れていた。


朝になった。


………

なんか気持ちいい……


淫らな夢を見ているらしい……


これは戸次さんとの記憶か……
そうだ、戸次さんが俺の性器を口に含んで……

"篠原さんもやって"っていって互いに………


千和には絶対言えない
こんな様を見せたら嫌われる…


どんどん呼吸が乱れていく…

敏感な箇所を探るかのような刺激が加えられる…
睾丸を揉みほぐされながら、先端から軸部分まで、濡れた舌でなぞられる……


……戸次さん………


……戸次さんなら………


昨晩己の制御に神経を尖らせた上、事態の着地に失敗してくたびれていた堅は、久々に「一方的に刺激を与えられて停止する」体験を夢で味わえて簡単に溺れていく。
湿った粘膜に性器が絡め取られ、何度も何度も舌が往復する…

太ももや性器が硬直し、快感に耐えていた。
何かを思い出しそうだが、無視した……

チクッ

快楽のなか、なにか尖ったものが性器をかすめた。 
……？
無視した…


……射精しそうだ
口の中で達しても戸次さんはいつも気にしないでくれた

もう堅は快感に支配されてされるがままになる


……はずだった。


なんかリアル過ぎないか？
ほんとに、舐められているような…

快感で前頭葉を麻痺させていればいいものを、堅は肝心なところで第六感を働かせてしまった。
覚醒レベルが急激に上がる。

ああ、本当に性器が何者かの口に含まれている……

……


………え？




千和？！？！



千和の繊細な桃色の唇が、堅の男性器を咥えこんでいる。
さっきの「チクッ」は千和の牙か！
とっさに彼女の額を手で押し退けようとしたが、急所を抑えられているので上手くいかない。

千和が頭部を上下させて堅にとどめの刺激を与える。
完全に脳の防御壁を解いていた堅は、いまさら触感から意識を逃して刺激から距離を取ることができなくなっていた…

というかショックで放心状態に陥っていた。

千和が、あの千和が、

白い肌、
深い二重、
長いまつ毛、
冷えきった空のような淡い色の瞳、
きれいな形の眉、
華奢な身体の、
芸術品のような美貌の彼女が、

柔らかい唇で自分の汚い性器を咥えこんで舐めている…

一方的な刺激の入力は続く。
もう止められなかった。


千和の口の中に射精してしまった


堅の性器を千和はなお咥えたままでいた。
もう堅が達したことは分かったはずだ。
咥えた性器が脈動する触感と、
……………味覚で…………

性器を軽く吸いながら、千和は先端に向かって唇を動かし、解放した。
………自分の口の中に出された液体を全て引き取っていった………


堅の脳内は絶賛大混乱中だ。
気持ちよかった、でもあの千和が、いやなんで千和が、あいつ飲んじゃった、起きるに起きれん、逆夜這いされた、「なんであいつしかお前のこと見られねえんだよ」、なにもこんな方法、いや確かに有効、うわてが過ぎる、あの千和が

千和が立ち上がってどこかに行った。

水の音が聞こえてきた。
洗面所にいって蛇口を捻ったらしい。

ああ、ああぜひそうしてくれ、口をゆすげ、消毒液を含むべきだ（※危険です）
いや、しかし………


穢れは残る…………


千和が戻ってきた。


堅にぴったり身体をくっつける形で横たわった。
腕を堅の切り傷まみれの腹にまわしていた。
千和が自分の頬を堅の鎖骨に擦り寄せている……

………俺が寝ていると思っているんだろうか…………


………どう、……………する……………


……そうだ……
俺はさっき与えられる刺激に抗おうと千和の頭部を抑えた…
……もう俺が覚醒していることはバレているはずだ。

堅は腹を括った。

自分に身を寄せる千和を抱きしめて、唇を重ねた。
千和の唇に舌をねじ入れて何度も絡めた。
ついさっきまで自分の性器を咥え、精液を飲み込んだ口腔にだ。
不意打ちを全て受け入れる、という意思表示だった。

それとも、千和の口腔を自分の唾液でさらに穢しているんだろうか。

強く千和を抱きしめたまま唇を解放した。

千和はバツの悪そうな顔で目を逸らしていた。

…….。
なんて声をかけたらいいんだ……

堅も困ってしまい、沈黙したまま千和の頬を撫でた。

このままどちらかが発話しないと、今日はもうずっと互いに照れたまま会話ができないぞ…


千和が切り出した。

千和「……変な味だったな」
千和「単純に”苦い”じゃねえ」
それを言っちゃうか！？！？
ああ、分かる…いや駄目だこの返しはッ （※戸次のせいで堅は精液という液体の味を知っている）
ちゃんと消毒液を飲んだか？いやじゃあ直後千和にディープキスして汚し直したのはなんなんだ
「そうかー」と返すか？妹に精液を飲ませておいて「そうかー」ではない
表現の深掘りをして味を思い返させるのも論外だ

堅は文章校正のループにハマったせいで、自分で気づかぬうちに苦悶の表情に陥っている。
千和はそれを見て…

……自分がフェラを仕掛けたことに兄が苦悩していると解釈した。

千和「……兄貴って……」
千和「……めちゃくちゃ遠慮してねえか？」
……?
???
千和「なんか、ずっと焦らしプレイされてる感じだったぜ」
お、おい…”焦らしプレイ”なんて俗語を口にしないでくれ…
千和「おれは別にいいのに…….」
千和は胸を堅の胸部に押し付けた。
千和は目を背けたままだ。
千和「……期待してんのによ」
胸部に小さくてかたいつぶが押し付けられているのを感じた。
千和の乳首だ。
堅は愛撫する時徹底的に避けていた。

千和「………なんかいつもそうなんだよな」

……
“いつもそう”？

千和「みんなえげつねえ下ネタでバカ笑いしてんのに、おれが話に入ったら引くんだよ」

………？
なんの話だ？

千和「おれだって好きにやりてえのによ」
千和「”お前が言うと笑えない”っつーんだよ」

千和「なんでおれだけそんな扱いなんだろうな」

堅が千和をきょとんとした顔で見つめた。
千和が整った美しい顔でニヤッと笑う。

千和「お前が忘れた頃にまたえげつねえレイプしてやる」
千和「お前はもう終わりだ」
千和「告った相手がサキュバスなんだからな」

またいつもの千和のセルフブランディングか……..
……しかし……

堅「”サキュバス”ってなんだ？」

千和「え”」
千和が真っ赤になった。
千和「おい！！知らねーーーのかよッ」
千和「あんなにおれが知らないことばっか話すのにおれが知ってることは知らねーーーのかよッ！？！？」
堅「あ、ああ…（そりゃあそうだろ…）」
千和「お前あんなに図書室にこもっててなんだったんだよッ」
堅は中高時代、教室にいるのが苦痛で常々図書室に逃げ込んでいた。
堅「いや…あそこにいても本なんか読んでなかったからな…」
堅「せいぜい背表紙を見るか、技術系の本だけ開くかだ」
父親に記憶を読まれる恐怖から、堅は感情を起動させられる類の書物だけは頑なに避けていた。
その結果選ぶ本が変な感じだった。
サキュバスなんて普通の…健全なファンタジーには出てこないだろう。
千和「あーーーーなんか……変なシリーズ見てたような….」
堅「ブルーバックスか？」
変なもの呼ばわりされて思わず笑った。
千和「もういいよ、この話は無しだ」
千和「腹へった…朝飯食おうぜ」
千和は起きあがろうとした。
…..
堅が千和の拘束を強めた。
堅「それでサキュバスってなんだ？」
千和の足に自分の足を絡めてまで千和を閉じ込めた。
千和がぐぬぬと言う感じの顔をした。
千和「おい！！！！」
千和「ふざけんなよ！！！」
千和「なんでそこだけ食いつくんだよ！！！」
堅「意味不明な単語をオチに使われたら確認したくもなるだろ」
されたら困るだろうなと思いながら千和を身体的に完璧に拘束した。
千和「うるせえなあ！！」
千和「お前っなんでそういう余計なことだけ気にするんだよ！！」
堅「わかった、わかった」
千和にこれ以上いじわるするのもなんなので、堅は拘束を解いた。
堅「あとでこっそり調べる」
千和「こっそりやることをわざわざ宣言すんなッ」
千和「”エロい悪魔”って意味だよッ！！」
堅に用語をググられてはそっちのほうが恥ずかしい、と千和は考えた。
堅「？」
堅「そういうのが居るのか」
堅「ヨーロッパっぽい響きだが」
千和「真面目に考察すんなよ…」
堅「エロかったのか　お前は…」
千和「確認するな💢💢💢いちいち💢💢💢」
千和「惚れてる男に抱かれたいって思って何が悪ぃんだよッ💢💢」
照れ隠しで投下された爆弾に、堅は見事に爆破された。
堅は真っ赤になった顔を、千和から逸らすようにベッドに向けた。
千和「お前は頭でっかちすぎて性欲すらないんだろうけどなッ」
堅「そんなことは…」
言いかけて、堅はとうとう人生で初めて、美しい千和へ向けた欲望を白上してしまったことに気づいた。
自己嫌悪で苦悩の表情に変わりながら、彼女から離れようか考えた。
千和「…、”期待してる”つっただろ」
堅は千和の顔をみた。
赤面したまま、堅と同じようにベッドに顔を逸らしていた。
千和「じゃあおれは誰の前で羽目はずしゃいいんだよ」
素直に”兄ではなく恋人になった堅と触れ合っていたい”といえばいいものを、千和は自分の性欲処理の問題にすり替えていた。
しかしこのスリップは、堅の無意識を刺した。

俺は　千和を　神聖視しすぎていたんじゃないか？

千和を　美しさの対象として　偶像化していなかったか？

堅は確認するかのように、千和の上腕に触れた。

なめらかで　あたたかい。


千和が堅の顔を真っ直ぐにみた。
頬を赤くしたまま、千和は堅の首に腕を回した。

そのまま堅に接吻してくれた。

欲情していいのか、お前に？

…お前は…

……俺に欲情しているのか？

堅はそのまま、何かに命じられたかのように千和に覆い被さり、愛撫した。

千和は思わぬ兄の積極的な姿勢に興奮を覚えてしまっていたらしい。

そのまま行為は加速し、堅は千和に”入った”。

千和が悦びの声をあげている…


""ブツッ""


堅の頭の中で何かが動作した。



結合部に左手を伸ばし、その上部にある突起を押し潰した。

これは陰茎の相同器官だ。

俺は戸次さんに男が味わいうる快楽と、女が味わいうる快感を両方教え込まれた。

千和、お前も両方味わえるはずだ。
俺達よりも安全な方法で。

結合部がぬめって、粘液が垂れ落ちて布団を汚していた。
もうどれだけ激しく男性器を抜き差しされても抗えないだろう。

千和が達した。
どちらの部位で飽和したのか分からない。
昨晩よりかなりの短時間で至った。
腟が周期的に収縮しているが、そのリズムを無視して陰茎の出し入れを続けた。
敏感になったであろう性器への刺激を止めない。


「自分が性的な楽しみを味わいながら千和を乱れさせる」という目的設定にフルコミットして身体をつかったので、堅は千和の腟内で射精することに成功した。
（もちろん避妊具はつけており、場所だけの話だ。）

陰茎を千和から引き抜いたのち、堅は彼女ともども眠りこけてしまった。
前頭葉が機能していない感覚で、意識が勝手に落ちてしまった。

堅は自身のふるまいのプログラムをはじめて違う形で停止させていた。
「本人が停止を認識していない」という画期的な形式だった。

結局10時ぐらいまで熟睡し、そのあとは眠気まなこでやれ掃除機がけだやれ洗濯だと人生の手数料を払って過ごした。
千和は「もうめんどうだから昼食はマックでも買わないか」と提案し、堅も賛成した。

そうして日常生活を送る。
………はずだった。

堅の余計な習性は作動し続ける。
違和感の検証だ。

"ブツッ"

......
これはなんだったんだ？

なんだかこの「音」を感じたあと、急に認識がクリアになったというか………
実際の音ではない。耳で聞こえたわけではない。
………なんだ、これ…………

…………まあ、いいか。

堅は気にするのを辞めたつもりだった。
そのまま数日間、千和と穏やかに過ごし続けた。
千和と軽口をたたきながら、バックグラウンドで自分の脳を探る"内省"プロセスは自動で走り続ける。

あれは、条件分岐の上書きが走った音だったんだ
'''
[特定人物]の前で「取り繕わず素直に振舞っている」ように振る舞え。
'''
戸次信長に加えて本田千和が書き込まれたんだ

どんなに人間らしく振舞ったようにみえても……




…………俺は、モノだ…………………