---
layout: layouts/photo.njk
production_date: 2020-09-30
category: photos
phase: BLOOD
viewpoint: 
persons:
  - 篠原堅
  - 本田千和
title: 光と影
fictional_year: 2015
fictional_month: 
fictional_date: 
image: main.webp
thumbnail: thumb.webp
---