---
layout: layouts/scenario.njk
production_date: 2026-06-27
category: scenario
phase: ND
viewpoint: 延金英一編
persons:
  - 延金英一
  - 葛城正親
sensitive: true
rating: R18-G
content_warnings:
  - 人体破損
title: 人間の証明
fictional_year: 1980
fictional_month: 
fictional_date: 
timeline:
  sort_key: 1980010101
  phase: NULL
  route: main
  status: fixed
  summary: 葛城正親が初めて怪物性を露わにする。
---

10歳のこどもが。正親が。佇んでいた。


春の、あたたかい穏やかな風がそよいでいた。


正親の黒い髪が揺れる。


日光が正親の白い肌を照らす。


正親はほとんど首を傾けぬまま眼差しを延金英一に向けた。


その頬には赤い体液が飛び散っていた。


白いYシャツは赤い体液を吸って重たくなっていた。


あたたかい風が鉄の匂いを運ぶ。



それは、血の海だった。




虐殺の現場だった。




正親が、読心術を用いて己の脳に焼き込んだ回路をもちいて、
葛城家の者を殺し尽くした。





たったひとりのこどもによる、大量の人体破損であった。






まるで機械が人を押しつぶしたかのようであった。





まるで機械が人を引きちぎったかのようであった。





まるで機械が人を巻き込んで搾り取ったかのようであった。






延金英一はその光景をまざまざと目に焼き付けた。





立ち尽くしていた。
正親が佇む屋敷の外で。






呆然としていた。






…しかし。





「…正親！」





恩師が言葉を投げかけながら生徒に歩み出した。





「何やってんだ！」


「一体何があった！」


正親「構うな」


正親「”私”は怪物だ」


かつては”俺”と己を読んでいたこどもが自己を定義した。


延金「おまえを```怪物にはしない！```


屋敷に足を踏み入れながら延金が宣言した。


正親の脳に入ってくる延金の言葉と意志に齟齬はなかった。




延金が正親を抱きしめた。




黒髪が血に濡れている……。




```…お前は怪物かもな```



```認める。お前は怪物だ```



```だがこどもだ。ただの。```



```孤独な人間だ。```



```僕は同行をやめない！```



```正親```



```お前に惚れ込んでいるだからだ_____```