---
layout: layouts/photo.njk
production_date: 2019-12-27
category: photos
phase: PROJECTION
viewpoint: 
persons:
  - 戸次信長
title: ハイコントラスト
fictional_year: 2016
fictional_month: 
fictional_date: 
image: main.webp
thumbnail: thumb.webp
---