---
layout: layouts/photo.njk
production_date: 2019-07-30
category: photos
phase: FANG
viewpoint: null
persons:
  - 戸次信長
  - 本田千和
title: 太陽と月
fictional_year: 
fictional_month: 
fictional_date: 
image: main.webp
thumbnail: thumb.webp
---
