---
layout: layouts/scenario.njk
production_date: 2026-04-02
section: archive
category: scenario
viewpoint: 葛城正親編
persons:
  - 葛城正親
sensitive: false
rating: All-Age
content_warnings:
title: 読心の実演
timeline:
  sort_key: 1990040701
  fictional_year: 1990
  fictional_month: 
  fictional_day: 
  phase: "NULL"
  routes:
   - fang
   - skin
   - presence
  status: fixed
  summary: 葛城正親が妻に読心能力をみせる。
---

20代前半の正親と、妻となった時子。

正親が時子に自身が読心能力者であることを明かした。

時子「私の考えていることをあてられますの？」
正親「無論だ。」
時子、思考。
正親「りんご」
時子、思考。
正親「ごりら」
正親「ごはん」
正親「しりとりにまけてみた」
正親「エディアカラ帝国」
正親「なんだこれは」

時子「それは考えておりませんでした」
正親「造語を作って俺を試したか」
時子「でないと本当に理解されているのか分かりませんわ」
正親はため息をついた。この女…。
額に手を当てて目を閉じた。
正親「即時に精神を読み上げるのは疲れる。もう二度とやらん。」
時子「あら残念」
時子が笑った。