---
layout: layouts/scenario.njk
production_date: 2026-04-01
section: archive
category: scenario
viewpoint: 葛城正親編
persons:
  - 葛城正親
  - 風間竜也
sensitive: false
rating: All-Age
content_warnings:
title: 最高の上司
timeline:
  sort_key: 2016040101
  fictional_year: 2016
  fictional_month: 
  fictional_day: 
  phase: PROJECTION
  route_type: common
  routes:
   - all
  status: fixed
  summary: 風間竜也が、上司 葛城正親について評する。
---

風間竜也。27歳にして数多くの水商売の店を高収益で経営する敏腕だ。
彼が属する唯一の上司、FANGのトップ 葛城正親の印象を聞いた。

風間「葛城さんか？」
風間「あの人なー……」

風間がタバコの煙を含んだため息をついた。

風間「最悪だな…」

風間「詰められたことあるか？お前」
「俺は他のカスになら何度もある」
「殺してやりたかったぜ」

「でも葛城さんはそういうことゼロなんだよ」

「葛城さんとは世間話しかしねえ」
「店の話とか、部下が使えないって愚痴とか、面白そうな仕事の話とかすんだけどよ」
「葛城さんは全部聞いてくれんだよ」
「ありえねーだろふつう？他の同じ年齢のおっさんたち（2016年時点で40代後半）はみんな"1分で報告しろ"とかほざくのによ」
「俺がうっかり調子に乗って話しまくって2時間経ってた時があって血の気引いたぜ、あの時はよ」
「でもまったく気にしてないって顔なんだよな」
「それでよ……」

「さもどうでもいいような感じで本題の仕事の話にうつるんだよ」
「面会時間でいうと最後の1割くらいだ、長くてもよ」

「ここからが恐怖の時間だ」

「葛城さんは俺に報告させねえんだよ」
「あっちから全部言うんだ」

「俺が一切話してねえことをよ」

「言い訳、騙し、誇張、隠蔽一切不能なんだよ」
「地獄で審判受けるってこういう感じかって思ったぜ」
「どうしてこう行動したのかって理由すら聞かねえからな？」
「これも調べとけ、あいつには気をつけろ、こうすりゃ挽回できるってすげえ分かりやすい指示を2、3個出して終わりだ」
「…………。」

「あ、そう。凄さ、分かんねえか。」
「まあそうだろうな」
「馬鹿の理解なんて期待してねえよ」

「で。」
「さすがに葛城さんも上納金は要求してくるが……」
「これもな……」

「葛城さんは金額じゃなくて割合で指定してくんだよ」
「普通はレンガ（一千万円の意）とか言うのによ」
「だからこっちも自然と読み合いさせられんだよ」
「お前、稼ぎの1割だけ寄越せばいいって言われたらどう思う？」
「アガるよな？」
「馬鹿ならそうなるだろうな」
「逆だ」

「"これ失敗したら殺すぞ"っつーメッセージだよ」
「いや、"これしくじったらお前死ぬからな"っていうパターンの方が多かったか……」

どのような仕事だったのか尋ねた。
風間「あ？」
「なんて言った？」
質問を繰り返した。風間は沈黙した。

「なんていった？」

息が苦しくなった。この世界で仕事のことを詮索するのはタブーだ。なんでもない、と誤魔化した。

風間「あっそう…」

「あ。」
「そういや……」

「金じゃないときもあったな」
「なんでこんなものを？っつーモノを欲しがる時があったな……」
「どういうモノかは言わねえがよ」

「あーーあ………ったく……」
「次 葛城さんに会うのが憂鬱だよ………」

風間竜也は葛城正親がどのような特殊能力をもつか知っていた。

