---
layout: layouts/scenario.njk
production_date: 2026-04-02
section: archive
category: scenario
viewpoint: 葛城正親編
persons:
  - 葛城正親
sensitive: true
rating: R18-G
content_warnings:
  - 出産時の苦痛
  - 精神侵襲
title: 死の超克
timeline:
  sort_key: 1993050501
  fictional_year: 1993
  fictional_month: 
  fictional_day: 
  phase: "NULL"
  routes:
   - fang
   - skin
   - presence
  status: fixed
  summary: 葛城正親が出産に臨む妻を支えようとして自らに激痛を焼き込む。
---

時子が懐妊したと報告を受けた正親は即座に行動を起こした。
時子が胸に秘める一抹の不安を察知したからだ。

出産だ。

正親はかつて自身が発狂したことを思い出していた。
もう33歳だ。5歳前後の記憶は常人なら薄れている。

だが葛城正親の中で、「人生が始まった」のは正気を取り戻した時からだ。


あの倉の中で自分は死んだのだ。


時子には耐えられん。


正親は自分に授けられた異能をフル活用した。
大学病院に足を運んだのだ。

関係する医療の知識とロジスティクスを把握した。
万が一の場合救急車が遅れて医療の手配が遅れてはならない。

産婦人科医の精神に侵入し知識を奪い取った。
正親には「専門家に任せる」という発想がない。
専門技能は経験年数に依存することを、度重なる「他人への侵入」で理解していたからだ。

だがこれだけでは話にならない。
なにもあてにならなかった。


女ではないからだ。


激痛を伴うことのない身体をもつ者の支えなど無意味だ。欺瞞だからだ。
激痛を乗り越えた者の激励も無意味だ。忘却するからだ。

この女を生き永らえさせ、我々の息子に「命」を与えるため、私は「死」をも超克する。


葛城正親は、時子に出産を乗り越えるための精神と身体の使い方を授けるため、激痛のピークに達した初産中の女性たちの精神に数十分間ダイブした。




その回数は十度に及んだ。