---
layout: layouts/scenario.njk
production_date: 2026-03-19
section: archive
category: scenario
viewpoint: null
persons:
  - 篠原堅
  - 本田千和
sensitive: false
rating: All-Age
content_warnings:
title: 共に斃れる
timeline:
  sort_key: 2017061001
  fictional_year: 2017
  fictional_month: 
  fictional_day: 
  phase: "ABSENCE"
  routes:
   - fang
  status: fixed
  summary: 恋人同士になった篠原堅と本田千和の短い会話。
---

堅「……もう俺への添い寝に付き合わずに好きなことしたらどうだ……」
千和「ずっとやってほしかったことだぞ」
千和「どっかいくバカがいるかよ」