---
layout: layouts/episode.njk
production_date: 2023-07-09
category: episode
phase: PROJECTION
viewpoint: 戸次信長
title: Trapped Teleporter
summary: 篠原と共に渋々次の引越しバイトに臨む戸次。特殊能力で荷物を移動させる案件だったが、客の男との間に予想外のトラブルが...！
thumbnail: thumb.webp
page_count: 24
timeline:
  sort_key: 2016051005
  fictional_year: 2016
  fictional_month: 5
  fictional_day: 10
---