---
layout: layouts/episode.njk
production_date: 2019-01-26
category: episodes
phase: PROJECTION
viewpoint: 戸次信長
title: BIG DOG's Digging LIFE
summary: 篠原と打ち解けられなかった戸次。悩みながらも日常を過ごす。彼が手伝う実家のペットショップには、後ろめたい秘密があった...。
thumbnail: thumb.webp
page_count: 19
timeline:
  sort_key: 2016050701
  fictional_year: 2016
  fictional_month: 5
  fictional_day: 7
---