---
layout: layouts/scenario.njk
production_date: 2026-02-01
section: archive
category: scenario
viewpoint: null
persons:
  - 四方椿
  - 篠原堅
  - 四方優也
sensitive: false
rating: All-Age
content_warnings:
title: 篠原堅に助けられた四方椿
timeline:
  sort_key: 2016090101
  fictional_year: 2016
  fictional_month: 9
  fictional_day: 
  phase: PROJECTION
  route_type: common
  routes:
   - all
  status: fixed
  summary: 篠原堅に助けられた四方椿が、わずかに心惹かれる。
---

篠原 堅に助けられて思わず四方 椿は赤面してしまった。
篠原が身を呈して敵の攻撃から椿を守ってくれたのだ。

篠原の背中に深々と得物が刺さっている。

篠原は空虚な瞳を椿に向けながら「大丈夫ですか」と問うた。
その光景が忘れられないらしい。まったく優也は頼りない。

優也に「篠原が気になってしょうがない」と告げた。
優也は「BSS（ぼくのほうがさきにすきだったのに…）」と絶句。
椿は「あんたが嫌ってわけじゃないわよ。ただあの人がメロかったってだけ」と補足した。

優也「そりゃあおれはあんなこと出来ないよ………」すね始めた。
椿「あんたに同じことなんてやって欲しくないわよ。死ぬでしょ。」
優也「じゃあなんで気になってんのさ……」

椿「あたしだって誰かに守られたいわよ」

優也「………」
椿「あんたむりでしょ」
優也「ぐぬぬ」

椿「……あの人のことは観察したいけど付き合いって感じじゃないわよ」

優也「え〜？何が違うの？」
椿「あんた好きなスタンド使いは？」

優也「康一くん」
椿「知り合いたい？」
優也「なりたいよ？」

椿「失敗した」
椿「もっと奇人選びなさいよ岸辺露伴とか」
優也「そう言われましても」
椿「あたしが好きなのはリゾット・ネエロなのよでもお近づきになりたくないでしょ！！」
優也「たしかに」
椿「はあ……変なもの見たわ」
優也「ジョジョ5部観る？」
椿「（ため息）………10話からね」
優也「何その回？」
椿「暗チが出てくる回」
優也「最初から観させてよお！」