---
layout: layouts/scenario.njk
production_date: 2026-01-31
section: archive
category: scenario
viewpoint: null
persons:
  - 篠原堅
  - 戸次信長
sensitive: false
rating: R18-G
content_warnings:
  - 性的な会話
  - 精神的苦痛
title: 誘いの言葉：結合の役割選択およびその意思表示について
timeline:
  sort_key: 2016081501
  fictional_year: 2016
  fictional_month: 8
  fictional_day: 
  phase: PROJECTION
  route_type: common
  routes:
   - all
  status: fixed
  summary: 篠原堅が戸次信長に誘いの言葉を述べる。
---

ラブホテルで篠原がベッドに寝転がっている。顔が強ばっており作業を待っているような顔だ。
戸次が篠原の足元のほうからベッドに乗り、四つん這いで近づいてきた。笑みを浮かべながら篠原を見つめる。篠原はちょっと戸次の方に目をやるとすぐ目を逸らしてしまった。表情がさらに固くなる。
戸次「今日は……どっちやりたい？」
思わぬ問いに篠原は戸次の顔を伺った。
篠原「……？」
戸次「篠原さんが選んでよ」
篠原「………」
篠原はしばし戸次に困惑の目線を送ってしまったが、染み付いたくせで困惑の表情を作れないので、戸次は気づかない。篠原は目線を壁に逸らしながら回答した。

篠原「……俺を使ってください」

戸次「？？？？？？？」
戸次「えっ……なになに？どゆこと？」

篠原「……挿入して下さい」

戸次「ブフォッwwww」
戸次「あっはははははwwww」
戸次「ごめんマジ、wwwwwwww」
戸次「wwwwwwwwww」
篠原「………。」（顔を背ける）
戸次「ごめん、マジ、なんかマニュアルみたいなこと言うから、wwwwwwww」
篠原「………そうですか。」（俯く）
戸次「はーー、あーーあ……（笑い疲れた）」

戸次「はーー………篠原さーん、そういうのはフツー"抱いてくれ"って言うんだよ？」
篠原「……そうですか。」篠原は眉間に深いシワを作った。自分の常識のなさに苦痛を覚えている。
戸次「（篠原の元気のなさにため息をつく）……え、じゃあちょっとまって？」
戸次「逆の時はなんて言うの？」
篠原は試されていると感じて正答を答えた。
篠原「………抱かせて欲しい……」
戸次「いやそうじゃなくて。それは今オレが教えたコトバでしょ？」
戸次「篠原さんならなんて言うの？」
最悪の設問が来た。

篠原「……………」
篠原「…………………」
篠原「………なかにいれてほしい」

戸次「こーわ」
戸次「いや結局どっち？ってなるしっ日本語難しっ」
篠原はズキズキ痛み出す胸を堪えながら壁に視線を向け続けた。
篠原「………紛らわしくてすみません……」（ぐったりしている）
戸次「謝んなくてよくない？オモロいよ？」
篠原「……………。」
戸次「…………。」
戸次「ま、いっか」

戸次「オレに抱いて欲しいんでしょ？」

篠原「、」
銃口を下ろすように壁に背けられていた篠原の視線が、戸次の顔に飛んだ。ほのかに篠原の体温が上がる。
戸次は黙ってニヤリと笑った。
戸次がゆっくり篠原に体を覆い被せた。始めるらしい。