---
layout: layouts/scenario.njk
production_date: 2026-04-25
section: archive
category: scenario
viewpoint: 
persons:
  - 延金英一
  - 鳥本春樹
sensitive: false
rating: All-Age
content_warnings:
title: 気が引けるお願い
timeline:
  sort_key: 2016011501
  fictional_year: 2016
  fictional_month: 1
  fictional_day: 
  phase: PROJECTION
  route_type: common
  routes:
   - all
  status: fixed
  summary: 延金英一が鳥本春樹に仕事の依頼をする。
---

FANGが所有するビルの一室。
延金 英一(27)が、医学生 鳥本春樹(19)を呼び出した。
お願いがあるらしい。

延金「鳥本くんにバラしてほしいモノがある」
延金「……鳥本くんだからこそ頼みたいんだ」

延金「首を切断してほしい」

延金「できるよね？人体の構造は詳しいだろ？」
延金「手術の練習にもなるし」
鳥本が笑い出した。
鳥本「人の頭部を切断するような手術はありませんよ！」笑顔。
鳥本「それにご遺体の解剖を行えるのは専門医だけです」笑顔。
鳥本「普通は死体損壊罪に問われます」困ったような笑顔。
延金「そうかぁ〜残念だなぁ〜」
延金「じゃあ別の話題だけど」

延金「君、”チカラ”で”物体を途中まで消す”ってことはできるかい？」
鳥本は微笑んだまま黙った。

鳥本「それは試したことがありませんでした」笑顔。

延金「実験台にちょうどよさそうなものがある」
延金「1メートル以上あるから視界に収めにくい」
延金「以前コインを消してもらったが、それより試しやすいんじゃないかな？」
鳥本「……」困ったような笑顔。

鳥本「相当お困りのようですね？」苦笑い。

延金「悪いね。助かるよ」
困ったように笑った。

鳥本「ですが、万が一全て消してしまってはかえって困りますよね？」何か気づいたような顔。
鳥本「やはり分断するほうがよろしいかと」心配そうな顔。
鳥本「僕のチカラの実験はまた別の機会にさせていただきたいです」申し訳なさそうな顔。
延金「そうか、わかったよ。提案どうも」

延金「加工してほしいモノの準備はこれからだ」
延金「多分この数週間のうちに頼むことになると思うけど」
延金「いいかな？何か質問ある？」

鳥本「専門の器具はご準備いただけませんか？」申し訳なさそうな笑顔。
鳥本「作業のしやすさが違うと思うんですが」穏やかな笑顔。
延金「親父さんに頼めば？」
鳥本春樹の父親は外科医だ。
鳥本「借りる理由が必要です」困ったような笑顔。
延金「しょうがないなぁ〜　ナイフ持ってくるからそれで我慢してくれる？」
鳥本「わかりました」笑顔。
延金は鳥本の前から立ち去った。



延金は壁に手をついた。ため息をつく。
鳥本は廊下をちらっと覗いて延金がいないことを確認した。ため息をつく。

延金「アイツすっげ〜〜〜〜〜怖え」情けない声だった。
鳥本「うっとおしい男だ」怒気を含む声だった。