---
layout: layouts/scenario.njk
production_date: 2026-04-25
section: archive
category: scenario
viewpoint: 
persons:
  - 戸次信長
  - 篠原堅
sensitive: false
rating: All-Age
content_warnings:
title: メタデータ
timeline:
  sort_key: 2026033001
  fictional_year: 2026
  fictional_month: 3
  fictional_day: 
  phase: SHADOW
  routes:
   - fang
  status: fixed
  summary: 戸次信長が恐怖の対象を口にする。
---

本田宅で、堅と戸次が二人だけで過ごしていた。
千和は買い物に行っている。

戸次の元気がない。テーブルに突っ伏している。

堅はキッチンに立って、コーヒーメーカーに十分なコーヒーが溜まるのを待っていた。
何も声をかけないが、内心戸次の様子を伺っていた。

戸次がポツリと切り出した。


戸次「オレ、絶対会いたくない人ができた」



堅「？」
堅「誰だ」

戸次「………」


黙って篠原を伺うような目で見た。


堅「……？？」
堅「どうした」

堅「……まさか俺じゃないよな？」

戸次「もう会ってるでしょ」
堅「あぁ……」

堅「話せないのか」
戸次「そうね…」

戸次「ゴメン　オレから言っといて何？って感じだよね」
堅「いや、いい……」

堅「ありがとうな」
戸次「？」
堅「こういうことは言ってもらった方がいい」
戸次「？　誰なのかわかんないのに？」
堅「ああ」
堅「…まぁ、なんだ…」
堅「……うまく言えない」
メタデータのやり取りしかしていない。


戸次が居眠りし始めた。

安心したらしい。


堅（……どうしたんだろう、戸次……）
堅（本当に変わってしまったな……）
堅（昔は何でもかんでも話してたのに）
堅（なんか……引っ込み思案になったよな）
堅（気の毒だ……）
堅（まるで昔の俺の様、）



空気が冷えた。



血の気が引いていく。



篠原は今何気なく視線を向けていた先から目を逸せなくなった。
ただのコーヒーメーカーだ。



呼吸が浅くなっていたことに気づいた。
整える。




落ち着け……


もう昔の俺じゃない……


思い出すと恐怖が蘇るが、あいつは結局、干渉も攻撃もしてこなかった……

距離を取ればいいだけだ………




身体に過去22年間染み込んでいた恐怖が起動してしまった。
その場にしゃがみ込んで貧血をやり過ごした。




久しぶりだ、こんな感覚……

………9年ぶりか……




戸次、わかった。
誰に会いたくないか。


お前はいつも旅先の記憶を具体的に語らなかった。
お前はいつも世界に痕跡を残すことを避ける。

多分、”あちら”に”こちら”の情報を渡してはいけないし、
”あちら”の情報を”こちら”に持ち込むのも恐れているんだな？


だが一人だけ、許可なく”あちら”の情報を奪える奴がいる。
お前の記憶から。
思考から。
精神から。





俺の父か………