---
layout: layouts/scenario.njk
production_date: 2026-04-25
section: archive
category: scenario
viewpoint: 
persons:
  - 篠原堅
  - 戸次信長
  - 本田千和
sensitive: false
rating: All-Age
content_warnings:
title: 遠隔の抱擁
timeline:
  sort_key: 2026032501
  fictional_year: 2026
  fictional_month: 3
  fictional_day: 
  phase: SHADOW
  routes:
   - fang
  status: fixed
  summary: 本田千和が篠原堅を代行する。
---

戸次は相変わらず「接触」恐怖症だ。
毎日硬いフローリングの床に寝そべって、ぼんやりと髪を……
…あまりにも長い時間、異界の放浪を続けて伸び切った髪の毛先をいじっている。

堅はそんな戸次を暗い表情で見つめていた。
10年前の戸次ならいつでも無駄話を始めたのに……

10年間。
積もる話があるはずだ。
なのにあのおしゃべりな戸次が、黙りこくっている……。

戸次に触れようと少し試みてしまったこともある。
しかし戸次に「浮気はダメ」と牽制されてしまった。
10年前と同様、千和を尊重しているようだ。

………抱きしめてやりたい………

……。

…これはただの、俺の欲求でしかないのかもしれない…


10年前と変わらず、堅の内省癖は回り出した。
そんな様子を妻 千和がみつめていた。


千和が真顔で、床に寝そべる戸次に歩み寄った。

千和がいきなり戸次を抱きしめた。

自分の胸に戸次を抱き込んでいる。
苦しむ堅にやっていた包み方そのままだ。

戸次「？！ え？！何？！ 何？！？！」
千和「黙ってろ」
堅は唖然としてみていた。
そのまま戸次の髪を撫でながら抱きしめ続けている。

戸次は腕を宙に上げたのだが、千和の体に巻き付けなかった。
引き剥がすために接触すべきか、応答するように抱き返すか正解が分からないようだ。
結局30秒ほど宙に手を泳がせたのち、パンと降ろしてしまって千和の好きなようにさせる姿勢になった。
戸次は完全に赤面していたが、茶化すように笑う癖も、困った時の唇を尖らせる癖も出さず、真面目な顔でなすがままにされていた。

堅はぎょっとした顔でその光景を観察していた。

………俺を抱きしめている時ってこういう感じだったのかな………
結婚までしているので、千和を戸次にとられたと焦ったり嫉妬したりはしな……
……あ、いやちょっとする………

かれこれ5分くらい抱きしめていたように見える。
戸次は完全に赤面していた。
千和が戸次を解放した。

すると堅に向き直って、今度は堅を抱きしめた。
堅「？」
堅「？？」
堅「千和？」

千和「間接ハグだ」

千和「多分こういう触り方したいだろうなっていうのはやってみた」

堅も戸次も驚愕した。
沈黙が流れる。
千和は黙って篠原を抱きしめ続ける。

堅「千和」

真剣な声だ。怒っている。

堅「やめろ」

千和はやめようとしたが離れられない。
堅が千和の胴体を強く抱きしめて拘束していた。

堅「人形になるな」

堅「もうお前は誰かの代わりになるな」

堅「わかったな？」
堅は千和を強く抱きしめながら目を合わせた。
かっこつけモードに入っていた千和が怯んだ。
顔を赤らめながら答えた。
千和「………」
千和「…………うん」
そのまま堅は千和に軽く口付けすると、千和の頭を自分の首元に抑え込むように抱きしめた。
千和は赤面しながらされるがままになった。


戸次「あのー」

戸次「いちゃつかないで〜？」
千和「黙れ」

千和「兄貴、今夜はおれを抱け」
千和「手加減すんなよ」
堅「分かった」
戸次「っっっねえ！！！！ちょっとなに！！！！」
戸次「私たち今夜ヤリますとか言う？！？！人前で？！？！？！」
千和「うるせえなボケ」
千和「ドア閉めっからな」
千和「ドア貫通して聞かせてやるよ兄貴のよがり声をよッ！」
堅「俺のなのか…」
戸次が抗議の鳴き声をあげた。


当然これはハッタリだったので、その晩夫婦は何もせず寝た。