---
layout: layouts/scenario.njk
production_date: 2026-04-25
section: archive
category: scenario
phase: SHADOW
viewpoint: 
persons:
  - 戸次信長
  - 篠原堅
  - 本田千和
sensitive: false
rating: All-Age
content_warnings:
title: セカイとの契り
timeline:
  sort_key: 2026030201
  fictional_year: 2026
  fictional_month: 3
  fictional_day:
  phase: FANG
  routes:
   - fang
  status: fixed
  summary: 篠原堅が戸次信長の恐怖症に気づく。
---

戸次は放浪中のことを断片的に話すようになった。
旅先で寝床に困った時、「体を売る」という条件で居候させてもらうことが時折あったらしい。

戸次「オレ、抱いてもらうのは良かったんだけど抱くのはNGだったんだ」
戸次「やろうとしたらすげぇゾワッとしてさあ？」
戸次「ネコ専だったんだ」

堅も千和も、戸次の前では顔色ひとつ変えずにその話を聞いた。

しかし二人だけの寝室では、重苦しい空気になった。
あまりにも過酷で悲しい生き方を、戸次はなんでもないかのように話す。

戸次は食事は取れた。
飲み物も飲める。


でも周囲のものに触れようとしない。

リモコンのボタンすら押すのを嫌がる。
インタラクティブなものに入力を与えることが、帰還のための禁則事項だったらしい。

堅はその様子を観察しつづけながら、どんどん深刻なテンションの思考に沈んでいった。

（まるで2016年の戸次を……
俺を抱いて救いながら壊し、ドアであらゆる場所に侵入した戸次を、徹底的に罰するかのようだ………。

だがこれでは日常生活なんて営めない……
スマホですら操作に恐怖を感じているのはかなりまずい……

音楽を再生してやって聞かせるのは大丈夫だったが…
…流石に俺たちの支援が持続不能になる……
服を着替えることすら恐怖を伴う高負荷な動作らしい……

………モノへの応答が恐怖になるなんて……

……まるで、環境やヒトに触れて感情を起動することに恐怖していた2016年までの俺のようだ……


俺は内面世界に痕跡を残さない戦い。
戸次は外界に痕跡を残さない戦い。


ベクトルは違うが、あまりにも厳しい………
どこまでいっても逃げられないことは同じだからな……

……どうすれば……）

堅は生活を続けながら並列でずっと思考を走らせていた。
ふと気づいた。

（………強烈なのがあるぞ………

戸次に俺を抱かせる。

…安全だった世界の記憶を無理やり思い出させるんだ…

……。

我ながら何なんだこの発想……
カルト宗教とか呪術の世界観か……？

いやしかし、「この世界に居て良い」と思い出させるにはかなり効果的なはずだ……
主体になって他者と物理的に接続するんだぞ
しかも世界で一番精神にデカい痕跡を残していった人間である、俺に……

………いや………

……戸次にこれは酷すぎる………


ヒトを壊した行為をもう一回だけやらせるんだからな……）


結局堅は、妙案を見出せないでいた。

……戸次は誠実すぎた……

……俺への罪を自覚した後、全然新しい恋人を作ろうとしなかったし、「タチ不足」と嘆いてるのは聞いても「ネコ不足」と嘆いてるのは聞いたことがなかった……
もうこの世界にいる時から自分に「外界への痕跡残し禁止の刑」を課していたようなものだ………。

俺には2016年の戸次のような「強制的な救命」なんてできない……
副作用を知りすぎている………

………どうすれば…………。

日曜日のお昼。外は晴れている。
お散歩日和だが、戸次はこもっていた。

千和「……おい」
千和が戸次に切り出した。

千和「ずっとそうして寝たり体育座りしてるつもりかよ？」
千和「Youtubeでも見たらどうだ？」
戸次「……ありがと」
戸次は笑顔で応えた。
堅も千和も即座に”作り笑いだ”と見抜いたが何も言わない。

戸次「でもいい」
戸次「見る気起きない」

戸次「……オレ……」
戸次「モノにさわれないんだ」
戸次「世界に何も残さずに次の場所に行くのを繰り返してたから」

戸次が自分の制約を…
…病気を、口にするのははじめてだった。

---

寝室で、堅が千和に自分の考えを打ち明けた。
堅「戸次……やっぱりそうなんだ……」
堅「絶対に世界に痕跡を残さない癖がついてるらしい」

千和「？？どういうことだよ」
千和「たかだが動画を見るだけだぞ？？」

堅「千和、動画サイトを見ると、興味がある動画がおすすめに出てこないか？」
千和「あ、うん」
堅「あれってどうしてできるか知ってるか？」
千和「……？」
千和「気にしたこともなかった」
堅「動画の視聴履歴をプログラムで分析するんだ」

堅「……動画をみたら、動画配信システムにアクセス“ログ”が残る」

千和「…………。」
千和「それがだめなのか？」
堅「自分がこの世界にいる記録が残るだろ」
堅「それをした瞬間、戸次は元の世界に帰れなくなる」
堅「多分その癖が抜けなくて生活を営めなくなってる」
千和は険しい表情になった。
千和「………むりじゃねえかそんなの……」
千和「ちょっとモノに触れたら指紋が残るんだぞ……」

千和「泥棒が証拠を残さないようにするみてえなことを永遠にやり続けるのかよ？！」
千和「全部の場所で！？」
堅「……そういうことになる……」
千和の言葉で、戸次の症状の辛さに対する理解が一段と深まった。

千和「リモコン押せないってのもそういう……」
千和「でもアレクサに話しかけるとか出来ねえか？」
堅「いや、だめだ。音声データが残る。多分戸次が本能で嫌がる」
堅「なんとなく嫌な感じがして買わないでいたが、正解だった……」
堅「あれを置いていたら戸次は俺達の家にすら避難できなくなってた」

堅「帰れなくなってたかも」

千和「？　なんで」

堅「あれは“アレクサ”って呼びかけたら応答するらしい」
堅「いつでもそうできるように常に音を聞いて分析してる」
堅「”ログを取り続けてる”ことになる」
千和はぎょっとした。
千和「まーーーじーーーか」
千和「盗聴器じゃねえか！！」
堅「流石にデータは保存していないだろうが…」
堅「戸次には十分アウトだろうな」
堅「自分の痕跡がシステムに加工されるっていう”イベントが残る“」
堅「………あいつ………」

堅「あんまり旅先でのことを話さないが、基本的に路上生活しか送れてなかっただろうな……」

あまりの惨状に、千和は眉間に皺を寄せながら口元を両手で覆った。
堅も苦悶の表情で床を見つめた。

千和「………ど〜〜する……」
千和「あいつには気分転換がいるだろ………」
千和「せめてようつべぐらい見せてやりてえよ……」
堅「うう〜ん……」

堅「ブラウザをシークレットモードにするか……？」
千和「なにそれ」
堅「アクセス“ログ”が残らないモードだ」
堅「……あぁ、だめだ　“戸次のためにシークレットモードにしました”っていう事実が“残る“ぞ……」
千和「兄貴、流石にそれは気にしすぎじゃねえか？」
千和「おれたちいつも”戸次のためにドアを開けてる“ぞ？」

堅「……そのドア、俺たちも通るだろ」
堅「もし戸次だけ通そうとしたら？」
堅「拒否反応が出るんじゃないか？」

千和「……………。」
唖然としていた。

千和「…………」
千和「………意味わかんねえぞ」

千和「おれ、さっき泥棒が指紋を残さないようにするってたとえたけど」
千和「もうそんなレベルじゃ、ないってことか？？？」
千和「おかしくねえか？？？？」
困惑し始めた。

堅「あぁ……これは仮説だから、本当は大丈夫かもしれない」
堅「俺が考えすぎだと思う……」
千和「そ〜であってほしいぜ」
千和「今まで大概のことはそ〜だったからな」
堅は考えすぎの癖を暗にいじられて笑った。

堅「これは確かめるわけにはいかないな……」
堅「戸次を怖がらせる」
堅「こんな癖がついてるなんて自覚したらもっと辛いぞ」
千和「いやでもよ……」
千和「………おれたちも厳しいぜ」
堅「ああ………そうなんだよな………」
本田夫妻はすでに戸次を十二分にサポートしている。

堅「………リハビリするしかない」
堅「…スパルタだが」
千和「まあ、いいんじゃねえの」
千和「兄貴も戸次に好き勝手されたんだろ」
堅「そうだな」吹き出した。
2016年、堅は戸次の”スパルタ教育“によって麻酔能力への依存を脱却したのだった。