---
layout: layouts/scenario.njk
production_date: 2026-09-01
section: archive
category: scenario
viewpoint: 
persons:
  - 篠原堅
sensitive: true
rating: R18-G
content_warnings:
  - 自傷行為
title: システムリセット
timeline:
  sort_key: 2018060501
  fictional_year: 
  fictional_month: 
  fictional_day: 
  phase: SKIN
  route_type: branch
  routes:
    - skin
  status: fixed
  summary: 篠原堅が秘密の趣味にふける。
dev_comment: |
  やっぱり　きもちいいな
---

傷跡を外気に晒して冷やすようになった堅。
鳥本にも戸次にも秘密にしている趣味があった。

自分の血液でナイフを作り出した。
それを自分の腕に深々と沈める。

堅自身は痛みを感じない。
瞳は爛々と赤く輝いている。

堅(知らなかった…。)
堅は安息の表情で目を閉じた。
堅(こんなにすっきりとした気持ちになるのか……。)

こうすると、鬱屈とした気持ちがすっと晴れるのだった。
麻酔能力を弱めようとし始めた矢先に、発見してしまった「仕様」だった。

堅(施設で手首を切っていた女の子がいたな……。)
深い安らぎの気持ちに包まれながら、堅は思いを馳せた。
腕には異物が貫通したままだ……。
堅(そういう行為があると知ったのはそいつのせいだ)
堅(俺よりも先に施設を出て行った)

堅(今頃、どうしているんだろう)

堅(………。)
堅は、赤い刃が貫通した自分の腕をぼんやりと眺めた。
堅(あの時なら、他人事でいられたのに)
しかしそれも、人為的に作り出したまどろみの中ではどうでもよくなった。