---
layout: layouts/scenario.njk
production_date: 2026-08-04
section: archive
category: scenario
viewpoint: null
persons:
  - 延金英一
  - 葛城正親
  - 篠原堅
  - 鳥本春樹
sensitive: false
rating: All-Age
content_warnings:
title: 偏光
timeline:
  sort_key: 2019080401
  fictional_year: 2019
  fictional_month: 8
  fictional_day: 
  phase: SKIN
  route_type: branch
  routes: 
   - skin
  status: fixed
  summary: 篠原堅の麻酔能力が背景化する。
dev_comment: |
  2025年12月から2026年6月まで、躁状態でした。
  睡眠時間が毎日数時間でも溌剌かつ猛烈に働くことができました。
  しかし、情緒はどんどんと過剰になっていき、物事の捉え方が極端になった結果、
  適応障害に陥って4月から休職することになってしまいました。

  それでも自分が躁であることに気づかずに創作をし続け、本当に療養できたのは7月になってからでした。
  8月4日の今日は復職して2日目です。
  仕事でやりたいことがあると色々思い出すことができました。
  
  自分の精神が壊れた状態と、正常な状態の区別はつかずじまいです。
---


堅「鳥本、」
堅が鏡をみつめている。
堅「今も俺の目は赤いか？」
鳥本「それが...」
鳥本「赤くないですね」
堅「！？」
堅「"赤くない"？！」
堅はまじまじと鳥本を見つめた。
鳥本「はい」
鳥本「実はいつ言おうか迷ってたんですが、色はすっかり落ち着いてましたよ」
堅「......」
堅「信じられない...」
堅は鏡を見つめたが、確認しようがない。
鏡は特殊能力の色を映してくれない。
この発色は、光学的な現象ではないのだ。
堅「言ってくれればよかったのに」
堅「本当なんだな？」
鳥本「はい」鳥本は苦笑いした。
鳥本「すみません、なまじ堅さんが"能力で消しているのは精神的な苦痛だ"と聞いていたので」
鳥本「能力の発色を便利に使わせていただいてたんですよ」
堅「便利なのか？これ」
鳥本「僕には助かりました」
鳥本「堅さんが辛い気持ちなのか、推論しやすくなりますから」
鳥本「かつて体調をひどく崩されていたと、千和さんから聞いていましたし」
堅「そうか......」
友人の気遣いに、堅は素直に感銘を受けた。
堅「...すまないな、迷惑をかけた」
鳥本「いえ」
鳥本「誰も彼もこれくらい分かりやすかったらいいのにとすら思いました」
鳥本「辛さや不満が隠蔽されるほど、僕はやりづらいんですよ」
鳥本「"こう感じるべき"ですとか"普通はこうだ"が僕にはわかりませんから」
堅は鳥本の素直な感想に笑った。
堅「確かにランプか何かが光る方がありがたい」
堅「自分のことを正確に口に出せるやつは少ないからな」
鳥本「倒れる前のあなたに聞かせたいセリフです」今度は鳥本が笑った。
堅「俺は感想文より業務連絡の方が得意だし好きなんだ」堅はにやりとした。
堅「...？」
堅「待てよ」
堅「...これ、本当に色が消えてるのかな」
鳥本「どういうことですか？」
堅「特殊能力の色について論文を読まされたことがある」
堅「色は周囲の特殊能力者がそいつに持った印象や文脈で、見え方が変わるらしい」
鳥本は興味深げな顔で堅の瞳を覗き込んだ。
鳥本「僕には、今の堅さんの瞳の色は茶色に見えています。」
鳥本「日本人によくある茶色です」
堅は今度は鏡を覗き込んだ。
堅「......。」
堅「なんだ、じゃあ赤いんじゃないか」
鳥本「？　赤くはないですよ？」
堅「鏡越しに俺をみてみろ」
鳥本は堅と鏡を交互に見た。
鳥本「あっ」
鳥本「すみません、本当ですね」

鏡の中に映る、本来の瞳の色は、灰色だったのだ。

茶色ということは、発色があるということだ。
鳥本「能力の発現は、わずかに続いていたんですね」
堅は安堵した。
"自己認識と能力の稼動状況がずれているほうが怖い"と警戒していたのだ。

堅「...。」堅は考え込んだ。
堅「論文を俺に読ませた張本人を実験体にするか」

---

その張本人とは、FANG先代トップの葛城正親であった。
葛城はエグゼクティブチェアにゆったりと腰掛けて膝を組んでいる。
否、そう静置させられた人形のようであった。
堂々とその部屋のドアを開けて、息子が入ってきた。

息子は黙り込んでいる。

葛城も黙っていた。
息子に顔を向けているが、表情を変えない。

葛城「......。」
葛城「発話しろ。」
葛城は発言を促した。

息子は黙りこくっている。

葛城「他の者に接するときと同じ手段をとれ。」

```
茶番をさせるな。
お前は心を読めるんだろう？
イライラするからさっさと要件に応えろ。
俺の瞳は赤いのか？
```

葛城「...。」

```
散々俺に心を読まれる恐怖を叩き込んだんだ。
俺が他人とまともに意思疎通できなくなったのはお前のせいだ。
この形での意思疎通をお前の趣味だ主義だで拒むというなら、復讐にお前を殺すぞ。
```

葛城「......。」

```
さっさとしろ。
```

葛城「お前の目は赤い。」

堅「！！」
堅は自分の目を覆うような仕草をした。

```
ふざけてるな
俺はこの毒親を克服できていないというのか？
```

葛城は黙っていた。

```
確かに、胸の傷跡は今つねっても痛まないな...
```

葛城の脳内は、勝手に堅の記憶がなだれ込む。
堅が鳥本の目の前で自分の胸の傷をひっかいたときの感触だ。

激しい痛みであった。

まさか感覚が戻っているとは思わず、加減し損ねたのだ。

堅は口に出さずに悪態をついている...。

と、そこへ延金英一が入ってきた。

延金「どうだった？堅くん」
堅「駄目でした。」
延金「あー、ほんとだ　赤い」
延金は全てを知っていたのかのような口ぶりだ。
というか、この建物の中で延金と堅が事前に会話をしていたので、
葛城もそれを承知していた。

堅は葛城に合うより先に、延金に会っていたのだ。


延金には、堅の瞳は臙脂色に映っていた。


葛城の前では動脈血色に変わっていたのだ。

延金「だめだこりゃ」
延金「堅くんはきみのこと死ぬほど嫌いだってことだ」
延金は葛城に軽口を叩いた。
延金「そりゃそうか」
堅「当たり前です。」
堅のスパッとした断言に延金が笑った。

延金は、正親の息子に遅い反抗期が来たことを好ましく思っていた。
正親の罪が精算されつつあると感じたようだ。
正親を人間扱いするひとが自分の他に増えてくれるに越したことはない、という欲求もある。

堅の確かめ方は稚拙だ。
葛城はそう考察した。
文脈によっても発色は揺らぐのだから、「加害者である私に瞳を見せる」という情報を延金に教えるべきではなかった。
延金の先入観によって、発色が鮮やかに振れうる。

だが、堅が欲しているのは「とりあえずの納得」なのだと読み取った、葛城は沈黙した。

堅の「己を理解したい」という欲望を、葛城には知識で理解できても痛感はできなかった。
人の欲望に反射的に応え続けた葛城には...。
