---
layout: layouts/fang-base.njk
title: FANG
---

<article class="photo-page">
  <figure class="photo-main">
    <img src="{{ image }}" alt="{{ title }}">
    <figcaption>
      <dl class="meta_data">
      {% if title %}
        <div>
          <dt>Title</dt>
          <dd>{{ title }}</dd>
        </div>
      {% endif %}
      
      {% if phase %}
        <div>
          <dt>Phase</dt>
          <dd>{{ phase }}</dd>
        </div>
      {% endif %}

      {% if viewpoint %}
        <div>
          <dt>Viewpoint</dt>
          <dd>{{ viewpoint }}</dd>
        </div>
      {% endif %}

      {% if production_date %}
        <div>
          <dt>Production date</dt>
          <dd>{{ production_date | readableDate }}</dd>
        </div>
      {% endif %}
    </dl>
    </figcaption>
  </figure>
  <a href="/photos/">一覧に戻る</a>
</article>