---
layout: layouts/scenario.njk
production_date: 2026-04-02
section: archive
category: scenario
viewpoint: 葛城正親編
persons:
  - 葛城正親
sensitive: false
rating: All-Age
content_warnings:
title: 結婚指輪の選定
timeline:
  sort_key: 1990070701
  fictional_year: 1990
  fictional_month: 
  fictional_day: 
  phase: "NULL"
  routes:
   - fang
   - skin
   - presence
  status: fixed
  summary: 妻の要望で、葛城正親が結婚指輪を選ぼうと試みる。
---

時子は正親に結婚指輪を選んでほしいと要求した。
いつも時子の希望に沿ってばかりなのでつまらないのだという。

時子「たまにはあなたの趣味をみたいですわ」

時子は面白そうにしていた。
"たまには"で選ばせるのが「一生身に着けるもの」なのだから豪胆なものだ。

高級ブランド店で、正親は1人ディスプレイを眺めた。
店員には下がらせたが、スタッフルームに控えただけだ。同じ建物にいることには変わらない。正親にとっては実質意味がないが、「建物から出ていけ」と意味不明な要求をするクレーマーにはなりたくなかった。

…………。

どれも同じにみえる………。


本当にどれもがどうでもいい…………


…………まさか………。


やられた………

これまでの人生で、他人の欲望を鏡のように反射し続けた。
そうすれば最も容易く相手を操れたからだ。しかし、最も愚かしい人間になっていたとは。

「自分で選ぶ」ということが分からない。

あの女………


頭にくる………


正親は、全ての指輪を一旦一式ずつ箱に入れた状態で取り寄せて、ランダムで選ぶことを考えた。神に選ばせる算段だ。しかしこれでは時子の希望に応えたことにならない。
うっかり店員の記憶を読み取りかけて、必死で意識を逸らした。指輪を選ぶコツを学んで対応するのも誤りだと直感した。

仕方なくカタログをもらった。

適当に外を歩いて落ち着ける場所をみつけ、座った。
ため息をつきながら、足を組みその上でカタログを開いた。
「無音」の空間に出向かないと、正親は自分でいられない。

…………。

煌びやかな指輪の写真が続く。

…………………。


こんなに「読む」のが難しいとは……………。


正親は人生で初めて「自分を読む」という最も難解な能力の使い方に挑んでいた。
挑んでしまっていた。

それも誤りだということに気づかずに。