---
layout: layouts/episode.njk
production_date: 2020-04-18
category: episode
phase: BLOOD
viewpoint: 本田千和
title: 半身
summary: 兄貴と久々に会う。仕事うまくいってるのかな...。
thumbnail:
page_count: 24
timeline:
  sort_key: 2015050501
  fictional_year: 2015
  fictional_month: 5
  fictional_day: 5
---