---
layout: layouts/photo.njk
production_date: 2021-12-12
category: photos
phase: PROJECTION
viewpoint: null
persons:
  - 篠原堅
title: なりたかった生き方
fictional_year: 2016
fictional_month: 5
fictional_date: 10
image: main.webp
thumbnail: thumb.webp
---
