---
layout: layouts/scenario.njk
production_date: 2026-04-28
section: archive
category: scenario
phase: FANG
viewpoint: 
persons:
  - 篠原堅
  - 本田千和
sensitive: false
rating: R18
content_warnings:
  - 性的緊張
title: 愛する世界に触れて
timeline:
  sort_key: 2017050501
  fictional_year: 2017
  fictional_month: 5
  fictional_day:
  phase: FANG
  routes:
   - fang
  status: fixed
  summary: 篠原堅が本田千和の額に触れる。
---

千和と体を重ねようとした。

やっと２回目だった。
といっても、着衣の状態で添い寝してもらっているだけだ。

しかし、千和の言動は、どうも……


…戸次の代わりになろうとしているようにみえた。


戸次のようなダイレクトさは決して見せない。
性欲について尋ねたり自分が口にすることもない。
しかし、いつでも堅が自由に触れられる距離に自分を配置しているようだった。

どうすれば千和に自分自身を優先してもらえるんだ？
堅は頭をフル回転させた。

………。

だめだ……
わからない……

人を誘導する方法なんて思いつかない……。

いや……何が「千和に自分のことを考えさせる」だ……

俺も今自分のことではなく他人のことを考えたじゃないか……
じゃあ無理だ……


……俺達はやっぱり”兄妹”だ……。


千和「……兄貴？」
千和「……あんまり乗り気じゃねえか？」
堅「あ、いや……」
堅「すまん、考え事してた……」
千和「そうか……」

千和「………」

千和「戸次のことか……？」
寂しそうだった。

堅「いや、違う」
堅「お前に心理戦を仕掛けそうになった」
千和「！？」
千和「………？？？」
千和「なんじゃそりゃ」

千和「おい……目の前の女のカラダに集中しろよ」
堅「それは無理だ」
千和「……そんなにおれじゃ無理かよ」
影が深くなる。

堅は千和の頬に手を添えた。

堅「いや、ちがう、」
堅「お前だからうまくいかないんだ…」

千和は怒られているような、悲しそうな表情で堅に視線を送ってきた。

堅（うまく説明することができないな…）
堅も沈んだ表情でみつめかえした。

千和「……今日は やめとくか？」
千和は目を細めながら問いを投げかけた。
おだやかに、成り行きを見守る表情だ。


それでも応答したくなかった。


堅は沈黙したまま…


…千和の前髪をかきあげながら額に手を添えた。
熱を出したこどもに、親がするような動作だ。


……そうだ……
戸次にも同じことを考えたながら触れたんだ……


“この額の中に、全然違う世界が在るのだ”と……


俺が愛するものが……


……魂が……。