---
layout: layouts/episode.njk
production_date: 2019-10-27
category: episode
phase: PROJECTION
viewpoint: 戸次信長
title: Don't enter the TERITORRY(3/3)
summary: 篠原の秘密に気づいた戸次は、距離を縮めるチャンスだと思い込んでしまう。しかしそれはとんでもない誤解で...！？
thumbnail: thumb.webp
page_count: 20
pages:
  - file: pages/001.webp
  - file: pages/002.webp
  - file: pages/003.webp
  - file: pages/004.webp
    layout: spread
  - file: pages/005.webp
  - file: pages/006.webp
  - file: pages/007.webp
  - file: pages/008.webp
  - file: pages/009.webp
  - file: pages/010.webp
  - file: pages/011.webp
  - file: pages/012.webp
  - file: pages/013.webp
  - file: pages/014.webp
  - file: pages/015.webp
  - file: pages/016.webp
  - file: pages/017.webp
  - file: pages/018.webp
  - file: pages/019.webp
  - file: pages/020.webp
timeline:
  sort_key: 2016051003
  fictional_year: 2016
  fictional_month: 5
  fictional_day: 10
---