---
layout: layouts/scenario.njk
production_date: 2026-06-30
section: archive
category: scenario
phase: SHADOW
viewpoint: 
persons:
  - 篠原堅
  - 戸次信長
  - 本田千和
sensitive: false
rating: All-Age
content_warnings:
title: 主人の不在
timeline:
  sort_key: 2026063001
  fictional_year: 2026
  fictional_month: 6
  fictional_day: 30
  phase: SHADOW
  routes: 
   - fang
  status: fixed
  summary: 本田千和と戸次信長だけが家に取り残される。
---

午前中に堅が外出したが、スマホを忘れていってしまった。

オレンジ色のスマホが、充電器に刺さりっぱなしだった。

黒いフレームの眼鏡も、赤いフレームの眼鏡も眼鏡ケースに入れっぱなしだ。

堅が行き先を告げなかったのは珍しかったが、千和も戸次も気に留めなかった。

昼食の時間になった。

堅は戻らない。

外食でもしているんだろうか。

二人は適当な昼食を済ませた。

夕食の時間になった。

まだ堅は戻らない。

…行き先を告げる術は自宅に放置してある。

千和「……変だな」

千和「兄貴、遅くねえか？」

千和「どこほっつき歩いてんだ？」

夕食は三人前作ってある。

戸次「…。」

戸次「とりあえず食べちゃうのは？」

千和「おいおいおいいいのかよ」

千和「兄貴一人で食べさせんのかよ」

戸次「どっかで食べてるかもしれないでしょ？」

戸次「それに連絡あったら電話かけてくるでしょ」

戸次「財布は持って出てんだから、公衆電話あるでしょ？」

千和「うう〜ん」

千和「そんなにあったか？公衆電話」

千和「もう全然みかけねえぞ」

戸次「あ、そっか…スマホあるから」

戸次「……。」

戸次「とりあえず食べちゃおうよ？」

戸次「お腹すいた状態で待つのキツくない？」

千和「……ま〜……」

千和「いっか」

連絡手段がないので、キリがない。戸次の言う通りだ。

夕食の後はお風呂の時間だ。

いつも順番はじゃんけんで決める。

今日は戸次が千和に順番をゆずった。

千和「……。」

千和「いいのかよ」

千和「兄貴いねえぞ」

戸次「帰ってきたらオレがご飯あっためとくよ？」
千和が風呂に入っている間に堅が帰ってくる想定だ。

千和「う〜ん…」

千和「そうかよ」

千和はしかめ面のまま浴室に入っていった。


堅が帰ってこないまま、戸次も風呂を済ませることができてしまった。


23時過ぎになった。

堅は帰ってこない。

いつもなら寝る時間だ。

千和「……。」
戸次「……。」

大黒柱の不在に、番犬二匹は本格的に不安になってきた。

千和「…どこにいんだ？」
戸次「わかんない」
戸次「全然検討もつかな」ガチャ…

扉が開いた。


堅が帰ってきた。


千和がさっと堅をみたら、うなだれていた。

ひどく疲れた顔に見えたが…

堅「ただいま」
堅「すまん、連絡なくて」
申し訳なさそうな顔だった。

千和「ほんとだよ、おい」
千和「どうしたんだよ」
堅「いや…」

堅「ちょっとな、…」


堅の沈黙に、二人も呼応した。
こういうとき堅に本音をいわせるには忍耐が必要だ。

堅「…ホテルでゆっくりしてきたんだ」

千和「ホテル？」
堅「…ああ」
堅「ラブホテルだけど、一人でも使えてな」

千和以上に戸次がギョッとしていた。

堅「息抜きしたかったんだ」
堅「すまん。時間を忘れたくてスマホを置いていった」
千和「なんだよ、そういうことかよ」
千和は安心したようにニヤッとした。
千和「飯食ったか？」
堅「ああ、外で食べてしまった」
堅「余っちゃったか？」
千和「つくったけどいい。明日の朝食え」
堅「ありがとうな」

夫婦の会話を、戸次は邪魔せずじっとみていた。
どうしたんだろ。めっちゃ気になるけど。

しかし、いまや戸次より堅を知っている伴侶がいる。
信じて託すことにした。