---
layout: layouts/scenario.njk
production_date: 2026-06-17
category: scenario
phase: SKIN
viewpoint: ND
persons:
  - 篠原堅
  - 戸次信長
sensitive: false
rating: Normal
content_warnings:
title: ブラックライト
fictional_year: 2017
fictional_month: 2
fictional_date: ND
---
2017年 2月。
篠原と戸次は新江ノ島水族館に遊びに行った。

大水槽でイベントを催していた。
来場者が指定した魚を、ダイバーが探して撮影してくれるというものだ。
大水槽に貼ったシール状の透明シートにポスカで絵を描く。

そのとき、透明シートが紫に淡く光るという演出があった。

カラクリは、ブラックライトだ。
会場は吹き抜けになっており、2階からも大水槽を見下ろすことができる。
２階の手すりにブラックライトが施工されていたのだ。

篠原は大水槽に顔を向けていたが、赤く染まった瞳だけギョロっとブラックライトの方に向けた。

施工費や仕組みやシールの発注先などあれこれ考察するが、一緒に遊びに来た戸次にはなにも告げなかった。
どうせ興味をもたないだろうから。
後ろに付き添う戸次が寂しそうな顔をしていることには気づかない…。


イベントから数時間後。
二人は片瀬西浜・鵠沼海岸を歩いた。
水族館に隣接している砂浜だ。

篠原は浜辺を歩きながら、気づいた。

（戸次は俺のことを質問しないから、俺に興味が無いと思ってた）
（俺が興味を持ったモノについて話しても興味ないだろう、と）


（もしかして大半の人は"人に興味を持ったら質問する”が”普通では無い”のか？）


（こちらが何も話さないからあちらが話題提供するという負担を背負ってるってパターンも考えうるよな……）

戸次に”ブラックライトって見たことあるか？”と聞いてみた。

戸次「え？うん。あれでしょ？紫のヤツ」
篠原が、水族館での使われ方を教えた。
戸次「へー、そうなんすか」

予想通りの薄い反応だ。やっぱり別に話さなくても良かっ…
戸次「そんな使い方もあるんすね」

……そんな使い方"も"？

篠原「他になにか知ってるのか」
戸次「カラオケの部屋にあるんすよ」
篠原「………カラオケ？」
戸次「行ったことない？」
篠原「知らない」
戸次「部屋に模様が書かれててブラックライトで光るんすよ」
戸次は、篠原は"知らない”＝”カラオケという形態のスキームの店を知らないこと”に気づかなかった。
篠原は”社会には好きな歌を歌って気分爽快になるための場所がある”ということを知らなかったのだ。
戸次は続けた。
戸次「そういえば着てる服も光ってたかも？」
篠原「……そうか」興味がないな……
戸次「あと家にあるんすけどね」

？！

篠原「持って、るのか…？？」
戸次「そうそう  歯磨き用に」
篠原「？？」

戸次「わんちゃん猫ちゃんの口に当てると汚れが光って便利」
篠原「そんなこと出来るのか………」
あ、話せばよかった………戸次のことを見下してた………反省………

……あ……



戸次が俺に質問なんて、するわけがなかった……



以前の俺は…


「そうです」
「わかりません」
「普通です」


……絶対に話題が広がらないような応答しかしなかったから……。


篠原「戸次、お前…」


篠原「そんなことまで知ってたのか」


戸次は篠原の目を見て驚いた。
赤色が消えていた。


光が篠原の目に入り、縮瞳している。


篠原「バイトしたとき、小型犬の脱臼手術の話もしてたよな」
篠原「ゲージ嫌いを治せとか」


篠原「本当に仕事が好きなんだな」
笑っていた。


こんなに柔らかい笑みを浮かべる篠原は、めずらしい……。