---
layout: layouts/scenario.njk
production_date: 2026-06-27
category: scenario
phase: SHADOW
viewpoint: ND
persons:
  - 篠原堅
  - 戸次信長
  - 本田千和
sensitive: false
rating: All-Age
content_warnings:
title: 告白の代わり
fictional_year: 2026
fictional_month: 3
fictional_date: 9
timeline:
  sort_key: 2026030901
  phase: SHADOW
  route: main
  status: fixed
  summary: 篠原堅が、好きな色のスマホを買う。
---

堅がスマホを買い替えた。iPhone17 pro maxというAppleのスマホの最上級モデルだ。
以前はとにかく安いスマホを、処理の重さに苦しみながら使っていた堅だったが、工場でチームリーダーになったお祝いとして奮発した。
といっても、就任後張り切りすぎて過労になってしまったので、結局シフトを調整してもらって長めの休みを取る羽目になった。
チームリーダーも一旦交代になるだろう。とはいえ堅は日頃から職責を超えた働きぶりだったので、職場の人達からは「いいからゆっくり休め」と暖かく労われていた。

千和と共にドコモショップへ来店し、この色を選ぶ時は浮気するような罪悪感があった。
それでも「好きなものを諦めては、自分は変われない。色はただの色だ」と決意して選びとった。
スマホを持ち帰ったら、一人でいる時戸次に「なにやってんの？！浮気する気？！」と詰め寄られたので、「気に入った色を選んだだけだ」と冷静に諭した。
「色に自分を重ねすぎだ、戸次」
堅は思わず笑いながら言った。
「オレンジは"お前の特殊能力"の色だろ。お前自身じゃない」
「それに、ずっと眺めているうちに気に入ってしまった」
「取り上げられたくない」
「それはそれ、これはこれだ」
その後、戸次が落ち込んでしまったことに篠原は気づかなかった。
戸次自身が隠したので仕方がない。
本田家では非常に繊細かつ難しいバランスで恋慕が共存している。

戸次「…本田さぁん」
千和「なんだよ」
戸次「篠原さんが買ったスマホ、見たぁ？」
千和「おー かっこいいよな」
戸次「いいのぉ？」
千和「？」
戸次「オレンジだよぉ？」
千和「？？」

千和「……？ なんだよ」

戸次「オレのっ！！！」
戸次「ドアの色っ！！！」
戸次「オレンジッ！！！」
千和「えっ？！」

千和「そうだったのかよお前！？」
千和「信じられねえな……」
戸次「そうでしょっ？！」
千和「ほんとに他の色のやついるんだ…」
戸次「…………。」

千和は戸次に出会う前に特殊能力を喪失していたので、オレンジが戸次の特殊能力の色だとピンと来なかった。
千和にとって特殊能力の色とは、"兄"の瞳にみられた赤色以外にないのだ。
戸次「浮気じゃない？あれ」

千和「？？」
千和「なんだよ」
千和「何が気に食わねえんだ…？？」

千和「ふつーおれがキレるなら分かるけどよ」
戸次「そこだよお！！？」
戸次「そのハナシだよお？！？！」

千和「なんでおめえがそんなに気にすんだよ」
千和「喜んどきゃいいだろ」
戸次「ッッッそれはぁ〜〜〜っ」

戸次「えっどこに置けばいいのオレの気持ち？？？」

戸次「めちゃくちゃッ」
戸次「めちゃくちゃ気ぃ使ってるッ」
千和「あーそう そりゃどうも」
千和は"自分はその扱いを受けて当然だ"という顔だ。
千和「つーか兄貴はしねえだろ、浮気」

千和「無理だろあいつに"嘘つく"とか」
千和は堅のバカ正直さをよく知っている。

戸次「………。」
戸次「それはぁー……。」
千和「おめぇが愛してる男のこと信じろよ」
千和「おれが責任取るからよ」
なんというかもう色々とキャパオーバーになって戸次が撃沈した。

と、堅が帰ってきた。
堅「ただいま」
千和も戸次もおかえり、と返そうとして堅の顔をみて驚いた。
堅は乱視なので外出時や仕事中は眼鏡をつけていたが、そのフレームが変わっていた。

赤い樹脂のフレームだ。

かつて堅が虹彩を介して助けを求めていた証の色だ。

衝撃を受けて黙ってしまった2人を、堅は不思議そうな顔で眺めた。
堅「……。」
堅「………どうした」
堅「………」
堅「……似合ってないか、な…」
千和「あ、いや…」
以前は黒いフレームだった。
千和「兄貴、思い切ったなって……」
堅「あぁ」
堅「…これも、好きな色だからな……」
堅は恥ずかしそうに微笑んでいた。
堅「こういうのもいいだろ……」

堅「…実は特殊能力者だったことを職場の人には言ってある」
堅「"この色だった"と説明するのに便利でな」

千和「あぁ、そういうことか……」
堅「前のフレームも気に入ってるから、好きにつかうけどな」
千和は戸次のせいで、堅が気を使って自分との接点である赤色を選んだのかと早とちりしていた。
しかし、堅の話を聞いて期待はずれ3割、安心7割な気持ちになった。

戸次も堅の話を聞いて（ほんとに好きなモノを選べるようになったんだね）と感慨深くなっていた。
スマホの色をああして選んでくれたことも、素直に嬉しくなったようだ。

堅はひとり、前のフレームに注目が集まらないことに安堵していた。
前のフレームは黒色だが、つるの裏側だけくすんだ水色だった。
堅がこの上なく愛しているのはその色だった。知られるのは恥ずかしすぎて困るので、ひた隠しにしている。



これは千和の瞳の色だ。