---
layout: layouts/scenario.njk
production_date: 2026-05-24
section: archive
category: scenario
phase: "NULL"
viewpoint: 葛城正親編
persons:
  - 葛城正親
sensitive: false
rating: All-Age
content_warnings:
title: 麻酔
timeline:
  sort_key: 2011040101
  fictional_year: 2011
  fictional_month: null
  fictional_day: null
  phase: NULL
  routes: 
   - fang
   - skin
   - presence
  status: fixed
  summary: 葛城正親の回復手段。
---

1階に保育園がある高層ビルに拠点を構える葛城。

まれに深夜の保育園に出向き、子供用のアスレチックの滑り台に倒れ込むことがあった。

重厚な漆黒の服飾のまま、壮年の男が樹脂製のカラフルな滑り台にぐったりと身体を預けている。
ばらばらになった長く黒い髪が散らばる。

染み込んだ幼児たちの記憶………

……なんの不安もなく、大人たちを愛し、純粋に遊びを楽しむ感情。


高濃度のこの履歴情報に精神を浸して、自己崩壊を防ぐためだった。
こうしなければ、時折襲う急激な悪寒を凌げない………。



この姿を延金に見せる訳にはいかない………。