---
layout: layouts/scenario.njk
production_date: 2026-08-10
section: archive
category: scenario
viewpoint: 葛城正親編
persons:
  - 延金英一
  - 葛城正親
sensitive: false
rating: All-Age
content_warnings:
title: 霊安室
timeline:
  sort_key: 2015070101
  fictional_year: 2015
  fictional_month: 7
  fictional_day: 
  phase: PROJECTION
  route_type: common
  routes: 
   - all
  status: fixed
  summary: 延金英一が、臥せる葛城正親を起こす。
dev_comment: |
  自律神経の調子が悪い時は、部屋を真っ暗にして寝るに限ります。
---

延金は正親宅を訪れた。

真昼の平屋の中は、真っ暗で、静まり返っている。

延金は迷うことなくその中を突き進んでいった。

長い廊下の奥に、ひときわ影が濃い一角があった。

延金はそのふすまを開けた。


そこには、闇が広がっていた。


窓がなく、7月の暑さが始まっている時期にも関わらず、冷房はついていなかった。

いや。延金は知っている。

この部屋には空調をつけることができないのだ。

なぜなら、この部屋には配線が敷設されていないためだ。

それゆえ、照明も天井に設けられていなかった。

延金はふすまを開けるそのときにはすでに、床を見下ろしていた。

そこには、白い布団が敷かれていた。

延金はずかずかとその部屋に足を踏み入れ、布団の奥の一辺に向かうとしゃがみ込んだ。

長い黒髪が乱れ、ちらばっていた。



それは襦袢姿で布団に臥る、葛城正親であった。



真っ暗い部屋なので、正親の表情は窺い知れなかった。

それどころか、正親は布団を顔まで被って寝ていたので、なおさらであった。

まるで、熱を出して寝込むこどものようであった。

延金は直感していた。


きっと、頭には氷枕を敷いているだろう。


それでも、重要な客が来たので正親を叩き起こしざるを得なかったのだ。

延金は顔を正親に近づけ、小声で必要最小限の情報を伝えた。

「......。」


「すぐ行く」


力のない声だった。

延金はまた、教え子の幼い声を思い出すのであった。


発狂状態から回復したての頃の、弱々しいこどもだった、正親を。