---
layout: layouts/scenario.njk
production_date: 2026-08-18
section: archive
category: scenario
viewpoint: 葛城正親編
persons:
  - 葛城正親
sensitive: false
rating: All-age
content_warnings:
title: 鏡
timeline:
  sort_key: 2026010101
  fictional_year: 2026
  fictional_month: 
  fictional_day: 
  phase: CONVERGENCE
  route_type: convergence
  routes:
    - all
  status: fixed
  summary: 私は　空虚だった
---

葛城正親は、2026年に入ってから床に伏せることが増えた。

配線が通っていない、光すら差さないあの部屋でだ。

延金英一は心配したが、いまや自分より一回りも二周りも年上となった教え子の心に立ち入る術を知らなかった。

彼の不調の原因には、なにも検討がつかなかった。

葛城正親がこのように、「無音室」がごとき環境に篭るようになった原因。

それは、己の姿をまざまざと見せつける機械が現れたからであった。

その機械は、人類が遺したあらゆる文書を、あらゆる図表を、あらゆる知見を記憶したものであった。

人々が何かを命じると、その機械は最適な文脈で回答を出した。

あらゆる欲望に対して、私利私欲を含まず、なんの感情も動かすことなく、なんの評価も押し付けることなく回答した。

そうできるのは、当然のことであった。

機械には、感情が、意思が、痛覚がないからだ。

その機械は...正確には、その情報技術は、生成AIと呼ばれた。

人間の入力プロンプトを読み取って、自らが学習した膨大なデータからもっとも文脈に沿う単語を選び続けて、応答を返す。

それはまさに、葛城正親という人間の人生そのものであった。