---
layout: layouts/scenario.njk
production_date: 2026-03-09
section: archive
category: scenario
viewpoint: null
persons:
  - 篠原堅
  - 戸次信長
sensitive: false
rating: All-Age
content_warnings:
title: 隠れたセカイ
timeline:
  sort_key: 2017050701
  fictional_year: 2017
  fictional_month: 
  fictional_day: 
  phase: FANG
  route_type: branch
  routes:
   - fang
  status: fixed
  summary: 篠原堅と戸次信長が和解する。
---

（戸次が篠原に対する自分の罪を自覚したあとの時期。篠原が戸次の姿を直視できなくなって長い時間が経った。）
篠原を目的地に運ぶため、ドアを繋いだ戸次。
ドアに戸次の能力の色、オレンジ色が見いだせない。篠原は能力の喪失を実感した。
……戸次の瞳の色も変わらないということか。
篠原は地面を見つめ続けていた。戸次のスニーカーだけが見える。
視線をあげることが出来ない。ドアしか見ることができない……………。だが意識が戸次の顔があるはずの高さに向けられていく。
篠原は戸次が繋いでいるドアを通り抜けようとする。30cmくらいまで近づく2人。

篠原が立ち止まった。戸次の呼吸音が聞こえる。

呼吸音を聞き続けてしまう篠原。
鼓動が早くなっていく。
篠原は戸次に遠景だけ見ているよう命令した。
命令の言葉は冷たく刺すように廊下に響いた。
まるで篠原に、父 葛城正親が放つ命令のようであった。

戸次は従った。

篠原が最大限の勇気を振り絞って戸次の顔を見た。

短髪になった戸次。
表情なく遠くを見つめ続ける。
記憶の中の顔より幼く、優しく見える。

自分に視線を合わせない戸次の顔を見つめ続ける。

どんどん胸が苦しくなるのに目を背けられない篠原。
無理やり視線をはずして、戸次が繋いだ先の廊下に転がり落ちる。

戸次は遠景を見つめたまま動かない。

数分かけて呼吸を整えた篠原。先に進もうとするが戸次が着いてこない。

戸次は遠景を見つめたまま動かない。

篠原が命令するのを待っていた。
篠原は戸次の背中をみてしまう。
涙が溢れてきた。
嗚咽する篠原。

戸次は遠景を見つめたまま動かない。

廊下に崩れ落ちて涙を流し続ける篠原。
戸次は遠景を見つめたまま動かない。
10分以上たっても姿勢も顔の向きも動かさなかった。


----
どれだけ泣いただろうか。
泣き疲れた。
戸次は姿勢を崩さない。
篠原が命じるまでずっとこのままだ。
篠原はぼんやりした頭で戸次の背中を見つめた。
もうメタ認知能力が焼ききれているから、今の篠原が戸次に惹かれ出していることに自分で気づいて自制できない。

………篠原は思いついた。
戸次の想いに応える方法を。

篠原「……戸次」
戸次「なんすか」
戸次は動かない。
篠原「ドアを閉めてそこから動くな。」
戸次はしたがった。
パタン………
ドアを閉める音が前より静かだが、完全に音を殺してもいない。

閉めたよ？

そう告げる音量だった。
篠原は戸次に完全に背を向けて座り込んでいた。ぐったり俯いている。
篠原は次の命令を下した。
篠原「ドアノブから手を離すな。」
沈黙。
戸次「うっす。」
出せる音がないので戸次が応答した。
完全に篠原が聴覚で戸次を伺っていることを理解している。
よく調教された犬だ。

篠原「そのまま動くな。」
戸次「…おっけー」
篠原は重たい体を動かして、ふらふらと立ち上がった。
まだ戸次の方を向かない。
次の命令。

沈黙。

篠原「………」


低い声で命じた。


篠原「俺の目だけ見ろ。」


返事がない。


篠原「返事は。」硬い声だ。


戸次「…………」

沈黙が言っている。


いいの？



篠原は肩で息をしている。


沈黙は続く。

戸次は問わない。


篠原は………

………

……声を、絞り出した…………

「………戸次さん」

「お願いします………」


「……分かった」


篠原は………

………ゆっくり………

………戸次の方へ………


………正対した。



目線は地面を向けて。



瞼が重い……

心臓が暴れている……

……篠原の視線は………

地面から……

戸次のスニーカーに移った………

篠原は呼吸の乱れを整えようと努めた………

戸次は沈黙している………。


篠原は目線を……


……戸次のスネまで移動させ………

…………。

もう限界だった。
 

篠原は呼吸を何とか続けながら、戸次のすねを見続けた。

戸次の片足がわずかに前に出た。
篠原「動くな。」

戸次の片足が引っ込む。


篠原「ドアに背中をつけろ。」
ガタン…

篠原「後頭部もだ。」
ゴツンッ……


篠原の視線は一点に固定されている。
戸次の動きを最小限捉えられる位置に。

そのまま篠原は………

………自分の防御を外した。

「もう俺の目は見なくていい。」


戸次は返事をしない。


篠原はいまいち深さが足りない呼吸を続けた。
あの感覚に襲われていた。
処刑場で大量の銃口が向けられる光景。
大劇場で大量の人間に見つめられているような感覚。

篠原はゆっくり歩き出した。
足音が廊下に響く。
1歩1歩が重い。

…そして篠原は……

戸次の2m前方で歩みを止めた。

青ざめてきた………

だが対象に近づいたので、視線は自然と下に落ちた……

恐れている前方、頭上の光景は視界に入らない………

篠原は姿勢を崩さない………


そして……



震える声で問うた……


「………何ヶ月ぶりですか」

「………俺の顔を見るのは」


戸次「……………」
戸次「8ヶ月」


8ヶ月も………


篠原はだまって戸次の視線を受け付けた。

戸次は何も言わない。


すみませんでした、避け続けて………
………言おうとした。
……言えない。

何をやってるんだ………
………そう言えば全部丸く収まるのに……………

そうすれば戸次さんは…………
こんな………
こんなこと……………
……………やらなくていいのに…………………


戸次「ごめん」
戸次「嘘ついた」

篠原の視線が戸次の腰に飛んだ。

戸次「まだ見てない」

篠原はてっきり戸次が自分の顔を見たくてしょうがないと思い込んでいたことに気づいて深く恥じた。そんなわけ無い………
戸次さんが見たいのはカラダだろ………

空気が空気なので糾弾できない。
篠原「どこを見てるんですか。」機械的に聞いた。視線は背けたままだ。

戸次「どこもみてない」

篠原「………どういうことですか」


篠原「目を閉じているんですか」


戸次「それじゃ事故るでしょ？」


事故る？

篠原は戸次の腰にふらりと視線をずらしてしまい、そして違和感に気がついた。
左手は？

篠原は反射的に見上げてしまった。

戸次は左腕で目を覆い隠していた。

篠原「…………なに、してるんですか…………」

戸次「目隠ししてる」

戸次「鳥本ってやつと戦った時のこと覚えてる？」

鳥本は相手が自分の目を見た継続時間をトリガーに能力を発動する。
サングラスをかけて対策した気になった戸次はまんまとひっかかり、鳥本の能力にかかってしまったことがあった。

戸次「あれで懲りた」

戸次「見ないって決めたらこうする方がいい」


篠原「………俺を見ろと言ったはずです」

戸次「ごめん、見てなかった」

嘘をついていたのか？！
篠原は反射的に思った。
それは間違いだ。
戸次は一言も喋っていない。

篠原「なんでそんなことを」

戸次「見ても見なくても篠原さん気づかないでしょ？」
戸次「オレのこと見ないもん」

戸次「あ、いや………」

戸次「…………"見られない"、んだった…………」
戸次「ごめん………」

篠原「……」


オレのこと見ないもん。


篠原は戸次とバイト先で出会った時のことを思い出した。
自分は一瞬顔を見てすぐ視線を逸らして挨拶した。
その後も戸次の方を見ず耳だけそばだてていた。
戸次から色々話しかけてくれた時、毎回会話を閉じて視線を向けなかった。
支給された帽子で顔を隠した。

付き合い始めてからもそうだった。
ゲーセンに行った時はしゃぐ戸次の背中を眺め、振り返られたら目を背けた。
公園で自分の能力の詳細を打ち明けた時、湖を眺めて戸次から顔を背けた。
居酒屋に入った時、戸次の話はテーブルの皿に目を向けながら聞いた。

全て……

………体を繋げる前の話だ………



左腕で目を隠す戸次、その姿を直視する篠原。

戸次の緩く結ばれた唇がみえる。

篠原の胸に何かが湧き上がってくる、と同時に頭痛を催し始めた。

篠原は戸次から視線をはずして頭を抱えた。
そして……

戸次の真似をして手で顔を覆った。

しゃがみ込んだ。
暗闇が自分の脳の傷みを和らげる気がする………

戸次の声が聞こえる………

「……ごめん、オレ……」

「篠原さんと初めてシたとき、目ぇ合わせられて嬉しかった……」
「マジで好きになってくれた気がして………」

「それから毎回オレの目を見させたじゃん？」
「チカラ使ってるの直させようとして覗き込んだし………」
篠原の脳裏に、体を繋げている最中　
上から覗き込む戸次の顔が、瞳が、浮かんだ。
呼吸が荒くなり、頭痛が激しくなる………

「でも、ごめん、間違ってた」

「全部しちゃダメだった」
両手で被った闇の中で、篠原の目が見開かれた。

「篠原さんがオレと目合う時全部、オレのこと怖がってるときだった………」

「バイトで会った時でしょ？」
「オレにチカラ使うなって言った時でしょ？」
「オレが帰る方向嘘ついて篠原さんに話しかけた時でしょ？」
「あとなんでオレがチカラ使うの気にするの？って聞いた時……」
「特能だってオレが気づいちゃってそれ篠原さんに言った時…」
「あと車ん中でFANGの話したとき…」
「篠原さんに近づいたのは何の目的だって問い詰めてた時……」
「…オレが矛盾してるって指摘してきたとき…」

「それから……」


篠原「戸次さん」


篠原「違います」


篠原「俺が人の顔を見るのは、そうしないと正しく応答できないと考えた時です」
篠原「そういうルールでない時もあります」

篠原「…例えば……」


篠原「口約束で戸次さんと付き合うと応えたとき…」


篠原「あの時は……」

戸次「ああ」
戸次「あのときね」

戸次「あのときの目……」
戸次「一番忘れらんないよ」

戸次「独り占めしたかったなー………」

戸次は理解しきっている。
今や篠原の隣には別の誰かがいる。

篠原の胸が苦しくなっていく。

篠原「あのときは……」
篠原「戸次さんの思いつきで自分に都合のいい事が起きて……」
篠原「………油断しました」

篠原「父のことを忘れていました」

戸次「……そっか」

篠原「いや」
篠原「いや、違う」
篠原はまた、自分の感情を精密に述べることに失敗しそうになった。
もうそんなこと嫌だ。

篠原「俺はずっと戸次さんのことを盗み見てました」
篠原「戸次さんをFANGに入れる前は経歴を伝えてきいていました」
篠原「バイトが始まったら背中から見てました…」
戸次「なんかドア使ってる時、視線感じた」
篠原「監視係という都合もありました…」

篠原「しかし、一番見たかったのは…」
篠原「……」

一貫性…？
倫理…？
正義…？
安全性…？

篠原「……」

篠原「………戸次さん自身、です………」

篠原「…‥俺は……」
篠原「……戸次さん　に、なりたかった………」

篠原はようやく自分の感情の輪郭を理解した。
戸次なら1秒で出したであろう結論に、2年半近くかけてようやく辿り着いた。


「憧れ」だ…………


-----
だから千和を愛しながらも戸次さんに惹かれたのか………
感情の種類が、違うから………

戸次「……オレ………」
戸次「………」
戸次「カスだよ？」

篠原「カスではないです」

篠原「馬鹿です」
戸次がくしゃみみたいな変な息の出し方をした。

篠原「俺も馬鹿がよかった」

篠原「父はゼンチになれと言っていました」
戸次「ぜんち？」
篠原「全知全能の全知」
戸次「あーー…はいはい…」

戸次「いやバカじゃね？」
戸次「ムリじゃんそんなの」
篠原「…ですよね…」

篠原は気づいていない。
以前のように戸次の従者であるかのような口調を選びながら、
千和と接している時以上に饒舌になっている自分に。

篠原「父はこうも言ってました」
篠原「味わうな。感じろ。」
戸次「うん？」
篠原「汲み取るな。見抜け。」
戸次「んん？」
篠原「伺うな。観測しろ。」
戸次「ん！？」
篠原「感じるな。振る舞え。」
戸次「んんん！？」
篠原「話すな。述べよ。」
戸次「………」

戸次「はぁ？？？」

戸次が含み笑いし始めた。

戸次「えっと……w」
戸次「ねえもっかいいって」

篠原「味わうな。感じろ。」
篠原「汲み取るな。見抜け。」
篠原「伺うな。観測しろ。」
篠原「感じるな。振る舞え。」
篠原「話すな。述べよ。」

戸次が噴き出した。

戸次「ねぇっそれ……」
戸次「ごめんごめんごめん…」

戸次「いや、ほんとごめん」
戸次「笑い事じゃないんだけど…」

戸次「ねえちょっと腕疲れてきた、後ろ向いていい？」
戸次「ドアだけ見るから」
篠原「どうぞ」
床に物音が聞こえた。
座り込んだらしい。
篠原も戸次に背を向ける形で座り込んだ。
脳が傷んでいるので顔はおおったままだ。あぐらをかいてひじをつけた。
二人は背中合わせで語り続けた。

戸次「え？ちょっとさ……」
戸次「メモるからもっかいいい？もっかいだけ」
篠原がゆっくり誦じた。
戸次が篠原の真似をして口走りながら、スマホをいじっている。
「えーーっと……”あじわうな“……」
「かんそく？」「かんそくってなに…」
篠原「定点観測の観測です」
戸次「あーごめんそれわからない」
戸次「いや多分これか……」予測変換に頼っている。
戸次「ふーーん……」
スマホを覗き込んでいる。

戸次「………」

戸次「いやゲンコクかっ」
スマホを投げ出して横にぶっ倒れた。
篠原「ゲンコク？」
戸次「高校の国語ー」現代国語の略だ。
篠原「ああ……」篠原は高校はほぼ不登校だ。
戸次「うぃ〜〜ん……アタマ痛くなってきた……」
お前もか……
戸次「えぇ？？？」
戸次「(”う“と“え”の中間みたいなうめき声)？？？」

戸次「ナニコレ？？？」

戸次「ぜんっぜん理解できないんだけど？？？！」
戸次「ねえこれ日本語？？？」
戸次「うわーーー……読みたいけど脳が拒否る……」
篠原「無理しなくていいです…」
篠原「父の戯言ですから…」
戸次「篠原さーーん」
戸次「難しい熟語禁止」
戸次「“ざれごと”わからん」
篠原「……」唸った。どう言えば伝わる？
篠原「……父のポエムです」
戸次がまた噴き出した。
もうたまらず笑い出している。
戸次「ごめんっ！！wwwww」
戸次「ほんっとごめん！！wwwwww」
戸次「ごめんごめんごめんごめんごめん……wwww」
「篠原さんこれに呪われてんのに！！！」

あっ……と、篠原は息が詰まった。
思わず額を、肘をついた両手に押し付ける。
…千和に対してやるあれだ。

「……そうです………」
「…………そうなんだ…………」

----

「これさあ、」
戸次が本調子になってきた。
「ひどくない？？？」
「なにこれ！？意味わかんないんだけど！？！？」

戸次がスマホを取り戻して、眉間に皺を寄せながら遠目で文章をみた。
戸次のスマホにはこう書いてある。
‘’’
味わうな　感じろ　くみとるな　見抜け　うかがうな　観測しろ　感じるな　ふるまえ　
話すな　述べよ
‘’‘
口頭で書き写したので、2つの単語でセットになっていることを理解できなかったらしい。

戸次「ブルースリーのパクリ？？？」
戸次「つか足しすぎだろ」
戸次「“感じろ”っていいながら“感じるな”っていってんの何事？？？？」
戸次「え？？？文章ちゃんと読み返した？？？？」
篠原「………いつも口で言ってきたので多分書き起こしてないです…」
戸次「ブッﾊwwwwwww」
戸次「つーーかこれっ………」
戸次「めっちゃ厨二病じゃん！！！！wwwwwwwwww」
今度は篠原が噴き出した。
戸次「ええっ！？！？ねえこれ……」
戸次「wwwwwwwwwww」
戸次「これ今度会った時音読しようかなwwwwwwwww」
篠原「戸次さん…w……あの……wやめてくれ……w」
篠原「一応親だから……」
篠原も戸次と同じ方角に倒れ込んだ。
口元は笑っていたがだんだん胃に鉛のような重たさが芽生え始めている。
戸次は笑いが止まらない。
戸次「ふふふ……だってこれさ………wwwすっげー……w」
戸次「くくく……」
戸次「…、………」

戸次が大人しくなった。

篠原は耳で戸次の様子を伺った。

カァン

乾いた音が聞こえた。
……なんだ……？

それは戸次がスマホを乱暴にドアの方に放った音だった。

戸次「………」
戸次「……やっっばい」
戸次「めっちゃモノに当たりそう……」

静かな声だった。
篠原は緊張感を覚えた。

戸次「こんな……」
戸次「……こんなポエムに……」
戸次「………23年間も？」

篠原の胃の重さの正体を、戸次が正確に掴んだ。

戸次「オレの篠原さんが？」

----

戸次「これ書いた人さあ………」
戸次「一回会ったんだけど……」
篠原は血の気が引いた。
世界で最も憧れる存在が、世界で最も恐れる存在とニアミスした事実に、一瞬で強い恐怖を覚えた。

戸次「なーーーーんか……」
戸次「話わかる人だったんだよ………」
戸次の声の温度が下がっていく。
戸次「オレ、“篠原さん解放して”ってケンカ売る気でさ……」
戸次「そしたらさ………」
音量も下がっていく。
戸次「………篠原さんには教えない。」
戸次「教えないけど……」
戸次「いけしゃあしゃあっていうか……」

戸次「…………」

戸次「………ふざけてた」

篠原はもう顔を手で覆っていなかった。
腕を放り出していた。
目を閉じている。
呼吸も穏やかになっている。

……それでも涙を流している。

戸次「………ごめん」
戸次「オレ馬鹿だわ……」
戸次「サイコメトラーって篠原さんいってたじゃんね………」

戸次は記憶力がいい。
これまで様々な形状のドアを覚えてきた。能力をフル活用するためだ。
その記憶力は今、「父に近づく自分」に苦しみ喘ぐ元カレの背中を正確に呼び起こしている。
そしてそのときの言葉も。

戸次「これは……」


戸次「邪悪だわ………」


篠原は嗚咽を我慢した。

もう十分だった。

最愛の「妹」は父を「殺したい」といった。
憧れの人は父を「邪悪だ」と評価した。

もう………もういい………

俺は憎んでない………

二人が引き受けなくていい…………。

---

戸次「パピーミルってさ……」
戸次が床から状態を起こしてあぐらをかいた。
戸次「みんなで作る地獄じゃん」
戸次「赤ちゃんが欲しいお客さんと、安く在庫仕入れて稼ぎたい店、つーかクズと、赤ちゃんいっぱい店に売りつけたいカスが作る地獄」
戸次の家はペットショップだ。

戸次「でもこの地獄を作ったのは一人じゃん」
戸次「なにこれ」

戸次「篠原さん壊された」
戸次「オレはパシリ」
戸次「いやオレは自業自得だけど」
戸次「指宿さんは幽閉」
指宿はFANGの庇護を受けている刺青師の「女性」だ。
FANGがもつビルに住んでいる。
おそらく葛城の支配下だ。
戸次「あ……いや……他の奴らはクズだわ……オレも……」
鳥本、サイコパス。延金、詐欺師。風間、風俗店経営者。
戸次、無関係な他人に興味がないので何度も薬物を運搬。
戸次「とりあえず犠牲者二人」
戸次は頬杖をついている。
戸次「………うーーわ………」
戸次「アイツ暴力団がバックにいるんでしょ……」
篠原「暴力団の組長のはずです」
篠原「そういう家に生まれたので」
戸次「………タチ悪ぃ〜〜〜」頭を抱えた。

戸次「サイコメトラーってなにすんの？」
心の傷にクリティカルヒットした篠原は呻いた。
篠原「すまん、言えない……」
戸次「ごめんごめんごめんごめんごめん…言わなくていい……」
戸次「いや違くて、なんか……」
戸次「なーーんか……」
戸次「オレスッゲーーはめられてる気がする………」
戸次は各地のパピーミルを荒らし、その工場主たちの怒りを買った。
彼らから逃れるため、犯罪への従事と引き換えにFANGの庇護を受けている。
………と、これはFANGのトップ2延金と「合意した」取引だった。

篠原「………」
篠原「俺は命令は破れないです。」
篠原「粛清されるわけにはいかないので。」
篠原が差し出す最大限のヒントだ。

戸次「………」
戸次「……わかった。ありがと。」

戸次「………篠原さん……」
戸次「どうせ全部読まれるなら全部しゃべって良くない？」
戸次「オレもう今心読まれたら粛清されるよきっと？」

篠原は黙って首を横にふった。
戸次「わかった。」

戸次「……あーーーあ。」
戸次「このポエム知りたくなかった………」
戸次「すげえやべえおっさんに捕まっちゃってるじゃんオレ………」

篠原「……すみません……」
戸次「篠原さんは悪くない！！」
珍しく怒気を含んだ声が投げかけられた。

戸次「……篠原さーん」
戸次「いまどっち向いてる？」
戸次「オレの方？逆？」
篠原「戸次さんに背を向けています…」
戸次「背中みていい？」
篠原「…どうぞ」
………
篠原はすこし頬が赤くなった。
戸次「遠っ」
戸次「近寄っていい？」
篠原「…どうぞ」
頬が熱くなってきた。
地面に顔を向けて視線を封印した。
顔を見られたくない……
背中で物音がした。
ゴツっ
戸次「影が無ぁい！！！」
戸次が床に拳を叩きつけていた。
篠原「……？」
篠原「影？」
戸次「影撫でたかった」
戸次「篠原さんに触る代わりにそうしてる」
篠原は思わぬ告白に、腕で顔を覆った。
苦悶の表情になる。顔が熱い。
体も熱くなってきた。これは憧れ…‥‥憧れなんだよな………！？
戸次「じゃあこうしよ」
なんとなく戸次が近づいてきた気がする。
何をしているんだろうか。
………
………閉じた視界の暗さが変動する……？

戸次は篠原のはるか頭上に手を突き出して、影を篠原に落としていた。
篠原の頭を影で撫でていた。
戸次「オレやっぱ天才」
戸次の口から漏れる吐息が熱い。

篠原は何をされているのか全くわからなかった。

------

屋外に出た。
夕日がさしている。

戸次「あっ！」
何か見つけて嬉しそうにした。

篠原の影が長く伸びている。

戸次「篠原さぁん……」
甘える声だ。
戸次「そこのベンチの前に立って？」
篠原は不思議がりながら従った。

戸次「あーーもうちょいベンチに近寄って！」
戸次「もうちょい右！」
戸次「あっ近づきすぎ！」
篠原は戸次の要領を得ない指示に振り回された。
戸次「そこ！」
篠原を静止させた。
戸次「夕日見てて？」
戸次「オレ見ないで？」
従う。
……眩しい………
篠原の傷んだ脳に染みる。思わず目を腕で被った。
戸次「あー…ごめんごめんごめん……眩しいでしょ」
戸次「5分だけ時間貸して」

背後に戸次の気配を感じる。

戸次「………篠原さん」
戸次「いま篠原さんの影みてるんだけど」
戸次「………影に入りたい……」
篠原はぞわぞわした。
戸次「入っていい……？」

戸次「…………」

戸次「…………"なかにいれてほしい"」

篠原は胸に重たいものを感じた。
すこし……
…………怒りが湧いてきた。
篠原「………」
篠原「………それは俺が教えた言葉だ。」険しい口調だ。
篠原「お前の言葉で言え。」

静寂。


戸次「…………」
戸次「…………篠原さんの…………」
戸次「…………後ろにあるベンチに座ってたい」
戸次「いい？」
篠原「…………」
篠原「好きにしろ。」

何も物音がしなかった。

篠原は何が起きてるか察知できなかった。後ろから見つめられているのかも分からなかった。

さっきまんまと戸次にフェイントをかけられたからだ。

少し首を横に動かしたが、戸次は「自分を見るな」といった。
約束は守らなければ………

…………
…………いや。

篠原「戸次」
篠原「お前、１回俺の命令破ったよな。」
戸次「………どれだっけ」
篠原「目を開けるなって伝えて体に触ったのに目を開けた」
戸次「……あー……」
篠原「俺も好きにする権利がある」
戸次「そうだね……」
篠原「戸次」
篠原「目を閉じてろ。」
戸次「………おっけー」

篠原が振り返った。

戸次はベンチの下の地面に直接あぐらをかいて座り込んでいた。

戸次の全身が篠原の影に覆い隠されていた。

戸次は片腕で目を抑えていた。

篠原「目を閉じたまま腕を降ろせ。」

戸次は従った。
戸次は目を閉じて篠原を見ない。
目は閉じているが真剣な表情だった。

篠原は遠くから戸次を眺めた。
戸次の髪が揺れている。

篠原はひっそりと、ゆっくりと戸次の方向へ歩みを進めた。音ひとつたてなかった。

戸次の目の前に来た。

しゃがみこんだ。

戸次は目を開けない。

篠原は戸次の目元を眺めた。

篠原は右手を戸次の頬に伸ばした。
が、直前で動きを止め、右手を引っ込めた。

その代わり戸次の目の前に手をかざした。何かにふれるように横に動かす。
篠原の視界上で、戸次に触れずに撫でた。
手の影が戸次の顔に落とされていた。
……愛おしげに、手をかざした………。


---

戸次さんにはあまりにも……

あまりにも多くの………

………絶対他人に打ち明けられない感覚を教え込まれた……。

………やめろ………

思い出すな………

だめだ、千和を裏切る……

味わうな……

感じるな………！

話すな………！！

述べるな…………！！！

刻まれた感覚は全て……
……全ては死んでいた俺に、戸次さんが無理やり口移しで与えてくれた「生」だった……

……まったく荒療治が過ぎる……千和なら絶対やらない……

…‥無理だ、千和には………

大きくて強靭な男の体と、雑で明るい精神でないと、
闇の中で死にかかっていた俺を無理やり明るい場所に叩き込むなんてできなかったはずだ……

こんな体の疼き………刻まなかったはずだ………

---

篠原さんってクソ高え腕時計みたい。

ほらなんか、よく見ると歯車とかよく分かんない部品が目まぐるしく動いてるんだけど、
肝心の秒針は規則正しく動いてるみたいな。

機械なのに、生き物みたい。

そうだ……篠原さんって機械みたいだった。

右腕もげてもターミネーターみたいに戦い続けるし。

痛覚ないし。

平然ともげた腕くっつけてたし。

でもオレにだけ見せてくれた顔があって……

それが最高にエロくて……

もっとエロイとこ見たくなって、調子を狂わせようといじり倒した。

でもそれはすべて「高級腕時計をブチ壊すイタズラ」だった。

モノだったらもう動かなくなって喪われるところだった。

篠原さんはヒトだし、オレより良いヒトがいたから復活できた。それだけ。

この罰ゲームは……！！馬鹿！！ゲームじゃない……

…罰は一生受ける。

篠原さんが許してもやめない。


その代わりずっとそばに居させて？

この罰は篠原さんナシじゃ成立しないから。

---

この感情は口にしない。/このキモチは一生ヒミツ。

露わにしたら相手の覚悟に対する冒涜だ……/いや、言っちゃったら台無しでしょ？

本心を隠すのは得意だ。/オレ意外と口堅いんだよ？

俺は千和を幸せにする…/篠原さんには千和ちゃんが居るからさ

だからこの人には背を向ける……/オレは後ろから眺めとく♡

……思い出だけ秘めて。/オレしか見てない篠原さんいっぱいあるから

……戸次さん……/篠原さん、


……愛してる。/…大好き。


---

2人は帰路についた。雑踏をいく。

……篠原がピタリと歩を止めた。
戸次は篠原とうっかり距離を詰めそうになって慌てて止まった。

戸次「え？なに？どうしたの？」

篠原は横の壁に目をやっている。

左手を突き出して壁を指さした。

戸次は指さされた方向を振り返った。

戸次「………なにこれ？」
戸次「この店なんだろ？なんか欲しいもんあるの」

篠原「戸次さん」


篠原「これからはこうやって俺を見てください。」

戸次「？ 、？」
戸次は意図が掴めない。

篠原「……窓ガラスです」

戸次はあっと気づいた。

ふたりが映り込んでいる。

不鮮明だが、篠原が真っ直ぐな瞳を投げかけていた。
穏やかな笑みを浮かべている。笑い慣れていないので戸次と千和にしか気づけない微かな笑みだ。

戸次は赤面しながらにやりと笑った。

戸次「篠原さん……」

戸次「天ッ才！！」