---
layout: layouts/scenario.njk
production_date: 2026-04-12
section: archive
category: scenario
viewpoint: 
persons:
  - 篠原堅
sensitive: false
rating: All-Age
content_warnings:
title: 機械が望むモノ
timeline:
  sort_key: 2026041201
  fictional_year: 2026
  fictional_month: 4 
  fictional_day: 
  phase: SHADOW
  routes:
   - fang
  status: fixed
  summary: 篠原堅が好きなものについて語る。
---

2026年4月。
完全に回復した篠原堅(31)が好きになっているものがあった。


宇宙と仏教だ。


堅は一緒に横たわる千和に理由の説明を試みた。
堅「なんか…なんでいいのかわからないが…」「……なんというか……」
「……”ここに居られるんだ”っておもうんだよな……」
堅「すまない……」堅「わからない……」堅「……うまくいえない」
堅「ああ、わかった、なんか……」堅「………」
堅「…だめだな」
堅「…なんというか」

堅「言葉にしたら壊れるんだ」

堅「すまない……」

堅「………」


堅「す゛ご゛く゛恥゛ず゛か゛し゛く゛な゛っ゛て゛き゛た゛ッ゛」


千和はそんな兄貴が可愛くて笑ってしまった。

堅「笑わないでくれ、ほんとに恥ずかしいんだ」
顔を赤くしたまま伏せているが、肩が笑ってしまっていた。