---
layout: layouts/scenario.njk
production_date: 2026-06-25
category: scenario
phase: PRESENCE
viewpoint: ND
persons:
  - 篠原堅
  - 戸次信長
sensitive: false
rating: Normal
content_warnings:
title: 原罪
fictional_year: 2017
fictional_month: ND
fictional_date: ND
---
戸次「…篠原さんってさ」
戸次の胸に身を預けていた篠原に問いかけた。
戸次「…なんか頼れる人っていた…？」
篠原「……？」
戸次「年上とか」
篠原は記憶を手繰り寄せようとした。
篠原「……」
篠原「いないな」
戸次「そっか」
児童養護施設の職員は忙しいことを篠原は認識していた。認識してしまっていた。
あまりのこどもの多さに。
篠原「……どうしたんだ」
元気がないのに篠原はケアをしようとしている。
戸次「なんか思い出しちゃって」
戸次「先輩に甘えてたなーって」
篠原「…先輩…？」
戸次「高校んとき？」
戸次は男子校に通っていた。
戸次「めちゃくちゃ可愛がられたし楽しかった」
篠原「……」
自分とは無縁の世界だ…
篠原「…そうか…。」
戸次「篠原さんと一緒にいたいのもそういうコト。」
篠原が黒い瞳を戸次の瞳に向けた。

すぐに逸らした。
…目は潤んでいる……。

篠原「…俺はそんなんじゃない」
篠原は自分を否定した。
篠原「…先輩とか、よくわからないしな」
戸次「…あんま聞いちゃいけないかもだけど」
戸次「施設って年上多いんじゃないの？」
篠原「たくさんいたよ」
篠原「でも頼る相手じゃない」
篠原「頼る資格もないと思っていた」

篠原「助けられていいのは助けたくなる見た目のひとだけだ」

篠原「俺は違う…。」

戸次「………。」


戸次「オレの見た目がちがってたら、助けた？」
篠原「！…」
篠原がはっと自分を顧みた。
篠原「……」

篠原「…わからない」
篠原「気にはかけたと信じたい」

篠原「お前のことは先に延金さんの情報で知ったから」
篠原は戸次の生い立ちと犯罪歴を延金から聞かされてから監視役を実行した…。
戸次「そっか。」

篠原「…それでも…」
篠原「助けたいと思わせたのは、お前の生き方だ」
篠原が潤んだ黒い瞳を戸次から避けながら吐露した。
黙り込んでしまった。
戸次「…そうだよね」
戸次「…篠原さん、オレの顔絶対見なかったもんね」

戸次「…篠原さんはなんでカウントしないの」

篠原「…？」

戸次「助けられていいのは篠原さんもじゃないの」

篠原は…

……苦悶の表情で頭を横に振った。

篠原「俺は許されないことをしすぎた」
篠原「無理だ」
篠原「…助けられる資格はない」
戸次「でもFANGに支配されてたんでしょ」
篠原「…それより前だ」
篠原「…お前に隠していた罪がある」

篠原は光を灯した表情で戸次を見つめた。
篠原「…俺は自分の飼い犬を殺した。」
覚悟の表情だった。

戸次の心に静かに衝撃が広がった。


戸次「…それ……」
篠原の顔をみつめる。
戸次「……いつ？」
「いつの話？」

篠原「…5歳の頃だ」
戸次「…それ、特殊能力に目覚める前？」
篠原「…そうだな」
それって…
戸次「……親と暮らしてたときじゃん」
篠原「…

…あぁ……」
戸次「なんで殺しちゃったの？」
篠原は沈黙した。

篠原「……いえない」


篠原「罪から逃げることになる」
戸次「いいよ、そんなの」

戸次「ホントのことを隠す方が逃げてる」

篠原「！！」
篠原「……」


篠原「…父に、命じられた」


やっぱり……
戸次は口にすることを我慢した。
戸次「…どうして殺せって言われたの？」
篠原「…わからない」
篠原「初めは”大切に育て上げろ”っていわれてた」
篠原「でも仲良くなった矢先に”殺せ”といわれた」
篠原「…あぁ…」

篠原「”病気だから先が長くない”と言われたんだった…..」
篠原「それで”苦しみを長引かせないように”って……」


篠原が頭痛を催して苦しみ出した。
頭を両手で抑え込んでいる。
その手に戸次が自らの手を重ねた。

篠原「…殺した後死体を観察させられたんだ」
篠原「冷たくなったのを深く理解するためだ…」
篠原「育てた時みたいに…」
戸次「どういうこと？」
篠原「……暖かくて鼓動が聞こえるのを何度も確かめろって……」
戸次は絶句した。


命を教えたかったのか？死を教えたかったのか？
愛を教えたかったのか？冷酷さを教えたかったのか？


……わからない………


…..わからないけど………



オレの篠原さんはずっと苦しんでいた……

“俺が殺した”って………。


篠原「...そうだ……」

篠原「…これはきっと、訓練だったんだ……」

篠原の苦悶がやや緩んだ…

篠原「……私情と思考を切り離す訓練……」

戸次は篠原をじっと見守った。

篠原「……戸次」
篠原「……殺してしまった犬は、ゴールデンレトリバーだった」
篠原「黒い毛並みだった」
篠原「…でも壊れた名前で呼んでた」
戸次「”こわれたなまえ”？」


篠原「”白（しろ）”」


篠原「……滑稽だろう」
篠原「…ふざけていると思うだろう」

篠原「でも本気でこう呼んでたんだ」

篠原「…愛着をもって」

戸次「….？」
戸次「ごめん」
戸次「わかんない」
戸次「篠原さんは黒色を”しろ”って教わっていたの？」
篠原「いや、違う」
篠原「色の黒は”くろ”と教わっていた」
篠原「これは”くろ”だろ…」
篠原は反射的に黒いものを見つけようとして、

…戸次の黒い前髪に、触れようとした…

と、その手を引っ込めた。
篠原が頭痛に苦しみ出した。
本格的に記憶の想起に苦しんでいるらしい。
戸次「もういいよ…」
戸次が苦しむ篠原の頭を抱きしめた。
戸次「……よくわかった」
戸次は何も理解できていなかった。
そのこと自体が、篠原が叩き込まれていた環境のすさまじさだと身体で理解していた。

何が信じていいものなのか　わからない。