---
layout: layouts/scenario.njk
production_date: 2026-06-19
category: scenario
phase: PRESENCE
viewpoint: ND
persons:
  - 篠原堅
  - 戸次信長
  - 鳥本春樹
sensitive: true
rating: R18-G
content_warnings:
  - 被虐待児の心理
title: 定義
fictional_year: 2017
fictional_month: ND
fictional_date: ND
---
堅「俺のことは”堅”って呼んでくれないか」
堅「”篠原”って名前はもう捨てたいんだ」
鳥本「？」
鳥本「いいですよ」
鳥本「”捨てる”とは、思い切りましたね」
言葉に厳格な鳥本は見逃さない。そしてその問い方も精密だ。
鳥本「どうかされたんですか？」
堅「あぁ」
堅は鳥本の医者っぽいフラットさに救われながら切り出した。
堅「”篠原”は自分で名乗った偽名だったんだが、ほとほと嫌気が差してな」
堅「戸次に話したらひどかった」

—

堅「俺のことは”堅”って呼んでくれないか」
堅「”篠原”って名前はもう捨てたいんだ」
戸次「……」
戸次「いいけど」

戸次「なんで？」

堅「この名前が嫌になった」
堅はニヤッとしながら戸次に言った。
堅「昔を思い出すからな」
戸次が黙った。
堅「…父から離れたくて、気に入った響きの苗字を名乗ったんだが…」
堅「……なんというか……」
堅「今の俺にはもう要らない」
堅「”葛城”でいい」

戸次が青ざめていくことに葛城 堅は気づかない。

戸次「……。」


戸次「”篠原さん”って呼び続けちゃダメ？」


堅「あー…」
堅「良くはないな」
堅「気分は悪くなる」
堅があまりにも切れ味鋭く本音を述べた。
堅「”不快だ”っていう意味じゃないぞ」
堅「本当に具合が悪かったときの感覚を思い出すんだ」
堅が顔をしかめながら伝えた。
堅「お前が呼ぶからだってだけじゃないぞ」
堅「鳥本とか他の人にも呼ばれたくないんだ」
堅「むしろこっちのほうがいいだろ？お前にも」
堅「どうも俺のことは別人に見えているようだし」
自己同一性を保っているのは自分だと主張しているかのようだった。

戸次「……。」

戸次「いいの？」
戸次のまなざしが完全に影に覆われている……

戸次「そっちを残すの？」
そのまなざしはパピーミルをみるときと同じだ…..

堅「？」
堅「”そっち”って？」

戸次「”篠原”は自分で選んだじゃん」
戸次「….”堅”、って……」

親がつけた名だ。

堅「あぁ」
堅「どうでもいいかな」

堅「というか、俺はアイツのことを死ぬほど恐れていたが、」
堅「”親じゃなければよかった”って思ったこと、一度もないぞ？」

戸次「…..。」
戸次「なんで」
声が震えている。
堅「あぁ、」
堅「戸次、毒親がこどもによくいう言葉ってなんだと思う？」
戸次「”オレのいうこと聞け”とかじゃないの」
堅「違う違う」
施設育ちの堅が観測結果を述べた。

「”産まなければよかった”だ。」


「俺は言われたことがない。」


戸次「……」

戸次「そんなの、オレだってそうだよ」
強い語気で、父に家庭を捨てられた元こどもが否定した。

堅「でも俺のせいで俺の母親は死んだ」
堅は続けた。
堅「アイツは一生再婚していない」


堅「でも俺を育てたし俺を否定しなかった」


堅「”お前がいなければ時子は生きていた”なんて言わなかったぞ」

—-

鳥本「……。」
鳥本は考え込んだ。

鳥本「…そのあとはどうなったんです？」
堅「ん？ああ、アイツ帰っちゃった」

堅「”ごめん、体調悪い”っていってた」

鳥本「それはもう”あなたの話を聞くと気分が悪いです”としか…」
堅「だよなあ？」
鳥本の残酷な解釈に堅が同意した。
いつものように瞳は真っ赤なままだ。
堅「タイミング、ちょっとは考えてほしいよな」
堅「ひどいぞ、親のいいとこ言ったのに引くなんて」
堅は顔をしかめている。
鳥本「僕も、不思議には思います」
鳥本が率直に堅に尋ねた。
鳥本「僕には**堅さん**が葛城さんによってかなり苦しめられていたように見えます」
鳥本「どうしてそんなに好意的なんですか？」
堅「どうしてって…」
堅「...？」
堅「好意的かなあ？」
堅「他よりマシだなーって言っただけなんだけどな」
鳥本「ああ、すみません、そうでしたね」
鳥本は堅が過ごした場所のことを思い返した。
鳥本「堅さんは、ひどい親に苦しめられた子どもをたくさん見たんでしたね」
堅「ああ」
堅は鳥本の理解力の高さに安心した。
本当は戸次にこう言ってほしかったのに……。
堅「俺よりずっとキツいぞ」
堅「俺なんて要は”教育がスパルタでした”でしかないからな」
鳥本はなにも深掘りしないであげた。
“その教育が自殺を遂行せしめたこと”を堅自身が無視している。
そこを問うて意味づけを再起動させてやらない方がいい。
精神科医のような判断であった。

堅「…それに、もういいかなって」

鳥本「なにがですか？」
ふっと疲れたまなざしになった堅に、鳥本が続きを促した。

堅「もう”俺も怪物だ”ってことでいい」
堅が諦めて疲れ果てた顔で言った。
堅「ありのままになればなるほど好きだった人たちが遠のいていく」

堅「”そうなってほしい”と言っていたのはあっちなのに」


堅の瞳が黒く戻っていた。


いや、黒く染まっていた。



見つめていたのは空間ではなかった。




網膜に、脳に焼き付いてしまった戸次の表情だった。





「大事にすればするほど壊す……」