---
layout: layouts/scenario.njk
production_date: 2026-04-22
section: archive
category: scenario
viewpoint: 
persons:
  - 篠原堅
  - 戸次信長
  - 本田千和
sensitive: false
rating: All-Age
content_warnings:
title: 頼らずに済んだ方法
timeline:
  sort_key: 2026042201
  fictional_year: 2026
  fictional_month: 4
  fictional_day: 22
  phase: SHADOW
  routes:
   - fang
  status: fixed
  summary: 篠原堅があるニュースを読んだせいで体調を崩す。
---

2026年4月22日夜。千和と堅が仕事から帰ってきた。
戸次は接触恐怖症を克服できたものの、職探しまでさすがにもうちょっとバカンスを楽しみたいということで本田宅でごろごろしていた。
そのうち合鍵を作って戸次に渡そうということになっていた。
完全に擬似的な家族だ。

……堅の様子がおかしい。

戸次の眼前にも関わらず、べったり千和に背中から抱きついた。
千和の首筋に堅の吐息がかかる。
いつもなら必ず控えて裏で千和に触れるのだが。
何も気にしていないそぶりをしたが、千和はちらっと戸次に目配せした。

（なんかおかしいよな？）
（うーん…。）

何も聞かないでおいてあげた。

堅が仕事の休憩中、<a href="https://www.asahi.com/articles/ASV4M11LYV4MUHBI01YM.html">自分のトラウマを刺激される記事</a>を見てしまったからだった。
元兵士のPTSDを治療するため、ある国が幻覚剤の研究を推進するというものであった。
堅はすでに余計な知識まで身につけていて、自分が31歳の人生の大半をかけてPTSDの回復過程をなぞっていたことを理解している…。
