---
layout: layouts/scenario.njk
production_date: 2026-02-14
section: archive
category: scenario
viewpoint: 葛城正親編
persons:
  - 葛城正親
sensitive: false
rating: All-Age
content_warnings:
title: 読心能力者を殺す者
timeline:
  sort_key: 2010010101
  fictional_year: 2010
  fictional_month: 
  fictional_day: 
  phase: BLOOD
  routes:
   - fang
   - skin
   - presence
  status: fixed
  summary: 葛城正親が、恐れる特殊能力者について独白する。
---

私が唯一精神を読み取れない者がいる。

私自身だ。

実行したら私は無限ループに囚われて死に至る。

読心能力者とは絶対に出会いたくない。

互いに互いを読み合って相互崩壊するだろう。

40代になるまで遭遇せずに済んできた。

残りの40年、遭遇せずにいられるだろうか…。