---
layout: layouts/scenario.njk
production_date: 2026-06-04
category: scenario
phase: SHADOW
viewpoint: ND
persons:
  - 篠原堅
  - 戸次信長
  - 本田千和
sensitive: false
rating: Normal
content_warnings:
title: 重畳
fictional_year: 2026
fictional_month: 6
fictional_date: ND
---

戸次がついに働き始めた。

堅も千和も、戸次の帰還から長かったような、短かったような気持ちだった。

だが異変が起きた。


戸次の元気がどんどん無くなっていく。



帰還後でこんなにテンションが低い時があっただろうか。




夫婦で、寝室でこっそり会話した。

堅「明らかにへこんでいるが、どう話しかければいいか分からない」

千和「…あいつ、自分から愚痴なんていったことないよな？」
千和は帰還後の戸次の様子を振り返った。

堅「……そうだ……」

堅「…俺と付き合っている時もそうだった」

千和「そうなのか？」

堅「デートしていたから、とか、そういう理由だったのかもしれないが…」

堅「…俺と仲が険悪になった時期も、愚痴や文句なんかいわなかったぞ……」
千和「！？」

千和「嘘だろ」

千和「そりゃ嘘だ」
千和「兄貴が優しすぎておれなら”文句”判定するやつを許してるだけだろ？」
堅「あぁ、それはあるかもしれないな…」

堅「でも完全な自分都合の文句なんて聞いたことがない…」

千和「…うーん」
千和「そんなやついるかぁ？」
千和は児童養護施設で、人間のキツイ一面を見尽くしている。
善性というものを信じない。
堅「そうなんだ戸次は…」
堅は嘆きと痛みを抱えた眼差しを千和に向けた。

堅「あいつが俺に苦言をいうのは、常識的な内容だ」

千和は”意味わかんねえよ”という顔で首を傾けた。

千和「…”常識”ってなんだよ」
千和「そういうのおれは一番嫌いだけどよ」
“常識”側にいる人間がいかに自分たちを…苦しむ自分たちを無視して生きているか、千和は知っている。

堅はちょっと思い出した戸次の言葉、から…
…千和を即座に納得させられそうな例だけ抜き出して伝えることにした。
堅「例えばだ、」
堅「”真面目すぎる”とか”話題が難しすぎる”とかそういうやつだ」
千和「はァ〜〜〜？？」
千和「それが兄貴の良さだろうがよォ」
妻がやっぱりくだらねえなという顔をしてしまい、堅は合意形成に失敗したので渋い顔になった。
千和「まぁそんなにいうならそういうことにしといてやるよ」
千和は堅の言葉より表情をよっぽど信じるたちだった。

千和「…でも言やぁいいだろうがよ」
千和「おれたちなんだぞ？地獄育ちの？？」
千和「家族だろ？？？」
千和がしれっと男前なことを言った。
堅は深く同意してうなづきをしつつ……ぽろっと推論を言った。

堅「…俺たちを守ってるのかな」
千和「？」

千和「なにそれ」

千和「おれたちを？」
堅「いや、わからない」
堅「わからないまま言った、」
堅は言いつつ、ガツンと脳裏に浮かんだ光景があった。


戸次が堅の前で元気の無い様子を見せたことがあった。


ペットショップ絡みのことだった。
内容は、堅自身が秘密を守り続けているので分からない。
しかし、ともにペットショップを営む母親には絶対に打ち明けられない類の話だった。
堅にはどうしようもない構造的な問題でもあった。

そのときの戸次は建前と商業と倫理の矛盾に放り込まれた善性だった。

堅はふらっと思いついたことがあった。


堅「…戸次って……」


「死人がいない」


千和「ん？」


千和「…？？？」

あまりにも飛躍したキーワードに千和が唖然とした。

千和「なんだよそれ……」


千和「”死人がいない”ってなんだ？？？」


堅「あぁ、いや……」

堅「……不謹慎なことをいうぞ」

千和「どーぞ」
どうせ兄貴のいう”不謹慎”だから程度はしれている、と千和はちょっと笑っていた。

堅「”全部こいつのせいだ”って叩けるやつがいない」

千和「ええ？？」吹き出した。

千和「なんだよそれw」

堅「俺はクソ親父のせいにすればいいし、お前は”兄貴のせい”でいいだろ」

千和「えぇ？」篠原が父親にメンタルを壊されたのは明白として…

堅「”兄貴”というのは死んだお前の兄の方だ」

千和「あぁ」そっちのケンか…

堅「死人にはどうとでも責任をなすりつけていいだろ」

堅「…あぁ、俺の方のは生きてるが、なんというか……」
裏社会の人間だし…

千和「なんか言いたいことはわかったぞ」

千和「でも戸次はなんなんだよ？」

堅「戸次はこどもの頃、両親が離婚してしまったんだ」
堅「それから家の手伝いをしつづけている」
堅「父親とも、こっそり会っていて仲は悪くなかったらしい」
千和「なんだよいいじゃねえか」
千和「それがなんなんだよ」
両親健在など、堅にとっても千和にとっても理解不能な世界だ。
堅「手伝わされていた店は父親が始めたんだ」

堅「...”店を手伝わされて嫌だ、友達と遊びたい”なんてどっちに打ち明ければいい？」
千和は考え込んだ。

千和「……そりゃ母親だろ？」
千和「だめだろガキをこきつかっちゃ…」
堅「あぁ、すまん、言い忘れてた、」

堅「戸次の両親が離婚したのは、父親が浮気をしたからだ」
堅「戸次は見捨てられた母親をみてる」

千和「………」

千和「………じゃあ、父親……」
堅「父親の前で、母親を悪者にできるか？」

千和「………」



千和「…………」



千和「………うそだろ………」





千和が堅にしがみついて鎖骨に顔を埋めた。




堅は何も言わずに妻を強く抱きしめた。






堅に抱かれたまま千和が黙って泣いていた。









自分を消して親を支える。
千和が叩き込まれていた地獄だ。









戸次の子供時代はその二乗だった。