---
layout: layouts/scenario.njk
production_date: 2026-06-30
section: archive
category: scenario
phase: SHADOW
viewpoint: 
persons:
  - 篠原堅
sensitive: false
rating: All-Age
content_warnings:
title: 生きたくない
timeline:
  sort_key: 2026063003
  fictional_year: 2026
  fictional_month: 6
  fictional_day: 30
  phase: SHADOW
  routes: 
   - fang
  status: fixed
  summary: 篠原堅がスマホを家に置いて逃避する。
---

篠原は朝から頭痛が止まらなかった。

家で休もうかと思ったが、家にもいたくない気分だった。



どこかに逃げ込みたい気分だった。



限界を感じて、千和も戸次も連絡を取れないようにスマホを家に置いたまま外に出てしまった。


頭痛を抱えたまま、どこに行こうか悩んだ。


屋外は明るくて眩しすぎる。今の堅にはキツかった。


それでもどこかには行きたくて、大森駅から電車に乗ってみた。

行き先は決めなかった。

幸い空いていて、座れた。



鈍行の電車は南に進む。



どの駅でも降りる気になれなかった。



横浜駅についた。

かつて戸次がドアで連れてきてくれた場所だ。

降りる気にはやはりなれなかった。


なにも決めたり対応したくなかった。

しめつけるような頭痛は止まらない。

電車は南に進む。


堅は目を閉じて、眠ってしまうことにした。



軽く仮眠をとれた。
磯子についていた。

たまに電車が「磯子行き」と表示しているのをみかける。
相当遠くに来てしまった。


頭痛はマシにはなっていた。

それでも電車を降りたくなかった。



この電車がどこまで行くのか知りたかった。

しかし、スマホを携帯しなかったことが災いした。

電車の開閉ドア上部の表示に、路線図は掲示されていない。


仕方なくそのまま乗り続けた。




大船に着いた。

終点だ。



しぶしぶ電車を降りた。


どこなんだろう、ここは。



対応したくなくて、ホームにあるベンチに腰掛けた。




…これから、どうしよう。


何時なのかもわからない。

お腹は空いていた。


ホームから階段を上がってみた。
改札内にお店が並んだエリアがあるようだ。

銀だこやクロワッサン屋がみえた。


とにかく目に入った銀だこに並んで、たこ焼きを食べることにした。


たこ焼きの種類が多くて、選ぶのが億劫だ。
オーソドックスなものにしておいた。


銀だこのたこ焼きは表面が揚げられていてパリパリするのが特徴なのだが、
肝心の堅は銀だこ以外でたこ焼きを食べたことがない。


なんの感慨もなくたこ焼きのソース味を味わって、腹を満たした。


これからどうしよう。



休みたい。




そんな場所、あるんだろうか。



…横浜なら当てがあるんだが……



堅が思い出していたのは、戸次に連れられて入ったラブホテルだった。

照明が薄暗いので、今の堅にはありがたい。
なんならあかりを消してもいい。


時間は１２時代だった。
駅構内の時計で確認できた。

これならまた電車で戻っても時間はある。


行きは京浜東北線だったため時間がかかった。
今度は横須賀線で一気に横浜駅まで行ってしまうことにした。


平日だからか、横須賀線も座席がわずかに空いていて、座れた。
また眠った。



横浜駅に着いた。
頭は重いが、午前よりはだいぶマシだ。


堅は道順を思い出しながら、ラブホテルに向かった。
かつては、戸次に教え込まれてしまった「思考の停止欲求」を解消するため一人で利用したことがあったのだ。
今回は、ただただ文字通り休憩のために「休憩」サービスを使おうとしている。

部屋は結構埋まっていて、7000円台の高い部屋しか空いていなかった。
これでもかまわなかったので、部屋を選択するボタンを押して、受付で鍵を受け取った。


部屋の鍵を開けてドアを潜り、二重構造になっている玄関で靴を脱いで、荷物を…千和から贈られたボディバッグを床に放って、ベッドに倒れ込んだ。
照明を落とす。


……ひどい閉塞感であった。


堅はやっと自分が何に苦しんでいたか自覚した。


……誰にも頼れない。


千和には愚痴をいえない。

戸次も傷つけたくない。

鳥本はきっと気を遣う。

四方姉弟は遊ぶ仲だ。相談する仲ではない。

指宿さんも言っていいのかわからない。


……こうするしか……なかった………


何もかもから切断されている中で、堅はようやく息をついて体を丸めた。

頭痛は再び激しくなっている。



……ともだちがほしかったな……



堅は同学年の友達がいなかった。


年下の知り合いしかいない。


四方椿や指宿楓は異性の年上だ。気を遣う相手である。


…戸次が、うらやましい……。



堅はこれまでの自分の半生を振り返ってしまった。

………無理だ


誰かを信用するなんて、……無理だった



激しく、深い頭痛の中で、堅は目を閉じて、さらにそれを両手で覆って眠ることにした。

…寝た方がいい


こういうときは……寝た方がいいんだ………




…それが、孤独な篠原堅が辛い世界をやり過ごす、唯一の対抗策だった。