---
layout: layouts/scenario.njk
production_date: 2026-05-01
section: archive
category: scenario
viewpoint: 葛城正親編
persons:
  - 葛城正親
sensitive: false
rating: All-Age
content_warnings:
title: 無題
timeline:
  sort_key: 2015040101
  fictional_year: 2015
  fictional_month:
  fictional_day:
  phase: "BLOOD"
  route_type: common
  routes:
   - all
  status: fixed
  summary: 葛城正親の独白。
---

延金英一には同年代の友人がいない。

あまりにも同じレイヤーで対話できる若者がいなかった。

雑談をする知人はいたが、年齢は相手の方がはるか上だったようだ。

そしてそのまま20才で私の師となり、25才で封印された。

35年もの月日が流れ、延金英一の知人はみな年老いるか、死んだ。

私もそのひとりだ。

なので延金英一は、数十年間他者が覚醒を待ちわびたことの意味、それを駆動させた感情の強度を知ることはないだろう。

常人は人生を積み重ねる中で記憶を更新し、関係性の重心を変え、疎遠になった者のことは忘れ去る。

延金英一にそのことを痛感する機会は訪れない。
もしあったとしても、何者かと深い関係を築き、その後10年以上疎遠になるという経験をしなければならない。
時代の異邦人となった延金英一には難しい。

私の事を理解するのは、私の死後だろう。


それでいい。




私には、人を壊さないように愛することが出来ない。