---
layout: layouts/scenario.njk
production_date: 2026-08-03
section: archive
category: scenario
viewpoint: null
persons:
  - 篠原堅
  - 本田千和
sensitive: false
rating: All-Age
content_warnings:
title: ping
timeline:
  sort_key: 2020080101
  fictional_year: 2020
  fictional_month: 
  fictional_day: 
  phase: ABSENCE
  route_type: branch
  routes: 
   - fang
  status: fixed
  summary: 眠っている本田堅が本田千和に触られる。
dev_comment: |
  適応障害の療養が明け、リハビリのため半日だけ勤務しましたが
  頭痛とだるさがひどかったので書きました。
---

ようやく定職につけた堅。
新たな職場は奇遇にも大人しい人たちが多く、寡黙で馬鹿真面目な堅に向いていた。
とはいえ、堅には、いきなり集中して働くことは難しかった。
長いあいだ心の傷に耐えた末の社会復帰で、体力も集中力も、まだ戻りきっていなかった。

勤務先から帰宅した堅は、すぐ布団に倒れ込み、苦痛の表情で眠り込んでいた。
頭が重く、体も動かせなくてだるいようであった。

千和が手際よく夕飯の準備をしたのち、堅の隣に寝転がって配偶者を抱きしめた。

首筋から鎖骨の暖かさと硬さを感じる。

堅「......すまん　千和...」
千和「謝んな」
千和「面倒だからよ」

兄を、いや夫をこうしてあやすなど、千和には高校生以来のごく瑣末な生活動作だ。
なんのことはない。

これにかこつけて相手に触れて甘えられるのだから。

そして、世界が壊れるような緊急事態のとき、今の堅のように千和が塞ぎ込んだとき...
...いつでも堅が動じることなく千和を抱きしめて支えていることに
堅本人は気づかないのだった。