---
layout: layouts/photo.njk
production_date: 2020-12-31
category: photos
phase: BLOOD
viewpoint: 本田千和編
persons:
  - 本田千和
title: ローカライゼーション
fictional_year: 2014
fictional_month: 1
fictional_date: 1
image: main.webp
thumbnail: thumb.webp
---
