---
layout: layouts/scenario.njk
production_date: 2026-02-01
section: archive
category: scenario
viewpoint: null
persons:
  - 篠原堅
  - 本田千和
sensitive: false
rating: R18
content_warnings:
  - 性的な会話
title: 赦しのことば
timeline:
  sort_key: 2017030101
  fictional_year: 2017
  fictional_month: 
  fictional_day: 
  phase: FANG
  route_type: branch
  routes:
   - fang
  status: fixed
  summary: 篠原堅が本田千和に誘いの言葉を述べる。
---

千和と堅はベッドに横たわり、服の上から触れ合った。
散々今までも触れ合ってきたはずだったが、正対なんてしたことがないことに気づいた。
互いに目を合わせなかった。
それでも手を伸ばし続けてしまう。

どんな顔をしているかわかる気がする。
見ないほうがいい。
互いにそう汲み取って視線を外していた。

ただ肌に放射されてくる体温と、呼吸音だけを感じた。

互いに刺激を与えるような場所へ触れるのを回避していた。
言葉では合意したはずだった。
幼い頃から積み上げた10年もの時間、そうして形成された関係性を一歩踏み越えるのはあまりにも難しい。

結局いつも通りの構図に落ち着いてしまった。
堅は千和に手を伸ばさない。
千和は堅の胸、自殺未遂によってざっくりと傷跡が残っているはずの部位の上に手のひらを添えた。

しばし沈黙が続く。

堅が恐る恐る自分の右手を、胸元に添えられた千和の手に重ねた。
自分の手は冷たいはずだったが、千和の手もそうだった。

千和が切り出した。
「ヤるのか、ヤらねーのか、どっちなんだよ」

堅は言葉に詰まった。

切り出しておいて千和も黙り込んでしまった。

堅は千和の顔を盗み見た。

赤面していた。
しかめっつらで、自分の頭を預けた枕を睨みつけている。

堅にはわかっていた。
自分がリードしなければ…
それでも切り出す勇気がなかなか持てない。

戸次と体をつなげるときはもう一つ「問い」があった。
どちらが挿入するのか？だ。
堅はいつもそこで客体を選択して逃げ回っていた。

しかし千和は女性だ。
その問いの選択は固定されている。

先に進みたい。

戸次に教わった表現「抱きたい」を使うべきだろうか。

しかし、十数年間距離を保って、遠くから見守り、見守られてきた
千和の体内に侵入する。
この行為に対して、「抱きたい」という表現は誤魔化しに思えた。

ずいぶん長い間が空いてしまった。

しかし千和は待っていた。

堅は声を絞り出した。
「あぁ……その、”やりたい”……」
顔の皮膚に熱が集まりすぎて焦げ付きそうだ。

堅は気づいた。
取り繕わないほうがいい。

堅「”やりたい”というのも、言いたくはない…」

堅「本当の言葉の選び方じゃないだろ」

千和「なんだよ」
千和「じゃなんて言いたいんだよ」
堅は中学時代図書室に篭りがちだったことを千和は思い出していた。

堅「…気持ち悪い言い方していいか」
千和「いいよ」

堅「………なかに……」

堅「……いれてほしい………」

数秒の沈黙が流れた。


千和「いいよ」
千和「…待ってた」


堅「……」
千和「散々今までオレばっかお前ん中に入ってたから」
千和「｜能力《チカラ》使ってさ」
堅「…………」

堅は千和の胸に深く顔を埋めた。

堅「………」
堅「…………、……」

千和が顔を見ようとするが、堅は拒否した。

堅の頭を強く抱き締めながら、千和はゆっくり切り出した。
千和「…気持ち悪いなんて……」
千和「……誰かに言われたのか？」

堅「………こわいって言われた……」

千和「……戸次か？」

堅「いや……、……」
否定しようと候補者は一人しかいない。
堅「……そうだ……」

千和「だからアイツ嫌なんだよ」

堅「戸次の悪口は言わないでくれ」
堅「アイツに良くしてもらったんだ……」
千和「でもお前を傷つけてる……」
堅「いいんだ」
千和の胸に顔を押し付けながら堅は続けた。
堅「教わったことがいっぱいあるから……」
千和は黙って聞いていた。

千和「………アイツがお前なんかより知ってることなんて、あるかよ？」
千和「アイツは地獄を見たか？」
千和「地獄の中で生きてたか？」
千和「アイツに...」
千和の腕の中で堅がかぶりをふった。

千和「………」
千和「……ごめん」
千和「オレもアイツのことなんか知らないんだった」
千和「でも……」
千和「"こわい"は無えだろ……」

しばらくして堅がゆっくり千和の胸元から顔を上げた。
目が潤んで充血している。
しかし虹彩は元来の、黒い色のままだ。

堅「すまん」
堅「…今日はやめとく」
堅「千和の答えを聞いたら満足してしまった」
堅は穏やかな表情だった。少し眠たげだ。

千和「なんだよ、おい」
千和はニヤッと笑った。
千和「…分かったよ」
千和「いつでも来いよ」
どちらかから近づくでもなく、2人は唇を重ねた。
なんとなく落ち着く場所に頭を転がしたら、そうなってしまったかのようだった。