---
layout: layouts/photo.njk
production_date: 2020-01-26
category: photos
phase: BLOOD
viewpoint: 
persons:
  - 本田千和
title: グレイッシュ
fictional_year: 2016
fictional_month: 5
fictional_date: 
image: main.webp
thumbnail: thumb.webp
---