---
layout: layouts/photo.njk
production_date: 2019-09-23
category: photos
phase: BLOOD
viewpoint: 
persons:
  - 篠原堅
  - 本田千和
title: もしもし？
fictional_year: 2016
fictional_month: 5
fictional_date: 
image: main.webp
thumbnail: thumb.webp
---