---
layout: layouts/scenario.njk
production_date: 2026-06-13
category: scenario
phase: PROJECTION
viewpoint: ND
persons:
  - 延金英一
  - 戸次信長
sensitive: false
rating: Normal
content_warnings:
title: 職業倫理
fictional_year: 2016
fictional_month: 7
fictional_date: ND
---
延金が、ペットショップ リトル・フィートを訪れていた。
戸次と話すのはこれで三度目だった。

延金「なんで犬や猫をゲージにいれてるんだい？」
延金は店内を眺めながら問うた。
延金「ふつうはガラスケースなんじゃないかな？」

戸次はハキハキ答えた。
戸次「飼い始めたらみんなゲージ越しにこの子みるじゃないすか」
戸次「あと、ガラスケースなんかにいれるのかわいそうでしょ　お客さんの匂いわかんない」
戸次「この子達にとっても誰に飼われたいかって大事じゃないすか？」
戸次「あと、オレ感覚バグっちゃってるんですけど、この子達って”案外匂いする”から。」
戸次「これ知らずに飼い始めたら人間がきついじゃないですか？」

延金「.......。」


ペットショップリトル・フィートの見た目はゲージが並んでいて、偶然保健所に近づいてしまう...


延金（アホだ〜〜〜〜〜〜〜〜〜〜〜〜）
延金（これは売れねぇ〜〜〜〜〜〜〜）
延金（これは店傾く〜〜〜〜〜〜〜〜）


延金「…キミさ」

延金「競合他社の調査、したか？」
延金「そのへんの、駅前とか行ったか？」

延金「きれいなんだよ、お店」
延金「どこもガラスケースで展示してるよ」
延金「はっきり言って、ここみたいに汚らしくない」

呆れたように笑った。
延金「君、この店やめたほうがいいよ」

うっかり口を滑らせてしまった。
延金の悪癖だ。説教してしまう。
戸次は...

……何言ってんだこいつ、というまっすぐな目で延金を見た。

戸次「なんで見てないって決めつけるんすか？」
戸次「オレの特殊能力知ってるんじゃないすか？」

延金「え？」
延金「なんでそこにつながるんだい？」
戸次「オレってどこでも行けるじゃないすか」


戸次「この辺の店だけ見ても意味なくないすか？」


延金「.........。」
延金「悪かった」
延金「負けたよ」
延金「これは僕が悪いな」
延金「こんなに勝手に身辺調査しておいてこの決めつけは舐めてたよ」
延金「すまん」

延金「で、どこまでやったんだ」
延金「めちゃくちゃ聞きたいぞそれ」
戸次「え〜〜？」


戸次「都内？」
延金「都内かよッ」

戸次「やー　だってどこも同じじゃないすか　チェーン店すよ」
戸次「うちみたいな個人商店いってもしょうがなくないすか」
延金は唸った。その通りだ。

戸次「どこもおんなじ展示の仕方なんすよ、延金さんが言ったみたいな」
戸次「あとはペットフードとか玩具も売るとか？」
戸次「うちはそんなカネないんで」
戸次「もう展示の仕方と工夫で裏切るしかなくないすか？」
考え尽くしていたようだ。

延金「でも、これはどうだ？」
延金「失敗じゃないか？」
延金は店内の様子をふりかえらせるように手を差し向けた。
店内の風景は、正直みすぼらしい。

延金「売れないとどうしようもないだろ？」
延金「カネがないと次に行けないんだぞ？」
延金「畳むも広げるのも全部カネ次第だ」
延金「......わかってるんだろうけどな」

戸次のまなざしが影に覆われ始めた。
延金は直感した。
なんでこの説教は”効く”んだ？

戸次「......どうでもよくないすか」
戸次が力のない眼差しで続けた。


戸次「”だからパピーミル”なんでしょ」


延金は黙った。

ため息をついた。

その表情は険しかった。


普通なら正親にしか見せない表情だった。


延金「......それは、」

「さっき言ったことをやっぱり繰り返すことになるぞ」


「......店をやめたほうがいい」


「キミ、本当はどこへだって行けるだろ」


戸次「無理っすね」

力がなかった瞳にチラッと光が灯った。

戸次「オレ 好きなことしかしたくないんで」

すぐそばのゲージで、二匹の子犬がたわむれて、ころがっていた。

延金英一は戸次信長をじっとみつめた。

戸次は「ごく当然のことを言った」という顔をしている。


……延金はニヤッと笑った。

延金「キミ、カタギ向いてないな」

戸次は一番渋い顔になった。

戸次「それ、一番ダメッ」
戸次「一番効くッ」
戸次は小学生の頃から盗みの罪を友達に隠し通している...。

延金は笑い声を上げながら内心思った。

&emsp;<i>そりゃあ僕もだ！</i>

&emsp;<i>みろよ正親、ちったぁ見習えよなこいつを！</i>

延金はあとで記憶を読まれることを予見して、強めに念じた。

延金「じゃー諦めてFANGから仕事もらうんだな！」
延金は本格的にからかうモードになった。
延金「こっちの商売よりずっと”旨い”ぞ！」
えぇ〜〜〜〜？！と戸次が抗議の鳴き声をあげた。

戸次「篠原さんに嫌われるんすけど！？」

延金の笑い声がさらに大きくなった。

こいつ、ホントに堅くんの悩みわかってない！

延金「心配すんなって変なことはさせないから！」
戸次「それ変なことするヒトが言うやつじゃないすか！」
「やる気満々じゃないすか！！」

延金の笑い声は続く。
延金「これは約束するw、」笑いながらも延金が宣言した、

「パピーミルまわす連中よかマシな仕事しか回さない！」

なんすかそれぇ！！と戸次が叫んだ。

&emsp;<i>わかったか、正親？</i>

&emsp;<i>___いいよな？</i>

延金は再び、これから会うFANGのトップに脳内で念押しした。

その長の息子が交際させられているのはこの若者なのだが...。