---
layout: layouts/scenario.njk
production_date: 2026-04-25
section: archive
category: scenario
viewpoint: 
persons:
  - 篠原堅
  - 本田千和
sensitive: false
rating: All-Age
content_warnings:
title: 新月をみつめる
timeline:
  sort_key: 2017033001
  fictional_year: 2017
  fictional_month: 
  fictional_day: 
  phase: FANG
  routes:
   - fang
  status: fixed
  summary: 篠原堅が本田千和と横たわりながら、出会った頃を思い出す。
---

（篠原と戸次が「接触しないまま想い続ける」覚悟を固め、窓ガラスを一緒に見た日の後。

堅は千和に黙って戸次と背中合わせの逢瀬を続けてしまっていた。
千和は篠原の中に強烈に戸次が残り続けている事実を受け止め、篠原に黙って寂しい表情を浮かべていた。
あることがきっかけで堅が千和を蔑ろにしていたことに気づき、反省して千和と関係修復を試みる。）

千和と堅が一緒の布団に寝て見つめ合っている。
堅が千和を抱き寄せていた。
いつも千和が堅を抱きしめるのと逆の構図だ。
しかし…
千和「もしオレが壊れてたら……」

千和「………今兄貴に抱きしめられるのは嬉しかっただろうな。」

堅は至らなさを思い知った。

千和「おれは難しいぞ？」

千和「壊れてねえし欲しがりもしねえ」

千和「オマケに隙も無え」

堅「じゃあ隙がうまれるまで見張ってる」

堅「寝てても見張る」

千和「できんのかよお前に」

堅「お前にできるなら、」

堅「俺もできるだろ」

堅「………兄貴だからな」

千和は堅に背を向けた。

堅「おい……」

堅「………これじゃ寝てるのか分かんねえな」

千和「レッスンだ」千和の口元はニヤリと笑っている。

千和「おれの真似してみろ」

堅「お前の真似…？」

千和「忘れたのかよ」

千和「じゃあ失格だな」

千和「やっぱ兄貴はおれを超えらんねえよ」

忘れたのかよ。

堅は宙に視線を泳がせ……
…気づいた。

千和の背中に胸をつけた。
そのまま千和の体に腕をまわす。

千和「正解だ」

堅「………判定が甘過ぎる。」
堅は千和を強く抱きしめた。
千和「おい……」
千和「おれ、そんな強くしてない……」
堅「してた。」
千和「わかんねえだろチカラで感覚切ってたんだから」
堅「わかる。」

堅「…お前が力を中和していた」

千和「、」

堅の腕の力が強くなった。
千和のうなじに何か触れた。
吐息を感じる。
千和「っおい！」
千和「それは絶対してない！」
千和「おれはキスしてねえぞ！！」
堅「………」

堅「…………これがお前の力だ」

千和は言葉に詰まった。
うなじに堅の唇と牙が触れ続ける。

千和は赤面したまま体を丸めた。
恥ずかしかったからだったが、千和はすぐ別のことに思い至った。
………20歳の堅も同じ姿勢だった。

千和「……この姿勢………」
千和「すっげーー苦しいな………」
千和「……大の字になれって言えばよかった」
すぐ堅の胸から腹にかけての傷を思い出した。
千和「………無理か………」
堅は千和のうなじに触れ続ける。

千和「………」
堅はがっしりと千和を捕まえている。
………

………逃げなくて、いいのかな………

千和「おれ………」

千和「勝ちたい奴がいるんだ………」

うなじから堅の感触が消えた。

千和「………そいつ………」

千和「………おれからお前を取ったんだ………」

千和「………おれのほうが先に見てたのに」
堅の腕の拘束が緩んだ。
直後、引き締め直した。

千和「……いや………」
千和「違った」
千和「おれがお前から目を離したんだった。」
千和は一度堅を見放して鳥本のルームメイトになっている。

千和「捨てたのはおれのほうか……」

千和「………兄貴は辛いままだったのにな」

堅「千和。」

堅「自分の話をしろ。」

千和「？」
堅「主語を俺にするな。」

堅「……お前の話が聞きたい」

千和「おれの……」
千和「………おれの？」

千和「……わかんねえよ」
千和は黙り込んでしまった。
堅はそれを受け入れて、千和を抱きしめ続けた。
唇は千和のうなじにつけたままだ。

千和はおずおずと、聞きたかったことを切り出した。
千和「…おれは兄貴に聞きたかったことがある…」
堅「なんだ」

千和は、自分の腰に巻き付いている堅の腕に自分の腕を重ねた。
離されるのが怖かったからだ。

千和「……なんで戸次と付き合ったの」
堅は”ついにきたか”という感じの渋い表情をしたが、背を向けている千和にはわからない。

堅「…そうだな……」

堅はなぜ自分が戸次に惹かれたのか客観視を試みて、壊れた時代の記憶を引っ張りだそうとした。
しかし、いまや完全に封印している時期の記憶だ。
堅は苦しみ出してしまった。

千和「ごめん、話さなくていい」
千和「おれには関係ないし」
堅「あぁ…」
堅は千和のうなじに額を押し付けて、落ち着こうとした。


堅「……これは宿題にさせてくれ」

千和は不安でいっぱいの表情になった。心配している。
千和「いいよ、別に」
堅「やめないからな…」

堅「俺も知りたいことだからな」

千和「…わかった」
堅があえて自分を削るような行いなので内心やめてほしかったが、千和は了承した。

堅「…そうだ」
堅「戸次に指摘されたことがある」

堅「………俺は人格が2つあるように見えるらしい」
千和「？」
千和「なにそれ」

堅「多分、多分だがもっとだな…」

堅「3人……」
堅「いや、客観視してる俺を含めて4人………」

千和「どういうことだよ？」

堅「いまこうやってお前に自然体で話してるのが1人目」
堅「戸次さんや父の前で丁寧語を使って奴隷みたいになるのが2人目」
堅「戸次さんに高圧的に命令するのが3人目」
堅「……そいつら全員を観察しているのが4人目」

千和「………」
千和「分けて数える必要なんかあるかよ？」
千和「兄貴は兄貴だ」
堅がふっと千和の瞳をみつめた。

堅「………」
堅「…そうだな」
堅は自分の過度な内省癖を反省した。

堅「それはそうとお前は2人いる」

千和「え？おれ？」

堅「本当の自分を隠してるだろ」

千和「おれはおれだ、本音以外言わねえ！」

堅「あー、わかった、わかった」
堅「でも"母さん"のために人形になろうとしただろ？」
千和「……うーん……」

堅「………だから俺達のオブジェクトは血液だった…………」

堅「自分をモノ扱いしてたから………」
千和は、都合の悪い事実を突きつけられたような表情になった。
堅は改めて”妹”を強く抱きしめて、うなじを唇で愛撫した。


物置に”妹”を保護して、赤く染まった瞳をもつ互いを観測した日を思い出していた。