---
layout: layouts/photo.njk
production_date: 2022-05-14
category: photos
phase: PROJECTION
viewpoint: 戸次信長編
persons:
  - 戸次信長
title: 撮られるのが好きなオトコ
fictional_year: 2016
fictional_month: 4
fictional_date: 15
image: main.webp
thumbnail: thumb.webp
---