---
layout: layouts/scenario.njk
production_date: 2026-07-15
section: archive
category: scenario
viewpoint: null
persons:
  - 篠原堅
  - 本田千和
sensitive: false
rating: All-Age
content_warnings:
title: フィードバックループ
timeline:
  sort_key: 2026041402
  fictional_year: 2026
  fictional_month: 6
  fictional_day: 14
  phase: SHADOW
  route_type: branch
  routes: 
   - fang
  status: fixed
  summary: 本田堅が本田千和と話し合ったが叱られる。
---

寝室で千和とふたりきりになった堅。
堅「千和......」

堅「俺の一番は誰なのかわからない」
千和は寂しそうな目になった。
堅「目の前に辛そうにしている人間がいるとつい肩入れしてしまうんだ」
堅「すまん」
千和は目を逸らしてしまった。

堅「でも最後には…」
「いつもお前のところに帰りたくなる」

千和「……。」

千和「そもそも出かけるな」
堅「そうだな」
堅は苦笑いした。
堅「あともうひとつ、まずいことに気づいた」
千和「まずいこと？」

堅「いつもなら”おれなんかが一番になるわけねえだろ”とか言うなといってお前を抱く流れになる」
千和「…なってた」
期待を言い当てられて千和は顔を赤くしながらも肯定した。
堅「正直今も抱きたい」
兄の素直すぎる申告に妹が思わず吹き出した。
堅「しかしそうすると”千和が卑下する発言をするたびにご褒美を互いにあげる”ことになる」
千和「！！！！」
千和「そ、それはねえだろっ」
堅「でもどうしてもそういう構図になってる」
堅「お前がいじらしいことを言うたびに俺が抱きたくなってる」
堅「これはまずい」
たしかにこれはとんでもない。
千和「な…なんだよっ」
千和「どうしろって言いたいんだよッ」
堅「…うーん」
堅「確かに」
千和「おめーが変な人助けやめりゃいいだろッ」
千和「悩みの種自分で増やすなッッ」
至極真っ当な指摘に堅が笑った。
堅「すまん、そうだな」
苦笑いながら妹を抱き寄せたら、鼻筋を噛まれた。
千和「笑ってごまかすなッ」
"ゔーん"と、虎の呻きのような声が、渋い顔の堅から聞こえた。