---
layout: layouts/scenario.njk
production_date: 2026-06-04
category: scenario
phase: SHADOW
viewpoint: ND
persons:
  - 篠原堅
  - 戸次信長
  - 本田千和
sensitive: false
rating: Normal
content_warnings:
title: 過学習
fictional_year: 2026
fictional_month: 4
fictional_date: ND
---

戸次が異界を彷徨っていた恐怖から若干脱出してきていた。

ひょんな折に、戸次がうっかり口走ってしまった。

戸次「篠原さんって……」
戸次「テクやばくね？」

千和が即座に重たい蹴りを戸次に叩き込んだ。
戸次「え？！？なんで！？！？なんで！！？なんでっっっっ」
千和「うるせえカスが理解もすんな！！！！！！！」
堅は、”もうこれは二人がどういう展開の諍いを起こそうと恥ずかしいことになる”と直感し頭を抱えた。
戸次「ひどぉい」
千和「だ・ま・れ」
戸次は飼い主には逆らえずお口チャックした。
戸次は推論エンジンがプアなのでこの状況を考察しようとしない。
千和は顔が真っ赤だ。否定の言葉を発しない＝実質肯定であるとわかってしまっている。

千和「あ、兄貴大丈夫かよ」
千和「悶絶してるじゃねえか」
夫の様子を気遣うことで無理やり自分から注目を引き剥がしにかかった。（誰の注目だというのか。）
堅「うん…」


堅「むっつりスケベなのを看破されて恥ずかしさで死にそうだ…」


戸次/千和「…………。」
戸次/千和（…………？？？？）


千和（"真逆”、だよな…）
戸次「え？オレ篠原さんから誘われたことないよ？」
千和（戸次信長💢💢💢💢💢💢）
千和（黙れ戸次信長💢💢💢💢）
堅「………」
堅（"むっつり"だからこそそうするんだろう…）
堅（千和がいるせいで応答も議論も不能だぞ…（ぐぬぬ））
議論て。
千和は額に青筋をたてたまま目を瞑って黙り込んでいる。
千和「……いや。」

千和「兄貴は紳士だろ。」

千和「テクがすげーってのは、兄貴はなんだって出来るっつーことだ。」
千和「ホントのむっつりスケベはこいつだ」戸次を指さす
戸次「むっつりじゃないよ？」
千和「そうだったなッ💢💢」
千和「テメェは性欲を隠せッ💢💢」
堅（"無くせ"じゃなくていいなんて、千和は優しいなあ）
堅（………何言ってるんだ俺）
