---
layout: layouts/scenario.njk
production_date: 2026-06-29
section: archive
category: scenario
phase: PROJECTION
viewpoint: 
persons:
  - 篠原堅
  - 戸次信長
sensitive: false
rating: All-Age
content_warnings:
title: オレと居て
fictional_year: 2016
fictional_month: 5
fictional_date: 30
timeline:
  sort_key: 2016053001
  phase: PROJECTION
  routes: 
   - fang
   - skin
   - presence
  status: fixed
  summary: 初めてのデートで訪れたラブホテルにて、戸次が篠原に問う。
---

「そんなに読まれんのが怖いの？」

ラブホテルの一室に落ち着いた。

戸次と篠原は薄暗い照明の中、ソファに隣り合って座った。

戸次はゆったりとソファによっかかっていた。
篠原はソファの端に浅く腰掛けていた。
硬直した肩で、両手を膝の上に乗せている。

緊張していた。


「……今日遊んだ記憶も盗られたくない？」


戸次は篠原に問うた。

篠原は答えかねている。
今日の出来事はつけ込まれうる弱みになるのだろうか？

戸次はどこかさびしそうな、悲しそうな顔で篠原をみていた。
だが、床に視線を落としている篠原は気づかない。

今、戸次の顔を見たくはなかった。
自分が父に対して反抗する意思の表れになってしまうことを恐れた。
敵として父を認識する戸次の顔を、父に見せつけたくもなかった。

篠原「…わかりません」
篠原「どう扱われるのか、予想がつかないです。」

篠原は”たった今FANGトップに盗み聞きされている”とみなして、慎重に表現を選んだ。

戸次「…ふーん…」


戸次「…ねえ」
「みて」

篠原が促されて、恐る恐る視線を戸次の膝に移動させた。
戸次が何か差し出した。

…メモ帳だった。
ホテルのテーブルに備え付けられていた。

戸次「ちょっと落書きしたんだけど」
戸次「何描いたか当てて？」

一体いきなり何を始めるのだろうか。

戸次はぱらぱら漫画の要領でそれをゆっくりめのスピードでめくった。

白紙のページが続く。

紙のぱらぱらとした音が聞こえる。

途中で他の客が描いたとみられる低俗な落書きがあった。篠原は無視した。

ページはめくられる。

…メモ帳の末尾だ。終わった。

戸次「どう？」

戸次「何描いてあったかみえた？」

篠原「わかりませんでした」
戸次「！！！嘘でしょ！？！？！？」

戸次「えっちょっともう一回行くよ？！」
戸次がもう一度最初からメモ帳をめくった。
白紙が続く。
ちらっと他の客の落書きが通過した。
白紙が続く。
おわり。

戸次「…。」
戸次「どう」
篠原「……。」

篠原「…もしかして途中にあったやつですか」
戸次「そうだよッ！！？」
戸次「描いたっていったじゃん！？！？」
篠原「…まさかこれだとは思いませんでした」
戸次「なんでっ」
戸次「なんでウンコがウケないッ！？！？」
戸次「こんなにウケないのッ！？！？」
篠原「すみません。」
まさか真面目な雰囲気でウンコの落書きをみせられるとは思わなかったのだった。
戸次「マジメかっ」
戸次「オレウンコ描いてスベッただけっ」
戸次「じゃない、そういう話じゃなくてッ」

戸次「篠原さんこれでいいの！？！？」

篠原はフリーズした。

戸次「そりゃプライバシー侵害されまくるの嫌だけどさッ、」
戸次「……これじゃ辛いじゃん」

戸次「…いつも何も見ないようにしてキツイ思い出だけ入れるとかさ」
戸次「そりゃこれならリベンジになるけど…」

戸次「……篠原さんいつ楽しいことすんの」

篠原は頭を殴られたような感覚を覚えた。


戸次「…だったらオレと居て？」


激しい頭痛の中、戸次の告白が篠原の胸を詰まらせた。

戸次「居てよ」

戸次「オレいいとこいっぱい知ってるから」


戸次「楽しいことで埋めるほうが読むの大変になっていいんじゃない？」


篠原は頭がクラクラしてきた。


戸次「…読まれんの怖かったら、オレが隣にいてあげる。」

「オレは思い出ありすぎて逆に頭パーだから」

「読んでもわけわかんないと思うし？オレもどーでもいい」

「別に行きゃ同じ遊びできるし？」

どうやら戸次は、「遊びに行った楽しい街の思い出」を読まれることしか想像できていないらしかった。