---
layout: layouts/scenario.njk
production_date: 2026-04-02
section: archive
category: scenario
viewpoint: 葛城正親編
persons:
  - 延金英一
  - 葛城正親
sensitive: true
rating: R15
content_warnings:
  - PTSD／児童虐待の記憶想起
title: 蔵の中
timeline:
  sort_key: 1976080501
  fictional_year: 1976
  fictional_month: 
  fictional_day: 
  phase: "NULL"
  route_type: common
  routes:
   - all
  status: fixed
  summary: 延金英一におぶられた葛城正親がフラッシュバックに叩き起こされる。
---

どういう経緯かは忘れてしまった。
うとうとしてしまった正親は、延金におぶられた。

延金は正親のために建てられた住居の廊下を、寝室に向かって移動する。
延金と正親の二人以外、誰も利用しない住居。
余計な記憶が一切しみ込んでいないオブジェクトだ。

延金の背中が温かく、大きい。
正親は延金の身体感覚を読み取った。

背中に小さく、軽いものが乗っかっている。

まさか。これが自分だというのか？

そして同時に、この小さいものを背負っている人間の慈しみの気持ちも読み取った。


安心感の中で眠気が増し、意識が消えようとしていた。


正親は目を見開いた。

到底こどもがする目ではなかった。

その眼光は仁王のものだった。
阿形と吽形がともに表す瞳。



正親は蔵で最後に読んだ記憶を思い出した。