---
layout: layouts/scenario.njk
production_date: 2026-06-11
category: scenario
phase: FANG
viewpoint: ND
persons:
  - 篠原堅
  - 戸次信長
  - 本田千和
sensitive: false
rating: Normal
content_warnings:
title: 境界と波
fictional_year: 2017
fictional_month: ND
fictional_date: ND
---

LINEだけでやり取りするようになった戸次と篠原。
戸次が限界を迎えた。

会いたい、と反則のメッセージを送ってきた。

戸次は本田宅のドアをチカラに登録していない。

戸次にドアの前に座るよう促した。
篠原は自分の家のドアの前に座り込んだ。

篠原:今どういう姿勢だ
戸次<<ドアの前に座ってる>>
篠原<<ドアに頭をつけろ>>

篠原<<今ドアを撫でてる>>

篠原<<影を撫でてくれたお返しだ>>

戸次は赤面しながら目を閉じる。

暗闇の廊下で篠原はドアを愛おしげに撫で続けた。

……と、バチっと廊下の電気がつけられた。

千和「兄貴、なにやってんの？」

堅（千和……！！）
堅「あ、あー、これは、、その……」
浮気現場を見られたようで気まずい。
堅「なんていったらいいか………」

千和「なーーんか怪しいな？」

千和「白状しろ」

堅は観念してスマホの画面を千和に見せた。

千和は堅をじろっと睨んでほっぺたをつねった。

千和「引導渡してやる」
千和「堅、これから一言も喋るな」

千和がLINE電話を起動した。
スピーカーをオンにする。

戸次"篠原さん？！"
本田「おぉい戸次信長」
戸次"...."
本田「未練がましいんだよ」
篠原はなんとも言えない表情で黙って見守る。
本田「いい加減元カレ諦めて次いけ次」
戸次"それは〜……"
戸次"ハイ……"
本田「お前が兄貴を世界で1番愛してる男だってのは知ってる。」
戸次"......"
本田「1年近く兄貴の姿を目に入れずに自制したイカれっぷりは買ってやる」
本田「だがな」
本田「おれの方がよっぽど篠原堅を愛してる」
本田「お前なんかよりずっと強えし、死ぬほど思慮深ぇし覚悟もある」
本田「ついでにお前なんかよりテクもすげえ」
本田「毎晩兄貴をよがらせてお前に抱かれた記憶を絶賛上書き中だ」
堅は吹き出すのを堪えた。実際は毎晩二人で抱き合って眠っているだけで性交はしていない。
戸次"……わかった〜..."
戸次"それ聞いて安心した〜……"
戸次"千和ちゃーん…"
本田「本田」
戸次"あ、本田さぁーん……"
戸次"本田さんオトコだよね？？？"
本田「オンナだおれは」
本田「世界で1番篠原堅を愛してる女だ」
本田「ついでにいうと篠原堅を愛し始めたのも世界最速だ」
本田「テメェは勝てねえ」
戸次"最速？"
戸次"いつスキになったの？"
本田「1998年」
堅は千和のふかしっぷりに含み笑いが止まらない。
兄妹が出会ったのは2003年だ。1998年は千和が生まれた年だ。
即答できる年を答えたな？
戸次"マジぃ？"
戸次"オレ去年（2016年）だよ？"
戸次"全然遅いね？"
本田「そういうことだ 分かったか馬鹿」
戸次"はぁ〜い…"

戸次"ねえ本田さん、篠原さんそこにいる？"
本田「ああ」
本田「この会話全部聞かせてるぞ」
戸次"マジ?ww"
戸次"じゃあ篠原さんに伝えたいことあるんだけど…"
本田「…………」
本田「特別に許す」
本田「特別な」
戸次"ありがと"
戸次"篠原さん………"
戸次"篠原さんの好きなとこいうのにさ………"
今まで筋肉とか肩とか歯がエロいとかいってたけどさ………
全部オマケだった……
1番好きなとこ分かったよ……

声

自分のことを隠さないと怖くてしょうがないはずなのにオレに向けてくれた声がすき…………
普段は低くて静かだから違う声出させたくなっちゃった………
上手くいったらめちゃくちゃエロくてもっといじめたくなっちゃった……”

本田が額に青筋を浮かべている。テメェは「エロい」以外の褒め言葉はねえのかよッ

篠原は千和の耳元で囁いた。
篠原「メモ取ってくる」

篠原<おれもお前の声が好きだ>
篠原<千和  これをいい感じの悪口にしてくれ>
本田「"今更気づいたかボケ  もう遅い  お前に声なんか聞かせない"って言ってるぞ」
篠原が声を殺して笑ってしまった。
戸次が文字起こしできない音声の嘆き声をあげている。

篠原<千和  お前の声も好きだ>
本田「はあ？」
本田「おい」凄んだ
本田「どっちの方が好きなんだよ」
本田「おれと戸次の声」
本田「どっちの方がいいんだよ？」
篠原は深く悩み、お手上げだという感じの仕草をした。
やや赤面しながら。