---
layout: layouts/episode.njk
production_date: 2021-05-05
category: episode
phase: BLOOD
viewpoint: 本田千和
title: いつでも抱いてやるからよ
summary: 兄貴にボディバッグを贈った。いいツラだ。
thumbnail:
page_count: 4
timeline:
  sort_key: 2014050501
  fictional_year: 2014
  fictional_month: 5
  fictional_day: 5
---