---
layout: layouts/scenario.njk
production_date: 2026-08-15
section: archive
category: scenario
viewpoint: 葛城正親編
persons:
  - 葛城正親
sensitive: false
rating: All-age
content_warnings:
title: 照準器
timeline:
  sort_key: 2016050502
  fictional_year: 2016
  fictional_month: 5
  fictional_day: 5
  phase: PROJECTION
  route_type: common
  routes: 
   - all
  status: fixed
  summary: 葛城正親が、篠原堅から戸次信長の観察報告を受ける。
---

引越し業者のアルバイトから帰還した堅の報告を聞いた。

出勤時、事務所のロッカーから突然出現したようだ。

引越し業者の社長からは、事前の面接で「遅刻しそうになったらそのドアを使ってもいい」と冗談混じりにドアへの接触を許したと聞き及んでいる。

その後も許可なく能力を使用して、堅と上司に飲み物の差し入れをしたという。

4月の指宿楓との面接時も、自身の特殊能力を誇らしげに見せびらかしていた。

戸次信長の生い立ちから、特殊能力を隠し通して生きてきたことが窺える。

特殊能力は、彼の犯罪歴との結びつきが強いからだ。

「特別な自分を誇示したい欲望」を押し隠していた分、「能力を人前で使って良い」という開放感を覚えやすいだろう。

一方で、不可解な点もある。

戸次信長は、嘘をついて帰り道に堅についてきたという。

堅はこの事案に恐怖と混乱を覚えて、延金と私にメールに重ねて口頭報告した。

堅自身はその理由がわからず、強い警戒心を抱いている。

私の見立てでは、戸次信長は堅に心惹かれている可能性が高い。

戸次信長は両性愛者であることを窺わせる自己紹介を、堅に対してしていた。

堅が恋愛対象に含まれうることを示す情報である。

堅はその発言に注意を払わなかったため口頭で報告しなかったが、記憶を読み取って発覚した。

記憶によると戸次信長は、上司よりも堅に対して圧倒的に高い頻度で話しかけてもいた。

堅の個人情報や嗜好を引き出せるような話題を提示しつづけ、結果として戸次信長の情報が堅に筒抜けになっていた。

私が戸次信長の実家の履歴を読んで組み立てた仮説が的中した。

戸次信長が好む交際相手の特徴に、堅が適合した。

堅は戸次信長に対する自分の興味を、私や延金に対して押し隠している。

戸次信長に対して、能力を外で使わぬよう釘を刺したことを口頭報告しなかった。

延金から事前に戸次信長の生い立ちを聞いた時に抱いた疑問が、本人と会ったことで肥大化している。

次回のバイトにおける戸次信長のふるまいには注意を払う。

きっと堅は彼を今日以上につぶさに観察し、いずれその記憶が私に流れ込むだろう。

私の望みいかんに関わらずだ。