---
layout: layouts/scenario.njk
production_date: 2026-06-13
category: scenario
phase: PROJECTION
viewpoint: ND
persons:
  - 葛城正親
sensitive: false
rating: Normal
content_warnings:
title: 仁王の眼前
fictional_year: 1990
fictional_month: ND
fictional_date: ND
---

池上本門寺を、葛城正親と北条時子が散策していた。

葛城の館の近所にある、大きな寺だ。

九十六段の石積参道からなる此経難持坂の上に登り切ると、開けた場所に建つ大堂がみえる。

大空に見下ろされる寺だ。

…その境内に、まったくの逆方向にあるなだらかな坂から入場するので、二人は「末法の世に法華経を受持することの至難」を表現した石段の苦しみを味合わぬまま寺の姿を眺める。

そして仁王門を出ていく形で寺を後にする。


邪道かつ逆走である。


…と、

「あなた、お待ちになって」

時子が立ち止まり、門の脇を固める仁王像に歩み寄った。


と思ったら立ち止まった。


じっと仁王像を見つめている。


と思ったら自分の立ち位置を変えた。


何かを確認するかのように、自分の斜め後ろの地面と仁王像を見比べている。


始まった。


帰宅したら俺は一体何を”読まされる”のだ______。


正親は戦慄した。


その場で時子に尋ねればいいものを、正親は尋ねない。

他人に集中を壊される不快感と腹立ちを理解してしまっているがゆえであった。

観念した表情で挙動不審な時子の後ろ姿を眺めていた。


帰宅するとすぐ時子の興奮が雪崩れ込んできた。


<i>&emsp;あの金剛力士さん、すぐ手前の地面をみていてちっとも道の中央を睨んでいないじゃない。

&emsp;これじゃあお寺に入る人たちを監視できないじゃありませんか。

&emsp;でもみんな気づかずに”この人たちは私たちを睨んでいる”と思い込んでいますでしょ？

&emsp;可笑しいったらありませんわ〜！</i>


そ、そうか……。


正親はこの世の全てに主体的に何も感じることができないこどもであったが、
時子の”せいで”、いや”おかげで”芸術品という人工物の可笑しさに同行させてもらうことだけはできたのだった。