---
layout: layouts/photo.njk
production_date: 2020-04-16
category: photos
phase: BLOOD
viewpoint: 本田千和編
persons:
  - 本田千和
title: 反射
fictional_year: 2015
fictional_month: 
fictional_date: 
image: main.webp
thumbnail: thumb.webp
---