---
layout: layouts/scenario.njk
production_date: 2026-06-19
category: scenario
phase: PRESENCE
viewpoint: ND
persons:
  - 葛城正親
  - 篠原堅
sensitive: false
rating: Normal
content_warnings:
title: 審判
fictional_year: 2017
fictional_month: ND
fictional_date: ND
---
正親が堅に告げた。

「父と同じく怪物になる」と自己を決めた堅に。

「……」


「いいだろう」



「成るがいい。」



「護るのが疎ましければ、壊せ。」




「お前のやり方で。」




「だが本当に成れるかは関門がある。」




「”意図して壊せるか”だ。」




「…それが出来れば、お前を認める。」




「”私を超えた”とみなす。」




「……その時が　私と再び死合うときだ。」




堅「......」




堅「…”悪気はなかった”、と、言いたいのか」



正親「.....」


正親「そうだ」



正親「これが私の怪物性であり、人間性だ。」




正親「お前にできるか。」



______人を壊すことが。



堅「.........。」



堅は目を伏せた。

堅「.........。」

…長考するかのように閉じた。


心を読む怪物の、手のひらの上で。


なにも思考を走らせなかった。


心を読まれない技術を身につけた、己の身体の応えに賭けた。



「…….。」



堅「やめる。」
堅が目を開いた。


その瞳を父に向けた。


堅「それがお前の世界の見方なら、……」

堅「…俺はその先に行く。」

堅「…お前には理解できない領域に」


その瞳は灰色だった。