---
layout: layouts/photo.njk
production_date: 2024-08-01
category: photos
phase: PROJECTION
viewpoint: null
persons:
  - 篠原堅
  - 戸次信長
title: オレたちに明日はない
fictional_year: 2016
fictional_month: 8
fictional_date: 
image: main.webp
thumbnail: thumb.webp
---
