---
layout: layouts/scenario.njk
production_date: 2026-06-03
category: scenario
phase: SHADOW
viewpoint: ND
persons:
  - 延金英一
  - 篠原堅
sensitive: false
rating: Normal
content_warnings:
title: 自由意志
fictional_year: 2026
fictional_month: 7
fictional_date: 7
---

“西村 英一”という表向きの名前を得た延金が、篠原 堅…いや、本田 堅と二人きりでいた。

本田はふと気になっていたことを延金に切り出した。

本田「…父のことなんですが」

延金「なんだい？」

本田「…いつから特殊能力者だったんですか」

延金は沈黙した。


ついに来たな____。


延金「…5歳だ」


本田は黙ってうなづいた。

本田「……そうだろうと思っていました。」

延金「そうだろうってなんだい？」

延金はうっすら本田の悪癖に気付きながらも問うた。

本田「でないとあんな怪物にはなれないと思いました。」

父を批判する。

昔の堅なら口にするどころか思考すら恐ろしかったことだ。

延金「…怪物、か…」

延金の脳裏に浮かんでいるのは、当然2026年現在の葛城正親ではなかった。

延金「…僕も苦労させられたよ」

延金「大人の裏をかきつづけるからな」

堅には延金が1955年生まれであること、そして葛城正親の家庭教師を務めたことを開示してある。

それでも延金は正親の秘密を守った。


正親の人生が、圧縮された拷問の記憶による精神破壊で始まったことは告げたことがない。


延金「……堅くん」

延金「君は悪い癖があるよね」

本田「……なんですか」

昔なら機械的に「はい」と応えて服従してしまっていたであろう場面だ。

延金「人の都合を考えすぎだ」

延金「言っとくが、」


「どんな想像をしようと、

正親と僕のことは一生赦すなよ。」


本田はじっと延金を見つめた。


延金「そこは絶対に間違えるなよな。」


本田は延金から目を逸らした。


本田「……それすら俺に決めさせてくれないんですか。」

今度は延金が本田の横顔をじっとみた。

本田が見つめ返した。

本田「相手にすらしていなかったです。」

本田は…篠原堅は、彼にしてはめずらしく、冷めたように目を細めたのち延金に背を向けて立ち去った。


残された延金 英一は、その背中を見送ったのち、ため息をつきながらタバコを一本取り出した。

「…君が正しい」


「これはエゴだったな。」
