---
layout: layouts/scenario.njk
production_date: 2026-05-13
section: archive
category: scenario
viewpoint: null
persons:
  - 篠原堅
  - 戸次信長
  - 鳥本春樹
sensitive: false
rating: All-Age
content_warnings:
title: 寝てた方がマシ
timeline:
  sort_key: 2017041801
  fictional_year: 2017
  fictional_month: 4
  fictional_day: 18
  phase: PRESENCE
  routes: 
   - presence
  status: fixed
  summary: 鳥本春樹が、異常に陥った篠原堅を目撃する。
---

鳥本は結構篠原と雑談をするようになってきた。
内容は他愛も無さすぎてよく覚えていない。

これ自体が異常事態だった。

鳥本は常々発する言葉を設計していた。

「何も考えなくていい」という会話の場が人生で無かったのだ。


そんなある日のことだった。


鳥本「……………。」


鳥本「…………………。」



見たくない光景が広がっていた。



篠原が最悪の状態になっていた。


（………………。）


（……………これは、難しい………………）


（…………分からない……………）



（……………無理な気がする………………）



（………………だめだな……………）



（……………正解、が、わからない…………）



（…………こんなに"閉じこもっている"人間を見たことがない……………）


（……………"他者意識"すらない……………）


（…………最悪だ）


（…………僕だけが理解できるとは）



！


（違うな）


（これは僕では無理だ）


ギブアップした。


（……………）

（最悪だな）


（こいつに頼るとは）


（でも他に手がない）


（というかもう切れる手がこいつしかない）


（無理だ）


（というか、こいつが対応すべきだ）


（こいつが元凶だったんだ）


（償いをすべきだ）


鳥本はゆっくりとその場を離れて適当な場所で壁によりかかり、LINEを開いた。


最悪に腹立たしいが最悪に使えるやつのトーク画面を開いた。


戸次信長だった。


'''お疲れ様です。

急にすみません
篠原さんをどうにかしてくれませんか
僕では無理です
みてもらえば分かります。
'''

鳥本はLINEのメッセージを送信した。大抵の人は短文やスタンプを送り付けるが、鳥本は長文になりがちだ。馬鹿向けのツールは鳥本を弾き出す。


（反応なんて来るのやら）


鳥本は篠原のほうをふっと見た。


（………電話すればよかった）


（癪だから嫌だ）

と直後、電話がかかってきた。
鳥本は通知画面をみて舌打ちした。

鳥本「もしもし」
<<もしもし>>
<<いまどこ？>>
鳥本は意図を察知して相手が1番理解しやすそうな方法で伝えた。
しかしイライラが止まらない。
たかが1歳差でこの舐められようが気に食わない。
…と、"年下にタメ口で親しく接してくれるタイプの人もいる"という自分に都合の悪い常識を鳥本はフルで破棄してイライラしている。
<<あーーわかんない>>
<<そのへんあんま行ったことない>>
<<なんかないかな>>
だろうな、ここは文京区だ。
お前のような馬鹿は来ない。
<<駅とかない？>>
鳥本「白山なら…」
<<しらやま？>>
<<なにそれ>>
"どこそれ？"でも"何線？"でもない聞き方に鳥本は狂烈にイライラした。
今助けようときている相手は1番誠実に言葉を使う。
理系ゆえ鳥本はその貴重さを理解していた。
一般的な直感に反するが、言葉の定義には理系も敏感なのだ。
鳥本は怒りのあまり思わず頭痛を覚えながら目を閉じた。
数秒沈黙した。
<<……>>
<<もしもし？>>
鳥本が目を開いてサッと辺りを見渡した。
<<もしもし？>>
鳥本の横3m程遠くに設置されていたマンホールが消失した。
鳥本「………」
鳥本「あなたが使えないと分かって絶句してました」
スマホからはなんの音も聞こえなくなった。
怒りは収まらないしもう1発何か消したかったがギリギリ持ちこたえた。
鳥本「来られないでしょう」
鳥本「電車で乗り換えが要ります」
凄まじい見下しっぷりがバレバレな表現に鳥本本人が気づいていない。
鳥本「せいぜい頑張って来てください」
鳥本「せっかくですから教えておきます」

「倒れる前の篠原さんは常に目を合わせませんでしたね」
「最近の篠原さんは目を合わせますが目は真っ赤でしたよね」
「今の篠原さんは目を合わせないかつ目が真っ赤です。」
「これで何とかできるならやってみて下さい」
「僕はもう知りません。」
「あなたのせいです。」
戸次が何か言う前に鳥本は電話をブチ切った。

---

「サイコパス？」
「お前が？」

篠原が真っ赤な目を鳥本に向けてきた。
きょとんとしている。

「そうかなあ？」

どこか空をみつめて考え込んだ。
青空が広がっている。
それを夕焼けで濃く染めあげられたような瞳が眺めていた。

「………違うと思うけどな」

本当に心底不思議そうだった。

鳥本「そうなんですかね？」

その様子が逆に不思議だった。
こんなことに疑念を抱く者など初めて見た。

篠原はなお考え込んでいる。

篠原「うぅん」

篠原「なんか妙だな」

何が妙だというのだろう。


鳥本はその様子をしげしげと眺めていた。
このモードに入った篠原はいつも面白いことを言うと知っていた。

篠原「………」

篠原はスマホを弄り出した。
多分なにか調べている。

篠原「あった」

篠原はスマホ画面を鳥本に差し出した。

Wikipediaの記事だった。

"<a href="https://ja.wikipedia.org/wiki/%E7%B2%BE%E7%A5%9E%E7%97%85%E8%B3%AA">精神病質</a>"
サイコパスの正式名称だ。

篠原「なぁんだ」
篠原「全然お前に当てはまらないじゃないか」
篠原がみていたのはチェックリストだった。
篠原「ほんの数個だ」
篠原「これなら誰だって引っかかりうるぞ」
篠原「理解不能な人間に理解不能なラベルを貼ってるだけじゃないか」
篠原は鳥本を"サイコパス"と評した人間に呆れた。
篠原「こんなことをしているなら愚かなままでも仕方がないな」

---

篠原「本……？」

「……いや……」

「好きなんだなぁと思っていたが………」

好き？


僕がですか？

「ああ」

「じゃないとこんな量の本を読むわけがない」

「しかも小説なんて段々パターンが見えてきていいはずだろ」

「何だってそうだが」

「売り物だから」
「なんでもいいから人をすっきりさせないといけないだろ」

「歴史ならいいんだがな」
「オチがないし意味もないから」
「それでいて理解した気になるのが危険だし」

………
………そういうものですか

「ああ」
「小説ならある程度望まれる読解の結果があるが、歴史はそういうのが設計されてないからな」
「どう解釈してもある意味不正解だ」
「でも小説だと、読んだ人間が気持ちよくなれるような読解の結果を設計しなきゃいけないだろ」
「その結果ストーリーがパターン化されて、それが"ジャンル"になる」
「"ジャンル"ごとでストーリーのパターンがある程度決まってくるから、大量に読んでたらいずれ飽きる」
「でもお前はジャンルを横断して全部読んだんだろ？」

「共感回路を補いたいからという理屈じゃ無理だ」
「実行できない」

……………


…………………


………そんな馬鹿な


生き延びるためのやむを得ない勉強ですよ？

「まあお前はいつもそう表現するが……」
「………」
「ああ」
「"生き延びるためのやむを得ない勉強をする"のが好き」
「これだな」
篠原がなにやら納得げな顔をした。

「……いや」
「だめだな」

「やっぱり今のはなかったことにしてくれ」

鳥本は、自分に真に迫る言葉を与えてくれた相手が即座にそれを取り消したことに拍子抜けした。

「これもまた"分かった気になる"ってことだからな」

「馬鹿だな俺は」
「さっき"どう解釈しても不正解"なものの話をしてすぐにこれか」

味わうな。感じろ。
汲み取るな。見抜け。
伺うな。観測しろ。
感じるな。振る舞え。
話すな。述べよ。

篠原はもはや正しい親に下された教育をぽあっと忘れ去っており、1単語も思い出さなくなっていた。

---

鳥本はスマホ画面を見て驚いた。

篠原からLINEが来ていた。

'''来てくれたのに申し訳ない。
具合が悪いから帰ります。'''

鳥本は驚いて思わず打ち込んだ。

'''僕が着いていたのに気づいていたんですか？'''
'''いえ、お大事になさってください。'''

思わず投げかけるべき言葉の順序が乱れてしまった。

'''マンホールの蓋がなくなってた'''
'''工事の仕切りもされてないのに変だなぁと思って'''
'''鳥本くらいしかやれそうな人間が思いつかない'''
'''理由は分からないが'''

気まずくなった。

'''誰か落ちないかな'''

…………。


……。

自己回復したようにみえる。


鳥本は笑う千和を思い出していた。

千和に兄がいると知っていたがその姿は知らなかった頃、彼女から兄の間が抜けてて変なユーモアセンスの言葉をよく聞いていた。
のちに本人に会い、こちらまで脱力させられそうな言葉の数々と実際の態度のギャップ……
"目を絶対に相手に合わせない"
"最低限しか喋らない"
というあまりに非社交的な態度に、鳥本は相手の本質を完全に見誤ったのだった。

このLINEを千和さんに見せたら笑うだろうな…


ちなみに篠原は、鳥本をサイコパスだと評したのがよもや千和だとは知らなかった。