---
layout: layouts/scenario.njk
production_date: 2026-02-15
section: archive
category: scenario
viewpoint: null
persons:
  - 戸次信長
  - 本田千和
sensitive: false
rating: All-Age
content_warnings:
title: 触れるな
timeline:
  sort_key: 2026032502
  fictional_year: 2026
  fictional_month: 
  fictional_day: 
  phase: SHADOW
  routes:
   - fang
  status: fixed
  summary: 本田千和が戸次信長を抱きしめる。
---

戸次が部屋の隅で丸まっている。
千和がまた戸次を抱きしめた。
戸次「本田さーーん」
千和「篠原」
戸次「篠原さーーん」

戸次「また浮気ーー。」
戸次「浮気する人きらーーい」

千和「おい」
千和「そんなに嫌なら押し返してみろ」
千和「お前丸まって耐えてるだろ」
戸次は沈黙した。肯定だ。

戸次「……オレさぁ……」
戸次「やっと篠原さ……」
戸次「ケンさん？の気持ちわかった」
千和「兄貴の？」
戸次「超キツイねこれ」

千和はぱっと戸次から離れた。
千和「ごめん」「悪かった」
千和「でも離れて欲しかったらそう言え」
戸次「あ、ごめん、京都仕草で離れろって言いたかったんじゃなくて」
戸次「……いや同じやないかいッ」
セルフツッコミしながら横にぶっ倒れた。

戸次「心読まれるって、防御できないじゃん？」
千和「うん」
戸次「オレ、モノに触れないから防御不能じゃん？」
千和「そうだな」
戸次「これ、最悪」

戸次「耐えるしかない」

千和「悪かったって」
千和「……抱きしめるのがおれの得意技みてえなもんなんだよ……」
戸次「わかるよ」
戸次「オレも好き」
千和「……おい、おれのことハグ魔呼ばわりしたか」
千和「お前のとはちげーんだよ」
戸次「でもせずにはいられないでしょ？」
戸次は体を丸め込んだ座り姿勢を維持しながら続けた。
戸次「オレもそう」

戸次「大好きってクチでいうより伝わる」

千和はどんどん恥ずかしくなってきた。
千和「おい」
千和「やめろ」
千和「というか意味が違う」
千和「お前が大好きだから抱いたんじゃない　おれが大好きなのは別の奴だ」
↑兄貴だって言えばいいのに… 赤面している。
戸次「知ってるよーん」ニヤッとした。
千和「おれはな……」
千和「…………」
千和は自分のハグの意味を言葉にしようとした。

千和「………」

千和「駄目だ」


千和「言うもんじゃねえ。」


千和「つーか態度で示さないと意味ねえものを言葉にするとかバカだろ」
戸次「バカぁ！？」
戸次「ひどぉい」
千和「フン！」
千和「テメエとはちげえんだよテメエとはよ」
こめかみを人差し指でトントンしながら言い放った。
千和「とりあえずそうして丸まっとけ」
千和「なんか茶でも淹れるからよ」
戸次「じゃあオレ、コーラ」
千和「ごめん切らしてる」
戸次が抗議の鳴き声をあげた。


強がってんじゃねえよ……

おれの胸で泣け。