---
layout: layouts/scenario.njk
production_date: 2026-08-03
section: archive
category: scenario
viewpoint: null
persons:
  - 篠原堅
  - 本田千和
sensitive: false
rating: All-Age
content_warnings:
title: ping
timeline:
  sort_key: 2020040101
  fictional_year: 2020
  fictional_month: 
  fictional_day: 
  phase: ABSENCE
  route_type: branch
  routes: 
   - fang
  status: fixed
  summary: 働き始めた堅が疲れて帰り、布団に倒れ込む。
dev_comment: |
  子供の頃、母が友人から
  「旦那さんが亡くなった。朝になったら冷たくなっていた」
  と訃報を聞き、涙を流すのをみました。
  障害者の家族がつながるネットワークでの話だったので、
  「残された家族はどうするのだろう」
  と子供ながらに考えてしまいました。
  このことがトラウマで、寝ている配偶者の呼吸をいつも確認してしまいます。
---

堅が眠っていると、口元に暖かいなにかが近づく感覚があった。
そのまま、丸い尖ったものが口元や頬に触れることもあった、
温かい空気がかかる。
触れ返して擦り寄ると、滑らかな肌と唇で愛撫される。

千和だった。

昼寝をしたり、熟睡して迎えた朝に大抵される触れ合いだった。
鼻先でつつかれるのだ。
こうして甘えてもらえる相手にありつけた幸せをいつも感じながら、堅はちょっかいに応えていた。

相手が、堅が死んでいないか不安になって呼吸を確認にきていることに、本人は気づかないのだった。