---
layout: layouts/photo.njk
production_date: 2022-07-30
category: photos
phase: PROJECTION
viewpoint: null
persons:
  - 篠原堅
title: 絶望的な闘い
fictional_year: 2016
fictional_month: 5
fictional_date: 10
image: main.webp
thumbnail: thumb.webp
---
