---
layout: layouts/photo.njk
production_date: 2020-03-01
category: photos
phase: PROJECTION
viewpoint: 
persons:
  - 篠原堅
title: 苦しい
fictional_year: 2016
fictional_month: 5
fictional_date: 
image: main.webp
thumbnail: thumb.webp
---