---
layout: layouts/scenario.njk
production_date: 2026-08-15
section: archive
category: scenario
viewpoint: 葛城正親編
persons:
  - 葛城正親
sensitive: false
rating: All-age
content_warnings:
title: 相似形
timeline:
  sort_key: 2016050501
  fictional_year: 2016
  fictional_month: 5
  fictional_day: 5
  phase: PROJECTION
  route_type: common
  routes: 
   - all
  status: fixed
  summary: 葛城正親が、戸次信長の青春時代を資源化する。
---

戸次信長の実家に客として訪れて、家屋に染み込んだ履歴を読み解いた。

戸次信長は、高校の男子校時代に二人の学生と交際経験があった。

一人目は同級生。騙されて女役を担わされ、傷ついたようだ。

そののちに彼を慰めた上級生と交際。相手の卒業を機に関係を解消。

その記憶が忘れられないまま、自分の高校卒業後、年上の女性と付き合っては破局を繰り返している。

戸次信長の嗜好には、利用しうる傾向がある。

低身長で肉感のある身体を持つ相手を好む。

男子校時代に付き合った男性2名、卒業後付き合った女性3名いずれもそうだ。

特に二人目の交際相手に深い思慕を寄せ、彼と似た相手を心のどこかで探し求めている。

堅も身長が低い。年齢が上で、対人姿勢も寡黙なので、類似性が高い。

思い出の相手と姿を重ねうるかもしれない。