---
layout: layouts/scenario.njk
production_date: 2026-07-11
section: archive
category: scenario
phase: SHADOW
viewpoint: null
persons:
  - 篠原堅
  - 戸次信長
  - 本田千和
sensitive: false
rating: All-Age
content_warnings:
title: 路線変更
timeline:
  sort_key: 2026020101
  fictional_year: 2026
  fictional_month: 2
  fictional_day: 
  phase: SHADOW
  routes: 
   - fang
  status: fixed
  summary: 戸次信長が本田堅に入籍当時の思い出を聞く。
---

戸次「篠原さぁん」

戸次「いつ結婚したの？」

堅「いつだったっけ…」
千和「コロナ禍んときだろ」
堅「じゃあ2020年だ」
千和「なんでその聞き方なら西暦言えんだよ…汗」
戸次「オトコが苗字変えるの、珍しくない？」
堅「そうだろう」
堅「苗字を捨てたかったんだ」
戸次「篠原を…？」
堅「葛城を、だ」
戸次「あぁ、そっか……」
堅はFANGメンバーの前でだけ偽名《《篠原》》を使っていた。こちらも忌むべき名前だ。しかしそれ以上に、本来の苗字は父との繋がりを示し、暴力団と深い関係を持つ家系の持ち物でもある。
戸次「苗字変えるの、頭バグるよね」
堅「本当に混乱した」
千和「？」
千和「なんでオメーが経験者ヅラすんだよ？」
戸次「オレ小学生のとき、家の都合で苗字変えたから」
千和「あ？そうなのかよ」
児童養護施設育ちのシックスセンスが"この話題は掘るのが危険だ"と告げるのを感じて、千和はサラッと流した。
堅「でも、感動したぞ」
堅「すごく助かった」
戸次「？ どゆこと？」
堅「名前を書くのが楽でしょうがなかった」
堅「画数が一気に減ったから」
葛城から本田への変更は、確かに劇的だ。
堅「ハンコも買いやすくなったし」
千和「ありがちだもんなー」
戸次「へー」
戸次「オレはその辺の店でハンコ売られんのヤダ」
希少な苗字の人間が述べた素直〜な感想に、夫婦は笑った。
戸次「変な名前からマシになったから嬉しかった」
千和「信長は変じゃねーのかよ」
戸次「変いうな ヒトの名前」
戸次「前の苗字《《野田》》だし！」
戸次「野田 信長！」
千和が容赦無く爆笑してしまった。