---
layout: layouts/scenario.njk
production_date: 2026-06-17
category: scenario
phase: FANG
viewpoint: ND
persons:
  - 篠原堅
  - 本田千和
sensitive: true
rating: R18
content_warnings:
  - 性行為
title: モノになりたい
fictional_year: 2017
fictional_month: ND
fictional_date: ND
---
堅は千和と付き合ってから、何回も体を重ねるうちにようやくさまざまな恐怖や防御機構が作動しなくなってきた。

FANGから離れて久しいし、関係者も接触してこない。

父の恐怖から距離を置き、安全を確認できた成功体験で記憶を重ね塗りしつつあった。

そんな中、自分に身体を芯まで委ねているときの千和が、ひっかかることを口走った。

「……おれは兄貴のモノになりたい……」

愛する兄に侵食される快感に浸りながら、妹が続けた。

「…兄貴なら……おれを…」

……。

どういうことだ　千和……


まさか…


陥りたいのか？俺と同じ構造に…


自分を”壊し”たくて戸次さんに抱かれるあの構造に？


堅は片手で千和と恋人繋ぎをして上体を起こしていたが、
千和に覆い被さって、自殺未遂でできた無数の傷が走る胴体を千和と密着させた。
性器は千和の中に深々と刺さり込んでいる…

堅「……なにをしてほしい？」
千和の唇を舌で舐めたのち、首元に顔を埋めた。
発生しつつある思考負荷を誤魔化している。
千和は黙り込んだ。


「………あいしてほしい」


堅は頭が真っ白になった。


愛してほしい？


堅「……随分と難解なお願いだな」

堅は正直な感想を述べた。
変に本音を隠したり編集したりすべきときではないと直感していた。
とはいえ過度に誠実である堅はいつだって正直なのだが。

千和「……うん」
千和「…おれもわかんない」

堅に深く身体的に一体化してもらっている安心感からか、
千和も正直だった。

千和「もう愛してくれてるのは知ってるのに」
今度は千和が堅の額に頬をすり寄せた。


千和「…でもなんか」
千和「油断できなくて…」
堅「油断？」

千和「兄貴は戸次のとこに一回いったし」
堅は胸がチクっとした。
千和「ママは”ケン”が死んだらずっと”ケン”の話ばっかだったし」
“ケン”は千和の実の兄だ。幼少期交通事故で家族全員が巻き込まれ、彼だけが死んだ。

千和「…….」
千和「そうだ」
千和「”ケン”のせいだ…」

千和の母は、息子”ケン”を亡くしてから塞ぎ込み、千和が幼いながら懸命に支えようとした。
千和の外見が日本人と異なるがゆえの、いじめの被害を隠しながらの献身だ。
特殊能力…”自分の血液に痛みを消し去る効果を付与する力”が発現したのは、その数ヶ月後だった。

堅「俺のせいじゃないのか？」
千和「ううん、これは死んだ”ケン”の話」
堅「そうだが……」

堅「俺もお前の前から一度いなくなった」

千和「いなくなったのはおれの方が先だろ」
千和「鳥本のせいで」
堅「…あぁ…」

千和は高校生の時、当時鬱に苦しんでいた堅から離れる決断をした。
鳥本の医学的な説明で自分のオブジェクトの曖昧さを認識させられて、和痛能力を喪失。
堅の苦痛をやわらげることが不可能になった。
また、高3である千和が、自分の進路を考えるよりも堅の介抱を優先していたことは純然たる事実であった。
「一度自分の環境を確定させてから堅のところに戻る」…。
千和はそのつもりで堅に別れを告げ、堅も千和に自分を優先して欲しかったから微笑みで送り出した。
胸部から腹部にかけて走る傷跡が激しく痛むのを無視しながら、兄として正しい行動をとった。

すべては鳥本が、状況のゆがみを利用して千和を堅から引き剥がし、永久に自分のものにするための策略だったのだが。

堅は千和が「”ケン”のせい」「鳥本のせい」と正しく他人に責任を見出していることに安心した。
もし千和が全てを自分の責任にしていたら、堅では説得不能な気がしたのだった。