---
layout: layouts/photo.njk
production_date: 2019-08-03
category: photos
phase: PROJECTION
viewpoint: 戸次信長編
persons:
  - 戸次信長
title: 背中
fictional_year: 
fictional_month: 
fictional_date: 
image: main.webp
thumbnail: thumb.webp
---
