---
layout: layouts/scenario.njk
production_date: 2026-04-08
section: archive
category: scenario
viewpoint: 延金英一編
persons:
  - 延金英一
  - 葛城正親
sensitive: false
rating: All-Age
content_warnings:
title: 蘇生
timeline:
  sort_key: 1976030101
  fictional_year: 1976
  fictional_month: 
  fictional_day: 
  phase: "NULL"
  routes:
   - fang
  status: fixed
  summary: 延金英一が、発狂した葛城正親の蘇生方法を発見しかける。
---

1976年前半。
天才詐欺師 延金 英一（21）が、葛城組の命令で葛城正親の世話係となった。

正親は廃人となっていた。

なんの呼びかけにも答えず、ぐったりと車椅子に座っているか、布団に寝かされているかのどちらかであった。
だが人が建物を出入りするときだけガクガクと痙攣した。
その挙動のトリガーを延金は不審に思った。
ある日ひらめいた延金は、正親を車椅子に座らせて屋外に連れ出した。

建物から外に出た瞬間、正親の呼吸の仕方が異常になった。


まるでずっと窒息させられていた人間がようやく解放されたかのような呼吸だった。


尋常ではないと察した延金は、適当な木陰に車椅子を置き、正親を適当に放置した。

明らかに様子がおかしかった。こんなこどもがいるだろうか。

目が大きく見開かれているのに何も見えていないようだった。
焦点が"合わない"のではない。"合わせられない"かのようだった。

門限になったので延金は正親を自宅に送った。
玄関に車椅子を押し込んだ。


延金の鼓膜が破れそうなほどの絶叫が、車椅子に乗ったこどもから発せられた。