---
layout: layouts/scenario.njk
production_date: 2026-03-23
section: archive
category: scenario
viewpoint: null
persons:
  - 篠原堅
  - 戸次信長
sensitive: true
rating: R18
content_warnings:
  - 性行為
title: 抱かせてほしい
timeline:
  sort_key: 2017032001
  fictional_year: 2017
  fictional_month: 
  fictional_day: 
  phase: SKIN
  route_type: branch
  routes:
   - skin
   - presence
  status: fixed
  summary: 篠原堅が戸次信長をいたぶる。
---

篠原が倒れる前と同じような流れで、ラブホテルに向かった。
篠原が「抱かせてほしい」と申し出た。
虚な声だった。
戸次はすでに嫌な予感がしていたが、従った。
自分に拒否権はないと思ったらしい。
篠原は戸次を四つん這いにさせた。
後ろから戸次の腰を掴んだ。


篠原「お前、俺の言葉を笑ったよな。」


戸次「…へ？」
一気に突き入れた。戸次が叫ぶ。
篠原「”なかに入れてほしい”って言ったら”こーわ”とか言ったよな。」
戸次「い、…言った….」
かなり苦しそうだ。
篠原は何も感じない。
適当に4、５回突いた。
戸次が苦しんでいる。
篠原は何も感じない。
篠原「確かにあれは気持ち悪かったな。」
戸次の前立腺があるであろう場所に自分の陰茎を突き立てた。
篠原「精一杯の告白だったのに。」
冷え切った声だ。
篠原「”フツーはこう言う”だなんだ」
乱暴に戸次に刺激を与えた。
篠原「お前は言葉に対する感受性が無いのか」
篠原「言え。俺の体の好きなところ。」
照明の位置関係によって、戸次を見下ろす篠原の顔には濃い影がかかっていた。
赤い虹彩が爛々と輝いていたが、それを唯一観測できる特殊能力者は今
背を向ける形でベッドに縫い止められている。

戸次が篠原の体の好きな部位を苦しみながら述べた。
以前に聞いたことのある部位だ。

篠原「不合格だ。」
篠原「やり直せ。」

篠原「そんなの同じ体格のやつがいたらいくらでも言えるだろ。」

篠原「お前よく俺に”自分の体の好きなところを言え”なんて抜かせたな…」

篠原は自分が長台詞を吐くあまり腰を振るのが疎かになっていることに気づき、
何度か戸次に悲鳴をあげさせた。
”性交”という名の制裁は続く。

篠原「お前の体の好きなところなんて言うんじゃなかった。」
「言う義理なんてなかった。」

「”全部好き”って雑に要約されるんだぞ？」

「情報を落とされる。」
「好きなものは語らないに限る…」
赤い残光が揺らぐ…

戸次はおよそ恋人に抱かれている人間とは思えない感じの呻き声をあげている。
戸次の局部が萎えていることに篠原は気づかない。
というか戸次の状態に無関心だ。

戸次「…篠原、さん…」
突き続けられながら声を絞り出した。
戸次「…ごめん…」

篠原「謝るな。」
篠原「どうせ直せないだろ？」

そのまま篠原が黙って腰を振り続けた。
戸次は完全に落ち込んだ状態で、もうサンドバッグになる決意で篠原に体を開け渡していた。
しかし、篠原が達して満足するイメージがなぜかできなかった。

戸次は肛門の異物感に苦しみながらも、腰に妙な感触を覚えた。
何か伝っている気がする。


…….伝う？



篠原が動きを止めた。
戸次は後頭部を手で抑え込まれてしまった。
振り返ることができない状態だ。


無音になった。

自然と戸次は耳をそばだてた。


篠原「……直すな。」


戸次はハッとした。
篠原の呼吸音の乱れから状態を察したからだ。
篠原「お前は何も直すな。」
腰に”落ちてきているもの””伝っているもの”が何かも察した。

篠原がまた何も言えなくなった。

戸次「…….」
戸次はサンドバッグになるのをやめた。
戸次「ごめん、オレ……」
戸次「……気をつけるから」
篠原「いや、いい…」
篠原「無理だろ」

篠原「お前は雑だ」


戸次の後頭部を抑え込む手に力がない…


しかし戸次は振り返らないでおいた。


今、年下の恋人に顔を見られるのは死ぬほど嫌だろう。



戸次は黙ったままでいることにした。
背中に落ちる水滴が止まらない。


篠原「……お前は雑なんだ……」



「………的確すぎる。」




どういうことなのか戸次にはわからなかった。



全て先回りしたように篠原が言葉を続けた。
「オブラートを剥がすな」

戸次の後頭部に添えられた手が髪を撫でた。
背中に水滴が落ち続けた。

「なんで俺が遠回しな言い方をするか分かるか」

髪を撫でられ続けた。
背中に水滴が落ち続けた。

「言葉にすることすら苦痛なんだぞ」

髪を撫でられ続けた。
背中に水滴が落ち続けた。

「記憶を読まれるから」

髪を撫でられ続けた。
背中に水滴が落ち続けた。


水滴は止まらない。


戸次の肛門から異物が抜き取られた。
不意打ちの刺激に思わず声を漏らした。

後頭部に添えられた手は優しい力だったが、振り返ることは阻止しそうだった。

篠原「俺はもう帰る。」
沈んだ声だ。

「代金は俺が払う。」

「…..俺が出ていくまでこっちを見ないでくれ。」
一方的に布団をかけられて視界を遮断された。
「返事もするな。」
戸次はそのまま丸まっておいた。


数分後、部屋のドアが開閉する音がした。
その音すら力がなかった。