---
layout: layouts/scenario.njk
production_date: 2026-08-03
section: archive
category: scenario
viewpoint: null
persons:
  - 篠原堅
  - 本田千和
sensitive: false
rating: All-Age
content_warnings:
title: 彼のヒト
timeline:
  sort_key: 2020080301
  fictional_year: 2020
  fictional_month: 8
  fictional_day: 
  phase: ABSENCE
  route_type: branch
  routes: 
   - fang
  status: fixed
  summary: 夏の暑さをやり過ごすかのように本田夫妻が眠る。
---

真夏の休日。
冷房をつけた部屋で、堅と千和が寝ていた。

触れ合うことが会話である二人だが、夏は暑すぎるのでベタベタを控える。
それでも大の字になったまま、手はつないでいた。

千和の右手は、兄の左手に恋人繋ぎで包まれていた。
薬指と中指の付け根の間に、硬いものを感じる。

二人で選んだ、質実剛健なデザインの結婚指輪だった。