---
layout: layouts/photo.njk
production_date: 2026-07-12
category: photos
phase: PRESENCE
viewpoint: null
persons:
  - 篠原堅
title: 鈍痛
fictional_year: 2017
fictional_month: 
fictional_date: 
image: main.webp
thumbnail: thumb.webp
---
