---
layout: layouts/scenario.njk
production_date: 2026-07-11
section: archive
category: scenario
viewpoint: null
persons:
  - 篠原堅
  - 戸次信長
sensitive: false
rating: All-Age
content_warnings:
title: 査定
timeline:
  sort_key: 2017071101
  fictional_year: 2017
  fictional_month: 
  fictional_day: 
  phase: SKIN
  routes: 
   - skin
  status: fixed
  summary: 篠原堅が戸次信長に自身の自己同一性を問う。
---

篠原「……戸次」

篠原「今の俺は、壊れてるのか？」
真っ赤な瞳で、篠原が戸次に尋ねた。
戸次「……」

戸次「………うん」
篠原「そうか」

戸次「…無理してる、って思ってた」

篠原「……無理？」
篠原「俺は気分爽快だ」
篠原「睡眠も取れてるし」
篠原「以前の俺とは違ってることも何となくわかる」

篠原「……どこからが壊れた俺なんだ？」
篠原「俺は自分なりに必死に頑張ってきたつもりだったのに」

篠原「でもお前らからしたら、見えてる俺が全てだろ？」
戸次が（それはちがう）という必死な目を篠原に向けたが、篠原は裁いた。
篠原「"受け入れられる俺"しか、迎え入れないだろ？」
篠原「俺はこんなはずじゃなかったのに」
篠原「俺の笑顔は"壊れた俺"のものだった」
篠原「視線を無視する俺が"本当の俺"だったのか？」
篠原「では、あんなに楽しかった俺は一体なんだったんだ？」
篠原「……俺は……」


篠原「…俺は 受け入れられる価値がないな」
篠原は、呆れたような笑顔になった。
篠原「何が本当か分からない人間なんか、付き合いたいわけがない」
篠原「人に迷惑をかけておいて"あれは自分がおかしくなっていたんだ"なんて言われても、なんだというんだ？」
篠原「"俺は頭がおかしいので付き合うと有害な人間"と自己紹介しているようなものだ」

戸次「…じゃあ、オレは？」

篠原「……？」
篠原「なんでお前の話になるんだ？」

戸次「友達に、ずっと嘘ついてたんだ」
戸次「友達には"ペットショップって大丈夫なの？"って言われてた」
戸次「"売れ残りはどうするの？"とか」
戸次「大事に保護してるって答えてた」


戸次「……ぜんぶ 嘘」


戸次は篠原に歩み寄った。

戸次「……ねえ……」
戸次「………篠原さん………」

戸次「………ウソをつくオレのこと、受け入れてくれる……？」

篠原は真っ赤な目で戸次の沈んだ表情をまじまじと見ていた。

笑顔は、溶け去っていた。

不思議そうな顔だった。

篠原「……それは、お前………」

篠原「………だめなこと、したな」
戸次は俯く。

篠原「……でもいいじゃないか」
篠原「なにもかも、お前の親が始めた家業だろ」
篠原「お前が背負うことはない」

篠原の瞳の色味が、目を刺すような赤色からくすんだ色に落ち着いていく。

篠原「盗みだって親の指図だったろ」
戸次が否定したいような眼差しを篠原に向けた。
保健所からパピーミルにターゲットを切り替える提案をしたのは、戸次本人だったからだ。
篠原は真面目な表情のまま、どこかを見つめた。

篠原「………ああ」
篠原「そうか」

篠原「よく分かった」


篠原「これか」
篠原「親父が人を壊せる理由は」


篠原「みんな、見せたい自分だけ特定の相手に見せるのに、あいつは全て暴くんだ」

篠原「それで矛盾を突けば、誰も逃げ場が無くなる」

篠原がふたたび赤い瞳を取り戻しながら、戸次に顔を向け直した。

篠原「戸次、今のは聞かなかったことにするよ」
篠原「俺を慰めるために無理やり打ち明けたことだろう」
篠原「すまなかったな」
戸次は呆然とした表情で篠原をみた。

篠原「俺はもう歪み続ける人間であることを受け入れるしかないんだ」
篠原「だから俺は、ふつうの人生は**向かない**」

篠原「化け物は化け物なりの道を探さないとな」
篠原は可愛らしく笑った。