---
layout: layouts/scenario.njk
production_date: 2026-03-23
section: archive
category: scenario
viewpoint: null
persons:
  - 篠原堅
  - 鳥本春樹
sensitive: false
rating: All-Age
content_warnings:
title: 人間同士の会話
timeline:
  sort_key: 2017022001
  fictional_year: 2017
  fictional_month: 
  fictional_day: 
  phase: SKIN
  routes:
   - skin
   - presence
  status: fixed
  summary: 篠原堅が鳥本春樹の苦労を指摘する。
---

篠原が鳥本のもとを訪れた。
適当に話をしたくなったのだ。

話は「鳥本がいかに人当たりがいいか」という話題になった。
篠原は鳥本に所感を述べた。

篠原「…孤独な戦いだったんじゃないか？」

鳥本、疑問を抱いたような笑み。
篠原「すべての言葉を他人は自分に都合よく解釈するだろ？」
篠原「みんなそれを共通認識にするんだ。」
篠原「間違った言葉を口にしたら評価が下がり、それが伝播していく。」
篠原「”他者との交流”というものは存在しない。」
篠原「人数分の銃口が自分を向く。」
篠原「そして言動がジャッジされて、人数分のシステムに反映されるんだ。」
篠原「ちょっとでも本音を口にしたら、システムに対するノイズになってしまう。」
篠原「そして自分の思うように操作することができなくなっていく。」
篠原「全てを制御しなければならないんだ。」
篠原「意図、表現、タイミング、表情、仕草、立ち位置」
篠原「……まるで外交官のように」
篠原「でも周りはそんなこと気に留めやしない。」
篠原「お前と同レベルで思考して振る舞えるシステムは存在しない。」
篠原「もし手の内を晒しても”お前は考えすぎなんだ”と軽んじられるんだ。」
篠原「お前の努力によって、どれだけ快適で安全な環境が維持されているのか、思いも馳せずにな。」

鳥本、沈黙。


真顔だった。


篠原「すまん」
篠原「一方的に喋りすぎた。」


篠原「だからどうこうという話ではないんだ」
篠原「他人に一方的に自論をぶちまける楽しさを知ってしまってな」
篠原「鳥本は特に人に合わせてくれるから黙っててくれたんだろ？」
篠原「すまない。」
篠原「…ありがとうな」


鳥本は…




……ため息をついた。


鳥本「……その話……」
真顔のままだった。

鳥本「お父さんから聞いたんですか？」

篠原「？」
篠原「葛城正親か？」
鳥本「はい。」
篠原「いや、違う。」
篠原「全部俺の妄想だ。」
篠原「まぁ…なんだ」
篠原「色々思うところがあっただけで…」

なぜ父の名前が出てくるんだ？

鳥本「そうですか」ため息まじりだ。
鳥本は眼鏡を外して目を抑えたのち、髪をかき上げる仕草をした。


…？？？


鳥本がなんだか元気がない。
こんな姿、初めてみた…
篠原「…」
篠原「……どう…したんだ？」

鳥本が目を閉じた。


鳥本「…今僕が何を考えているか当ててくれませんか」
篠原「！？」


篠原「いや、それは無理だ…」
篠原「適当な単語でも思い浮かべられてたら太刀打ちできないし…….」
篠原「そんなことができるのは父だけだ」

篠原「話が読めない。教えてくれ。」

鳥本が何か考えるような顔をしたのち、篠原に視線を向けた。


硬い表情だった。


篠原「……」
特殊能力をガンガンに焚いたままの、赤い瞳で見つめ返した。


篠原「本当にどうした？」



鳥本「…心を読まれたと思いました。」
鳥本「最近の篠原さんは様子がおかしかったので、能力が変質したのかと」
篠原「いや？俺は全然だ」
篠原「能力は変わらない。」
鳥本「そのようですね」
鳥本「そんなにずっと麻酔能力を維持して、なんの痛みを抑制しているんですか？」
篠原「あぁ？これか？」


篠原「心だ。」


鳥本は目を見開いた。

篠原「麻酔能力の真髄を掴んだ、気がする。」
篠原「心も所詮は脳波だからな、介入できるんじゃないかと思ったんだ。」

鳥本は黙った。

鳥本「……葛城さんのことを引き合いに出した上で、”心を読まれたと思いました”と僕は言いました。」
鳥本「篠原さんはどう感じましたか？」
篠原「？」
篠原「何も…」

篠原「ふーん、て感じ、…だが……？？？」

鳥本「読心能力者である葛城さんを引き合いに出されたんですよ？」
篠原「うーん。ああ、そうだな？」
篠原「？」

鳥本が興味深そうな表情を浮かべながら、頬杖をついた。
鳥本「嬉しくないんですか？」
篠原「？？」
鳥本「僕の本音を的中させたんですよ？」
篠原「ん？」
篠原「ああ、そうなのか？」
篠原「あ、いやいや」
篠原「お前はそうやって人をノせるだろ。信じないぞ。」
鳥本は思わず笑顔になった。
鳥本「僕は信用がないみたいですね」
篠原「そりゃそうだろ笑顔で毒舌だからな」
篠原の唐突な悪口に鳥本はまた笑った。
「妹」の千和を思わせる辛口さだ。
篠原はいたって真面目な顔だった。

鳥本はまたため息をついた。

鳥本「そこまでいうなら……」
鳥本「ここから先僕がいうことも、全てまともに取りあわないでくれますか？」

篠原「？　ああ」

沈黙。

鳥本はまたまたため息をついた。


鳥本「世の中馬鹿しかいない」



鳥本「あなたが言った仮説はすべて当たりですよ」
鳥本「全くどいつもこいつも…」

「話は聞かない」
「空気も読まない」
「意図も読まない」
「役割も考えない」
「力学も読まない」
「立場も顧みない」
「表情も読まない」
「言葉も理解しない」
「思考すらしない」

「僕の振る舞いに騙されっぱなしですよ」
「僕は国内トップの医大に入ったんですが…」
「偏差値が74です。上位0.8%にあたります。」
「そこに通う学生ですら話になりませんでした。」

「なぜ僕が小説を大量に読んだと思いますか？」

篠原「ん？」
篠原「心の理論を頭に叩き込んで、共感回路を補うため？」

鳥本「そうです。表向きは処世術です。」
鳥本「でも一応、サブテーマもありました。」

篠原「？」

鳥本「僕の”人をノせる技能”を、病気に苦しむ患者さんに使ったらどうでしょうか？」

篠原「？」
篠原「なんだろ。」

篠原「せっかくだからお前の口で説明してくれ。」


鳥本「希望を持たせられるんですよ」

鳥本「麻酔薬を使うことなく、痛みに耐えさせるんです。」

鳥本「交通事故に遭って足を失った人への声かけの話、聞いたことありますか？」
篠原「なんだ、それ？」
鳥本「当事者は足を失ったことに気づかず苦しんでいます。」
「駆けつけた救急隊員は、そのことに触れずに患者を励ますんです。」
「しかし、通行人がその光景を見て無思慮に叫んでしまいました。」
「”うわ、足がない”」
「患者はそのことにショックを受けて生命力を失い、死んでしまいました。」

鳥本「医療だけでは救命できません。最後は患者さんの精神力と生命力にかかっています。」
「もし僕のあらゆる話術で患者さんの精神力を維持できるなら、救命率も上げられるのではないかと考えました。」
「しかし周りの学生に…」
「いや、教授にすら…」
「そういう設計を考慮する者は見受けられませんでした。」
「人体の構造と薬物の効果という、ごく初歩的な知識の暗記で四苦八苦してるんです。」
「システムのハードウェアだけ見ても仕方がないじゃないですか。」
「さらに悪いことに、その分野の知識だけ習得していれば大丈夫だろうと慢心しているようにすら見えました。」
「もちろん、精神科や心療内科という分野の人たちはマシですが…」
「医学部のカリキュラムにないんです。」
「他人を操る技能も、自分を操る技能も。」
「システムエンジニアという職業なら、自分のマインドセットや他のエンジニアへの働きかけを磨く大切さがよく説かれるらしいです。」
「自分の脳を製造装置にして、ソフトウェアという商品を作り出しますから、できる限り外乱を取り除きたいんでしょうね。」

篠原は帰宅してから、鳥本が通うという医大のカリキュラムのpdfを気合いで全部読んだ。500ページもある大作だ。

鳥本のいう「自分や他人を操る技能」を扱う科目は、ゼロではなかった。
多分、「行動科学」というやつだろう。
あまりにも他の科目が多いから、鳥本は誤解したんだな。

しかし……

鳥本………

これは無理だ……

常人にはこんな知識量の他に追加の技能を学ぶ余力なんてない……

お前のように特別な努力をして共感回路を補った者や、
俺のように幼い頃から行き過ぎた内省の習性を埋め込まれた者でないと、
この技能の必要性や効果なんて理解しようがないんだ……

……いや……

日常生活を送る人間にここまで細やかな配慮は、本来不要なんだ……
70点を100点にするようなものだ。
0点を70点にするより、70点を100点にする方が多大な労力を要すると聞いたぞ…。

本当にこの技能が必要なのは、鳥本が言うように「救命」の場…
………一手のミスが破滅を招く修羅場なんだろう。
だが、鳥本は人間を見限って「死にかけた人間を救う進路」ではなく、「もう終わった人間をいじり倒す進路」……法医解剖医を選んでしまった。
まったく、なんてことだろうな。


………でも、それで鳥本が楽しければ、それでいいかー。