---
layout: layouts/photo.njk
production_date: 2024-08-01
category: photos
phase: PROJECTION
viewpoint: null
persons:
  - 篠原堅
title: 虎の爪痕
fictional_year: 2016
fictional_month: 
fictional_date: 
image: main.webp
thumbnail: thumb.webp
---
