---
layout: layouts/scenario.njk
production_date: 2026-02-23
category: scenario
phase: FANG
viewpoint: 葛城正親
persons:
  - 葛城正親
sensitive: true
rating: R18-G
content_warnings:
  - こどもの拷問
title: 死亡
fictional_year: 1975
fictional_month: ND
fictional_date: ND
---
1970年。

ヤクザの組長の家に、葛城正親は生まれた。

そのこどもは決して陽の光の中に出られない未来が決定づけられていた。


1975年。

5歳の時、折檻のため蔵に幽閉された。

正親はそこで特殊能力を覚醒した。



「自分が居る"建物"に存在するすべての人間の身体感覚ならびに意識の受信。

その受信対象情報は、現在いる者ならびに過去に遡るまでその"建物"に居た人間すべて。」


蔵は組が拷問のため使用していた。


正親は一瞬で発狂した。


拷問を受ける身体負荷ならびに精神負荷 数百人分、
拷問を与える精神負荷 数十名分が、
たった５歳のこどもの脳に焼き付けられたからだった。