---
layout: layouts/episode.njk
production_date: 2019-12-31
category: episode
phase: PROJECTION
viewpoint: FANG
title: 2016年4月4日 11時台 FANG所有ビルにて
summary: 
thumbnail:
page_count: 6
timeline:
  sort_key: 2016040401
  fictional_year: 2016
  fictional_month: 4
  fictional_day: 4
---