---
layout: layouts/episode.njk
production_date: 2019-08-24
category: episode
phase: PROJECTION
viewpoint: 戸次信長
title: Don't enter the TERITORRY(2/3)
summary: 密かに能力を使ってしまった戸次は、なんと篠原に助け舟を出された。やがて戸次は、篠原の真意を知ることに...。
thumbnail: thumb.webp
page_count: 19
timeline:
  sort_key: 2016051001
  fictional_year: 2016
  fictional_month: 5
  fictional_day: 10
---