---
layout: layouts/scenario.njk
production_date: 2026-03-23
section: archive
category: scenario
viewpoint: null
persons:
  - 篠原堅
  - 戸次信長
sensitive: true
rating: R15
content_warnings:
  - 性的緊張
title: 背中
timeline:
  sort_key: 2017040201
  fictional_year: 2017
  fictional_month: 
  fictional_day: 
  phase: SKIN
  routes:
   - skin
   - presence
  status: fixed
  summary: 篠原堅が戸次信長の気を引こうとする。
---

篠原の要請で戸次は彼を抱いた。
二人で全裸のままベッドに横たわり、向かい合った。

戸次の表情が浮かない。
「目を覚ます」ことにした篠原は、短髪になった戸次を見て驚いたが……
………この髪型になってから、戸次が無邪気に笑うさまを見たことがなかった。

どうしてだろう……。

篠原は倒れる前後の自分を比較した。
以前
・喋らない
・目を合わせない
・筋肉質
今
・喋りすぎ
・常に戸次の目を覗き込む
・ガリガリ

ああ………
これは………

篠原「……以前の俺の方がよかったんですか」
篠原「戸次さん…」

一方的に宣告をして、篠原は顔を背けた。
以前と同じ世界を拒絶する眼差しを抱えながら。

篠原はそれ以降戸次の顔を見なくなった。
戸次も篠原の顔をのぞき込まない。背中しか見ない。

篠原は……

……計算づくでやっていた。

以前の自分を模倣して、戸次に視線を向けているのを悟らせないようにした。
なるべく壁を見た。
22年間やってきた事だったので、容易に視線を封じ込めるふるまいは再現できた。

だが一緒に戸次への恋慕のパンクも再現された。

体、鍛えようかな……

そうしたら戸次は俺のことをまた見てくれるようになるのか……？

篠原は、イズモバイト時代戸次が自分をどんな目で見ていたか知らない。目を背けていたからだ。
原初の戸次の眼差し。
今の篠原が求めているのはその眼差しなのだが、篠原にはわからない。

戸次は何を考えているんだろう………
聞きたいのに聞けない……

………俺は馬鹿だ

昔のように振舞ったら全部昔に戻るに決まっているだろ………
あんなにベラベラと喋っていた自分が嘘のようだ………馬鹿にも見える………
………いや
………俺は変わる
もうあんなことはしない
俺の振る舞いのせいで戸次が自動的に加害者のような立場に置かれた
これは俺の病理だ

……だが、どうすれば…………

悩んでいる篠原は気づかない。

自分の瞳の虹彩が黒色に戻っていることに。

篠原から遊びに誘うことが増えた。

横浜をぶらついていた時のことだ。
海が見える。
篠原は戸次を見ないまま、海に体を向けて柵にもたれかかった。
戸次「篠原さん」
戸次「全然オレのこと見ないね。」
篠原「……ああ………」
篠原「こっちのほうが好みかと思ってな」
かろうじて敬語を封印できた。

戸次「篠原さぁん」
戸次「0か100かしか無いのォ？」
篠原「眼差しっていうのは意図をもって使うものだろ」
篠原「適当に泳がしとくなんて俺にはできない」
昔の篠原と違うところ。
話題に応じて、展開させるところだ。

篠原「3ヶ月待ってろ」
篠原「体を元に戻す。」
能力を使って強制的に鍛えるつもりだ。
戸次「なにそれ」
戸次「元に戻すって？」
篠原「鍛えてた頃の姿に戻る。」
篠原「同じ背中でも見るなら好みの方がいいだろ」
言ってから篠原は自分の傲慢さに気づいた。
戸次が俺をいつまでも見つめてくれるわけなんてないのに……

戸次「見ててほしいの？」

図星を突かれた。
篠原「………」
なんて返そうかな…
篠原「そりゃ/戸次「返事しないで。」
！？
戸次「そのまま海向いてて。」
？
戸次「何にも言わないでよ。」
………？！
篠原は振り返りたかったが、姿勢を固定せざるを得ない。
何を言い出すんだ、こいつ？
いきなり体を鍛える宣言をした自分のことを棚に上げて、篠原は訝しんだ。

背中に気配を感じた。

柵にもたれかかった自分を包むように戸次が柵に両手を置いた。
篠原の左側頭部に、戸次が右頬をつけた。


戸次「篠原さんはオレに見つめててほしいの？」


………
…………おいおい………
相手に黙れと言っておきながら質問を投げかけるとは何事だ……

頭では論理的な矛盾を指摘していたが、篠原は崩れ始めていた。

赤面していた。

頭がクラクラしてきた…
クソッやられた！

篠原は目を閉じて項垂れた。

発話するなとは言われたがジェスチャーで答えるなとは言われてないぞ……
……項垂れたが………
…………
………首を縦に振る勇気がおきない…………

左耳に戸次の吐息を感じた。
唇が至近距離の気がする。

「最近篠原さんばっかり誘ってくれたし、今度はオレに誘わせてよ」
「いいとこ探すから。」

戸次は篠原から離れる……かと思ったら、篠原の左耳を一瞬唇に含んだ。
篠原は声を殺すことに成功した。

「オレもう帰るね。」

戸次の気配がしなくなった。