---
layout: layouts/photo.njk
production_date: 2026-05-25
category: photos
phase: PROJECTION
viewpoint: null
persons:
  - 延金英一
  - 葛城正親
title: 始点と終点
fictional_year: 2016
fictional_month: 
fictional_date: 
image: main.webp
thumbnail: thumb.webp
---
