---
layout: layouts/scenario.njk
production_date: 2026-02-04
section: archive
category: scenario
viewpoint: null
persons:
  - 篠原堅
  - 本田千和
sensitive: false
rating: R18
content_warnings:
  - 性的衝動
title: 空洞の疼き
timeline:
  sort_key: 2017040101
  fictional_year: 2017
  fictional_month: 
  fictional_day: 
  phase: FANG
  routes:
   - fang
  status: fixed
  summary: 本田千和が、苦しむ篠原堅を介抱する。
---

堅が「体」の疼きに呻いている。
戸次が堅の身体に性器をつかって教え込んだ感覚だ。
刺激したら、魂が壊れていた時代の記憶のトリガーになりかねない。

千和はだまって抱きしめてやることしか出来ない。
気持ち悪い光景を見せたことを堅は詫びた。
千和は否定する。
ただ、ひたすら辛そうで、自分から悪夢を見に行っているようだったと伝えた。
千和は、堅が乱れる姿に欲情してしまった記憶と罪を厳重に自分の中に封印している。

自分から苦しみに行っているという指摘を堅は肯定した。

堅は誰も悪くないといった。戸次を庇っている。
千和は口では同意するが、内心は明確な元凶がいると叫んでいた。


葛城正親…………！


それでも千和は言及しなかった。

堅を、人生を取り戻す戦いにけしかけたくない。
堅は十分過ぎるほど戦ったし傷ついた。

どこまでも逃げればいい………おれと一緒に………。