---
layout: layouts/scenario.njk
production_date: 2026-08-30
section: archive
category: scenario
viewpoint: 
persons:
  - 篠原堅
  - 本田千和
sensitive: false
rating: All-age
content_warnings:
title: スコープ
timeline:
  sort_key: 2018050501
  fictional_year: 
  fictional_month: 
  fictional_day: 
  phase: ABSENCE
  route_type: branch
  routes:
    - fang
  status: fixed
  summary: 本田千和が、篠原堅の瞳をみつめる。
---

ある休日の朝のことだった。

二人で眠っていたが、目を覚ましたのちなんとなくごろごろしていた。

お互いに向き合う形だ。

堅は、千和のくすんだ水色の瞳を見つめている。

いつも見惚れずにはいられない瞳だ。



千和も、堅の顔をじっとみていた。

千和「…兄貴ってさ」

千和が切り出した。

千和「昔より目を合わせてくれるよな」

堅「そうか？」

堅「…気にしたことがなかった」

堅「元気だった頃に戻ったくらいのつもりだった」

千和「いつだよ、それ」

堅は唸った。相当昔のことだ。

堅「…俺が中学生くらいのときかな」

千和「……」

千和「あんまり覚えてねえよ」

無理もない。千和は当時小学生だ。

千和「床でうめいてる印象しかねえ」

それは堅が高校生になってからの話だ。

堅は苦笑いで相槌をうった。

千和はじっと堅を覗き込み続けている。

堅は千和の、美しい瞳に心癒されている。



堅は、気づいていなかった。

千和は、堅の暗い灰色の瞳に自分が映り込んでいるのを眺めていたのだ。

堅の視界はきっといま、こうなのだろうと千和は思い描きながら、その鏡像を眺めていた。

堅が視界いっぱいに自分をとらえてくれている事実にひたっていたのだ。

しかし、堅がその可能性に気づくことはできないだろう。

千和の明るい色の瞳では、角膜に映る景色をみつけにくいからだ。