---
layout: layouts/episode.njk
production_date: 2022-08-13
category: episode
phase: PROJECTION
viewpoint: 戸次信長
title: The line of DUTY
summary: 戸次は、口論した篠原と二人きりで過ごす羽目になって気まずい思い。そんな中、篠原の様子が少し妙で...！？
thumbnail: thumb.webp
page_count: 27
timeline:
  sort_key: 2016051004
  fictional_year: 2016
  fictional_month: 5
  fictional_day: 10
---